node-red/flows.json
[{"id":"47da1c69.8f02f4","type":"tab","label":"Алиса/телеграм","disabled":false,"info":""},{"id":"9ce55dc8.4adfb","type":"tab","label":"Кухня","disabled":false,"info":""},{"id":"f73184be.b12ee8","type":"tab","label":"Детская","disabled":false,"info":""},{"id":"f4a79bd5.d924f8","type":"tab","label":"Нежилые","disabled":false,"info":""},{"id":"592ad21d.4a9acc","type":"tab","label":"Спальня","disabled":false,"info":""},{"id":"86b021b.9886ae","type":"tab","label":"Гостиная","disabled":false,"info":""},{"id":"94519236.ee30c","type":"tab","label":"Коридор","disabled":false,"info":""},{"id":"efc1184c.9b6fb8","type":"tab","label":"Кабинет","disabled":false,"info":""},{"id":"aced6319.729be","type":"tab","label":"System","disabled":false,"info":""},{"id":"c3c5d1d4.14f98","type":"tab","label":"Security","disabled":false,"info":""},{"id":"15fec91b.db6397","type":"tab","label":"Experiments","disabled":true,"info":""},{"id":"ec405824.e94c68","type":"tab","label":"test","disabled":false,"info":""},{"id":"137e3cae.a97503","type":"tab","label":"Новый год","disabled":false,"info":""},{"id":"480915c9.c5516c","type":"subflow","name":"Motion light","info":"condition_template — дополнительное условие, по которому должен включаться свет (например, только ночью)\nшаблон должен возвращать on, если свет нужно включать и off, если не нужно","category":"","in":[{"x":420,"y":80,"wires":[{"id":"5b35ab52.f8b6c4"}]}],"out":[],"env":[{"name":"switch_id","type":"str","value":""},{"name":"sensor_id","type":"str","value":""},{"name":"timeout","type":"num","value":"2"},{"name":"condition_template","type":"str","value":""}],"color":"#87A980","icon":"font-awesome/fa-lightbulb-o","status":{"x":640,"y":640,"wires":[{"id":"9a5eea25.ac3258","port":0}]}},{"id":"a9a4b17b.9f4fa","type":"subflow","name":"Extractor","info":"","category":"","in":[{"x":140,"y":40,"wires":[{"id":"db9ca933.21e338"}]}],"out":[],"env":[{"name":"humidity","type":"str","value":""},{"name":"switch","type":"str","value":""}],"color":"#3FADB5","icon":"font-awesome/fa-shower","status":{"x":400,"y":520,"wires":[{"id":"4b09e6c.a5f6618","port":0}]}},{"id":"de32d3e9.bd592","type":"subflow","name":"Notify both","info":"","category":"Telegram","in":[{"x":60,"y":80,"wires":[{"id":"dc56ddd9.b4d94"}]}],"out":[{"x":500,"y":80,"wires":[{"id":"bf456d8e.2ecbb","port":0}]}],"env":[],"color":"#00AAFF","icon":"font-awesome/fa-bullhorn"},{"id":"6dc0acd0.e979f4","type":"subflow","name":"Notify Dima","info":"","category":"Telegram","in":[{"x":60,"y":60,"wires":[{"id":"91b04de4.8b2f9"}]}],"out":[{"x":460,"y":60,"wires":[{"id":"980fbbdb.dc2fe8","port":0}]}],"env":[],"color":"#00AAFF","icon":"font-awesome/fa-bullhorn"},{"id":"6af03be1.264b54","type":"subflow","name":"Xiaomi.Click","info":"","category":"","in":[],"out":[{"x":700,"y":80,"wires":[{"id":"f4319cbd.09f5f","port":0}]},{"x":700,"y":140,"wires":[{"id":"f4319cbd.09f5f","port":1}]},{"x":700,"y":200,"wires":[{"id":"f4319cbd.09f5f","port":2}]}],"env":[{"name":"entity_id","type":"str","value":"","ui":{"type":"input","opts":{"types":["str"]}}}],"color":"#C0DEED","outputLabels":["single","double","long"],"icon":"node-red-dashboard/ui_button.png"},{"id":"64f2d092.47e8a","type":"subflow","name":"Xiaomi.Cube","info":"","category":"","in":[],"out":[{"x":660,"y":40,"wires":[{"id":"f2278c6.cee007","port":0}]},{"x":660,"y":100,"wires":[{"id":"f2278c6.cee007","port":1}]},{"x":660,"y":160,"wires":[{"id":"f2278c6.cee007","port":2}]},{"x":660,"y":220,"wires":[{"id":"f2278c6.cee007","port":3}]},{"x":660,"y":280,"wires":[{"id":"f2278c6.cee007","port":4}]},{"x":660,"y":340,"wires":[{"id":"f2278c6.cee007","port":5}]},{"x":660,"y":400,"wires":[{"id":"f2278c6.cee007","port":6}]},{"x":660,"y":460,"wires":[{"id":"a7eb5212.d7a5b","port":0}]}],"env":[{"name":"entity_id","type":"str","value":"","ui":{"type":"input","opts":{"types":["str"]}}}],"color":"#C0DEED","outputLabels":["move","flip90","flip180","shake_air","rotate","tap_twice","free_fall","all"],"icon":"font-awesome/fa-cube"},{"id":"71d4838.1d64b7c","type":"subflow","name":"Tag","info":"","category":"","in":[],"out":[{"x":860,"y":120,"wires":[{"id":"514bc309.3a39dc","port":0},{"id":"b89734f8.497df8","port":0}]}],"env":[{"name":"tag_id","type":"str","value":""},{"name":"device_id","type":"str","value":""}],"color":"#DDAA99"},{"id":"5f6a488d.13c3e8","type":"subflow","name":"State Saver","info":"","category":"","in":[{"x":160,"y":160,"wires":[{"id":"a406099e.a68418"}]}],"out":[],"env":[{"name":"switch_id","type":"str","value":""},{"name":"input_id","type":"str","value":""}],"color":"#DDAA99"},{"id":"fab5abda.30a378","type":"subflow","name":"Подсветка","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"96db12e6.76d3f"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"c41e5f67.fefa3","type":"subflow","name":"Occupancy","info":"","category":"","in":[],"out":[{"x":780,"y":180,"wires":[{"id":"4c9a4c4f.e5d524","port":0}]}],"env":[{"name":"motion_sensor_id","type":"str","value":""},{"name":"door_sensor_id","type":"str","value":""}],"color":"#DDAA99","status":{"x":760,"y":440,"wires":[{"id":"c8bda321.12d57","port":0}]}},{"id":"9d05a166.13cc4","type":"subflow","name":"Remote click","info":"","category":"","in":[],"out":[{"x":440,"y":100,"wires":[{"id":"275bd65f.53cf3a","port":0}]},{"x":440,"y":160,"wires":[{"id":"275bd65f.53cf3a","port":1}]},{"x":440,"y":220,"wires":[{"id":"275bd65f.53cf3a","port":2}]}],"env":[{"name":"entity_id","type":"str","value":""},{"name":"button_no","type":"str","value":""}],"color":"#C0DEED","outputLabels":["Single","Double","Hold"],"icon":"font-awesome/fa-hand-pointer-o"},{"id":"87974ad1.bd7578","type":"group","z":"f4a79bd5.d924f8","name":"Гардеробная","style":{"label":true},"nodes":["817f2c7d.ead02","561c35e.912bccc","d287833a.2d2a2","fee36a5c.deb318","51e89db4.f37bd4","7473ae1.f28815","1d3f4432.4c900c"],"x":34,"y":39},{"id":"311867e6.519fa8","type":"group","z":"f4a79bd5.d924f8","name":"Гардеробная (д)","style":{"label":true},"nodes":["c9b426b4.7f02f8"],"x":714,"y":339},{"id":"9915749b.69e2a8","type":"group","z":"f4a79bd5.d924f8","name":"Балкон","style":{"label":true},"nodes":["1d41d40c.c95afc"],"x":714,"y":459},{"id":"5852faf3.ac4a24","type":"group","z":"f4a79bd5.d924f8","name":"Санузел","style":{"label":true},"nodes":["bb27cb13.9d4398","c2fffcce.a8862","488c2f5b.b88cf","30dfd697.2d1e2a","da77a462.ab31f8","be0a83d5.ae1a2","7fa95eaf.020b8","4db4c5da.f875dc"],"x":34,"y":299},{"id":"b26b0907.6eb2f8","type":"group","z":"f4a79bd5.d924f8","name":"Санузел гостевой","style":{"label":true},"nodes":["5d50595d.1a23b8","dee34ee6.871c6","515eb0ed.e8e8f","5c0603a8.1b6ebc","60f5d2ad.a2a97c","fe80691c.8344e8","9322dc87.31854","8987d1fc.7d334","3866ee92.f45e22"],"x":34,"y":619},{"id":"9cbf458f.a88648","type":"group","z":"9ce55dc8.4adfb","name":"Свет","style":{"label":true},"nodes":["2b4f7d73.8e0832","ffc77d99.5d6bf","495e566f.004328","4d1d965.8c81b68","8ab6c4a1.9b4d18","d2a702b7.94393"],"x":34,"y":39,"w":632,"h":282},{"id":"a987e732.bfcca8","type":"group","z":"86b021b.9886ae","name":"Свет","style":{"label":true},"nodes":["578df5c9.1813bc","49e7b1b4.4be1e","8205d1fb.0c7d9","613d8dab.d8f354","5d33c363.60577c","e68533c3.bed25","d024850e.d51a78","eea15048.d27ce","241836ae.cc063a","5f2c7ee9.68412"],"x":34,"y":39,"w":512,"h":462},{"id":"e4223d52.33399","type":"group","z":"aced6319.729be","name":"Ночной режим — вкл/выкл","style":{"label":true},"nodes":["4655d7c4.c7da18","c9d08c3b.411a3","fb312ce9.6d309","515d5662.326af8","318a69c8.31b936","a1f13b99.1dbbf8","8ea91173.44f47","a16e6e80.fcc8d","23066cd8.ee4574"],"x":34,"y":39},{"id":"c07e33c2.9498e","type":"group","z":"aced6319.729be","name":"Ночной режим — автогромкость Алисы","style":{"label":true},"nodes":["a51cdb93.792398","931db777.44e178","d963418e.4f99c","1eb646aa.727469"],"x":34,"y":239},{"id":"b15c90ae.462fc","type":"group","z":"aced6319.729be","name":"Регулярные проверки","style":{"label":true},"nodes":["487b399f.01c468","41b8a18a.e89f8","6d0dd9b7.1a3158"],"x":34,"y":439},{"id":"147cb230.157ede","type":"group","z":"f73184be.b12ee8","name":"Свет","style":{"label":true},"nodes":["ac244303.3af2","adafdcb7.209e","8dccdef5.91ab1","455c2280.4ff1ec","2bf9e3e4.ded6cc","dd68b686.106db8","6d8f1eb3.2b474","dd0eb736.f01d78","163e8aa5.6a8cc5"],"x":34,"y":39},{"id":"706830c0.f4c3d","type":"group","z":"aced6319.729be","name":"Add zigbee device","style":{"label":true},"nodes":["f4f3489a.6c8658","2794c3f1.227adc","adcadc35.f64d","d7c81107.fc044","6ba93f0d.3862c","9aef62f6.d419a"],"x":34,"y":599},{"id":"1d67f34.aa2b30d","type":"group","z":"efc1184c.9b6fb8","name":"Свет","style":{"label":true},"nodes":["a7bf28a2.0cb8b8","d19b654a.c7e608","a68a7ac6.3770c8","4d236e7f.bece7","c0eb3fb.908b3c","59b320b8.2d8b4","55e5626.cc5219c","bd82eeea.15fc1","aef9e040.f6eca","53169fcc.c9057","4392cf21.36c1c"],"x":34,"y":74,"w":992,"h":414.5},{"id":"64f7a721.d1ce68","type":"group","z":"aced6319.729be","name":"State Saving Hack Machine","style":{"label":true},"nodes":["45c94577.d5a02c","33542c0e.d977b4","8430d533.4b9818","9515ad8.e88195","b3ac9338.4758e","e95f70d2.85ba1","f8c3943a.e45388","dd8719af.bc51b8","f05d927e.4fba2","4366c8de.3544e8","657a8fad.1d9e7","91fa0570.3aa808","dd258453.6dc458"],"x":34,"y":819},{"id":"9fe93e6f.73b3d","type":"group","z":"aced6319.729be","name":"Новогодний режим — вкл/выкл","style":{"label":true},"nodes":["555c2e46.4b88c","de4edec7.11a06","a36ed157.26fe4","75273ba2.c2beb4"],"x":34,"y":1139},{"id":"ced6d35c.62e6","type":"group","z":"9ce55dc8.4adfb","name":"Алиса","style":{"label":true},"nodes":["8adc9f55.224df","d7fa3d28.08abd","7a55b84f.6c1378","3fc52b25.962bd4","9d8e33b0.9f76","7f1911e1.b6e4b","a80926f6.255c18","30e4fa32.71ed06","27befb9a.b46e04","9ad6c7a4.46a9e8"],"x":34,"y":359,"w":792,"h":302},{"id":"9027932f.54cb4","type":"server","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"2076e519.9c44aa","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"88472a58.6a7638","type":"switch","z":"15fec91b.db6397","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"flip90","vt":"str"},{"t":"eq","v":"flip180","vt":"str"},{"t":"eq","v":"shake","vt":"str"},{"t":"eq","v":"slide","vt":"str"},{"t":"eq","v":"fall","vt":"str"},{"t":"eq","v":"rotate_left","vt":"str"},{"t":"eq","v":"rotate_right","vt":"str"},{"t":"eq","v":"tap","vt":"str"}],"checkall":"true","repair":false,"outputs":8,"x":290,"y":1100,"wires":[["e3025a46.9adae8"],["e3025a46.9adae8"],["e3025a46.9adae8"],["e3025a46.9adae8"],["e3025a46.9adae8"],["e3025a46.9adae8"],["e3025a46.9adae8"],[]]},{"id":"487bfebc.f0704","type":"server-state-changed","z":"15fec91b.db6397","name":"Кубик","server":"9027932f.54cb4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.0x00158d00029bf51f_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is_not","outputs":1,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":90,"y":1100,"wires":[["88472a58.6a7638","3df53d2d.dba362"]]},{"id":"e3025a46.9adae8","type":"debug","z":"15fec91b.db6397","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":1180,"wires":[]},{"id":"3df53d2d.dba362","type":"debug","z":"15fec91b.db6397","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":320,"y":1240,"wires":[]},{"id":"3652d694.966bda","type":"server-state-changed","z":"15fec91b.db6397","name":"Tap","server":"9027932f.54cb4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.0x00158d00029bf51f_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"tap","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":90,"y":900,"wires":[["920044a6.381d48"],[]]},{"id":"920044a6.381d48","type":"api-call-service","z":"15fec91b.db6397","name":"Рекуператор","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"remote","service":"send_command","entityId":"remote.spalnia_pult","data":"{\"command\":[\"raw:nMwmEwlk0mk4mEsmoAZzQAMpuAGU1mEsmwDBTWZADyAv4A/gPoB+0xm02BQUAhAITmM2AaMBFwGvAa4GYwTnBe8IbwD3AXsFFAWvAI8AjwkPARKYQAA=\"]}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":320,"y":920,"wires":[[]]},{"id":"4655d7c4.c7da18","type":"inject","z":"aced6319.729be","g":"e4223d52.33399","name":"07:00","repeat":"","crontab":"00 07 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":160,"wires":[["515d5662.326af8"]]},{"id":"c9d08c3b.411a3","type":"switch","z":"aced6319.729be","g":"e4223d52.33399","name":"sunset / sunrise","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":120,"wires":[["23066cd8.ee4574"],["515d5662.326af8"]]},{"id":"fb312ce9.6d309","type":"api-call-service","z":"aced6319.729be","g":"e4223d52.33399","name":"Ночной режим выкл.","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.night_mode","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":840,"y":160,"wires":[[]]},{"id":"4e8aff68.b98b7","type":"server-state-changed","z":"480915c9.c5516c","name":"Occupancy","server":"9027932f.54cb4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"${sensor_id}","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":110,"y":220,"wires":[["51e611f5.f0b3b","c47d304b.2a92b","59509bc2.e20e94"],["c6ae5fcb.d51e2","50d55b14.65a7e4","59509bc2.e20e94"]]},{"id":"6de95750.826028","type":"api-call-service","z":"480915c9.c5516c","name":"Turn on","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"${switch_id}","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":820,"y":140,"wires":[[]]},{"id":"c6ae5fcb.d51e2","type":"trigger","z":"480915c9.c5516c","name":"Timer","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"${timeout}","extend":false,"units":"min","reset":"on","bytopic":"all","topic":"topic","outputs":1,"x":610,"y":340,"wires":[["c9fb4ebd.9c9b1"]]},{"id":"51e611f5.f0b3b","type":"change","z":"480915c9.c5516c","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":300,"wires":[["c6ae5fcb.d51e2","50d55b14.65a7e4"]]},{"id":"c9fb4ebd.9c9b1","type":"api-call-service","z":"480915c9.c5516c","name":"Turn off","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"${switch_id}","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":780,"y":340,"wires":[[]]},{"id":"bbba6047.932c","type":"server-state-changed","z":"480915c9.c5516c","name":"Switch","server":"9027932f.54cb4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"${switch_id}","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":90,"y":320,"wires":[["59d9ef0.b37491","adbe08d6.bedad8"],["51e611f5.f0b3b","adbe08d6.bedad8"]]},{"id":"59d9ef0.b37491","type":"api-current-state","z":"480915c9.c5516c","name":"Occupancy off","server":"9027932f.54cb4","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"${sensor_id}","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":360,"y":380,"wires":[["c6ae5fcb.d51e2","50d55b14.65a7e4"],[]]},{"id":"515d5662.326af8","type":"api-current-state","z":"aced6319.729be","g":"e4223d52.33399","name":"Is on","server":"9027932f.54cb4","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.night_mode","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":670,"y":160,"wires":[["fb312ce9.6d309"],[]]},{"id":"318a69c8.31b936","type":"api-current-state","z":"aced6319.729be","g":"e4223d52.33399","name":"Is off","server":"9027932f.54cb4","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.night_mode","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":670,"y":80,"wires":[["a16e6e80.fcc8d"],[]]},{"id":"a1f13b99.1dbbf8","type":"sunrise","z":"aced6319.729be","g":"e4223d52.33399","name":"","lat":"55.879283","lon":"37.540680","start":"sunrise","end":"sunsetStart","soff":0,"eoff":0,"x":130,"y":120,"wires":[[],["c9d08c3b.411a3"]]},{"id":"3ec15262.e7c3ae","type":"server-events","z":"47da1c69.8f02f4","name":"Telegram text","server":"9027932f.54cb4","event_type":"telegram_text","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"x":110,"y":60,"wires":[["244a8377.d0ffac","2f8f19f9.15c396"]]},{"id":"244a8377.d0ffac","type":"function","z":"47da1c69.8f02f4","name":"Parse category","func":"if (!msg.payload.event.text) {\n    return\n}\n\nconst text = msg.payload.event.text.toLowerCase()\nmsg.payload.event.text = text\n\nmsg.topic = 'unknown'\n\n\n\nswitch (true) {\n}\n\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":160,"wires":[["c82ebda5.82953","5ea46f66.21aaf"]]},{"id":"c82ebda5.82953","type":"switch","z":"47da1c69.8f02f4","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"night_mode","vt":"str"},{"t":"eq","v":"unknown","vt":"str"},{"t":"eq","v":"lights","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":330,"y":160,"wires":[["42cd89b.96a8378"],["f986bec3.4cd0b"],["90857341.f100f"]]},{"id":"5ea46f66.21aaf","type":"debug","z":"47da1c69.8f02f4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":130,"y":260,"wires":[]},{"id":"b31ec048.aa85b","type":"switch","z":"47da1c69.8f02f4","name":"","property":"service","propertyType":"msg","rules":[{"t":"eq","v":"turn_on","vt":"str"},{"t":"eq","v":"turn_off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":770,"y":80,"wires":[["c3718974.331448"],["8a101ff5.74cd7"]]},{"id":"c3718974.331448","type":"api-call-service","z":"47da1c69.8f02f4","name":"Ночной режим вкл.","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.night_mode","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1040,"y":40,"wires":[[]]},{"id":"8a101ff5.74cd7","type":"api-call-service","z":"47da1c69.8f02f4","name":"Ночной режим выкл","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.night_mode","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1040,"y":100,"wires":[[]]},{"id":"42cd89b.96a8378","type":"function","z":"47da1c69.8f02f4","name":"Format","func":"const { user_id, chat_id, text } = msg.payload.event\nconst service = text.includes('включ') ? 'turn_on' : 'turn_off'\n\nconst replies = {\n    turn_on: 'Включаю ночной режим',\n    turn_off: 'Выключаю ночной режим'\n}\n\n\nconst message = {\n    service,\n    reply: {\n        message: replies[service],\n        user_id,\n        chat_id\n    }\n}\n\nreturn message","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":140,"wires":[["b31ec048.aa85b","ab397186.333da"]]},{"id":"325af495.960e4c","type":"api-call-service","z":"47da1c69.8f02f4","name":"Вопрос Алисе","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"media_player","service":"play_media","entityId":"media_player.yandex_station_14007894c1205c100650","data":"payload","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":780,"y":260,"wires":[[]]},{"id":"f986bec3.4cd0b","type":"function","z":"47da1c69.8f02f4","name":"Format","func":"return {\n    payload: {\n        media_content_id: msg.payload.event.text,\n        media_content_type: 'question:' + msg.payload.event.chat_id\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":260,"wires":[["325af495.960e4c"]]},{"id":"972b46ba.57a728","type":"server-events","z":"47da1c69.8f02f4","name":"Ответ Алисы","server":"9027932f.54cb4","event_type":"yandex_station_response","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"x":770,"y":320,"wires":[["d8f2d8b5.a4df78"]]},{"id":"ab397186.333da","type":"api-call-service","z":"47da1c69.8f02f4","name":"Notify","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"telegram_bot","service":"send_message","entityId":"","data":"reply","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":790,"y":140,"wires":[[]]},{"id":"90857341.f100f","type":"function","z":"47da1c69.8f02f4","name":"Format","func":"// Constants\nconst roomTexts = {\n    cabinet: 'в кабинете'\n}\n\nconst roomIds = {\n    cabinet: \"switch.0x00158d0002c5e4a2_switch\"\n}\n\nconst replies = {\n    turn_on: 'Включаю свет',\n    turn_off: 'Выключаю свет'\n}\n\n\n// Message data\nconst { user_id, chat_id, text } = msg.payload.event\nconst service = text.includes('включи') ? 'turn_on' : 'turn_off'\nlet room;\n\nswitch (true) {\n    case (text.includes('кабинет')):\n        room = 'cabinet'\n        break;\n}\n\n\nconst message = {\n    service,\n    service_data: {\n        entity_id: roomIds[room]\n    },\n    reply: {\n        message: `${replies[service]} ${roomTexts[room]}`,\n        user_id,\n        chat_id\n    }\n}\n\nreturn message","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":460,"wires":[["8b4677.6e274988","4da883bc.00548c"]]},{"id":"8b4677.6e274988","type":"api-call-service","z":"47da1c69.8f02f4","name":"Notify","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"telegram_bot","service":"send_message","entityId":"","data":"reply","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":750,"y":540,"wires":[[]]},{"id":"4da883bc.00548c","type":"switch","z":"47da1c69.8f02f4","name":"","property":"service","propertyType":"msg","rules":[{"t":"eq","v":"turn_on","vt":"str"},{"t":"eq","v":"turn_off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":460,"wires":[["c782c715.7ac5e8"],["b53e103.e86d2f"]]},{"id":"c782c715.7ac5e8","type":"api-call-service","z":"47da1c69.8f02f4","name":"Switch on","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"","data":"service_data","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":980,"y":420,"wires":[[]]},{"id":"b53e103.e86d2f","type":"api-call-service","z":"47da1c69.8f02f4","name":"Switch off","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"","data":"service_data","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":980,"y":480,"wires":[[]]},{"id":"33c667fe.fa8898","type":"comment","z":"47da1c69.8f02f4","name":"Ночной режим","info":"","x":580,"y":100,"wires":[]},{"id":"c3d53ff6.bd755","type":"comment","z":"47da1c69.8f02f4","name":"Всё неизвестное — Алисе","info":"","x":620,"y":220,"wires":[]},{"id":"4911c972.bcc0b8","type":"comment","z":"47da1c69.8f02f4","name":"Управление светом","info":"","x":590,"y":420,"wires":[]},{"id":"1c67e7f2.29ca18","type":"switch","z":"15fec91b.db6397","name":"sunset","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":230,"y":180,"wires":[["252c1aa4.abfef6"]]},{"id":"8c1ca958.0acc18","type":"inject","z":"15fec91b.db6397","name":"07:00","repeat":"","crontab":"00 07 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":700,"wires":[["4f826eb6.ae1c6"]]},{"id":"e33ad0e6.a071e","type":"switch","z":"15fec91b.db6397","name":"sunriseEnd","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":660,"wires":[["4f826eb6.ae1c6"]]},{"id":"2e3a7083.0a42c","type":"api-call-service","z":"15fec91b.db6397","name":"Ночной режим выкл.","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.night_mode","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":600,"y":700,"wires":[["c97d3836.b72958"]]},{"id":"3b46dbed.50f324","type":"comment","z":"15fec91b.db6397","name":"Night mode","info":"","x":90,"y":60,"wires":[]},{"id":"4f826eb6.ae1c6","type":"api-current-state","z":"15fec91b.db6397","name":"Is on","server":"9027932f.54cb4","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.night_mode","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":410,"y":700,"wires":[["2e3a7083.0a42c"],[]]},{"id":"252c1aa4.abfef6","type":"api-current-state","z":"15fec91b.db6397","name":"Is off","server":"9027932f.54cb4","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.night_mode","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":350,"y":180,"wires":[["1c358aee.1b61b5","6f673036.57267"],[]]},{"id":"1c358aee.1b61b5","type":"trigger","z":"15fec91b.db6397","name":"","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"5","extend":false,"units":"min","reset":"","bytopic":"all","outputs":1,"x":590,"y":180,"wires":[["47d012fe.4b6c5c"]]},{"id":"47d012fe.4b6c5c","type":"api-call-service","z":"15fec91b.db6397","name":"Ночной режим вкл.","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.night_mode","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":800,"y":180,"wires":[["32545ed4.3181e2"]]},{"id":"32545ed4.3181e2","type":"api-call-service","z":"15fec91b.db6397","name":"Notify","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"telegram_bot","service":"send_message","entityId":"","data":"{\"message\":\"🌃 Ночной режим включен\",\"disable_notification\":true}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1030,"y":180,"wires":[[]]},{"id":"6f673036.57267","type":"api-call-service","z":"15fec91b.db6397","name":"Notify","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"telegram_bot","service":"send_message","entityId":"","data":"{\"message\":\"🌃 Ночной режим включится через *5 минут*\",\"inline_keyboard\":[\"OK:/nm_ok,Отключить:/nm_disable\",\"Отложить на 15 минут:/nm_delay_15\",\"Отложить на 30 минут:/nm_delay_30\"]}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1030,"y":300,"wires":[[]]},{"id":"d2d12a1.2f786d8","type":"sunrise","z":"15fec91b.db6397","name":"","lat":"55.879283","lon":"37.540680","start":"sunriseEnd","end":"sunsetStart","soff":0,"eoff":0,"x":70,"y":180,"wires":[[],["1c67e7f2.29ca18"]]},{"id":"ee3f0918.fbf648","type":"sunrise","z":"15fec91b.db6397","name":"","lat":"55.879283","lon":"37.540680","start":"sunriseEnd","end":"sunsetStart","soff":0,"eoff":0,"x":90,"y":640,"wires":[[],["e33ad0e6.a071e"]]},{"id":"df941de.c85e5e","type":"server-events","z":"15fec91b.db6397","name":"","server":"9027932f.54cb4","event_type":"telegram_callback","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"x":130,"y":400,"wires":[["79146936.2b8bb8"]]},{"id":"79146936.2b8bb8","type":"function","z":"15fec91b.db6397","name":"Filter NM","func":"if (typeof msg.payload.event.command !== 'string') {\n    return\n}\n\n\nif (!msg.payload.event.command.startsWith('/nm_')) {\n    return\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":400,"wires":[["539d844f.8d900c","7f4544ac.1a33bc"]]},{"id":"539d844f.8d900c","type":"switch","z":"15fec91b.db6397","name":"","property":"payload.event.command","propertyType":"jsonata","rules":[{"t":"eq","v":"/nm_delay_15","vt":"str"},{"t":"eq","v":"/nm_delay_30","vt":"str"},{"t":"eq","v":"/nm_disable","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":510,"y":400,"wires":[["f85a7eaa.3d605","2c80fe0e.91c792"],["f85a7eaa.3d605","febdfc54.cf6f2"],["f85a7eaa.3d605"]]},{"id":"7f4544ac.1a33bc","type":"function","z":"15fec91b.db6397","name":"Format","func":"const count = (m) => {\n    const currentTime = new Date()\n    currentTime.setMinutes(currentTime.getMinutes() + m)\n    return currentTime.toTimeString().substr(0, 5)\n}\n\nconst message = {\n    '/nm_delay_15': () => `Ночной режим будет включен в ${count(15)}`,\n    '/nm_delay_30': () => `Ночной режим будет включен в ${count(30)}`,\n    '/nm_disable': () => \"Включение ночного режима отложено до завтра\",\n    '/nm_ok': () => \"🌃 Ночной режим включится через 5 минут\"\n}\n\nconst payload = {\n    message_id: msg.payload.event.message.message_id,\n    chat_id: msg.payload.event.chat_id,\n    message: message[msg.payload.event.command](),\n    inline_keyboard: []\n}\n\nreturn {\n    payload\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":520,"wires":[["d205b1fd.e8c92"]]},{"id":"d205b1fd.e8c92","type":"api-call-service","z":"15fec91b.db6397","name":"Reply","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"telegram_bot","service":"edit_message","entityId":"","data":"payload","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":510,"y":520,"wires":[[]]},{"id":"f85a7eaa.3d605","type":"change","z":"15fec91b.db6397","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":280,"wires":[["1c358aee.1b61b5"]]},{"id":"2c80fe0e.91c792","type":"trigger","z":"15fec91b.db6397","name":"","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"10","extend":false,"units":"min","reset":"","bytopic":"all","outputs":1,"x":730,"y":360,"wires":[["1c358aee.1b61b5","6f673036.57267"]]},{"id":"febdfc54.cf6f2","type":"trigger","z":"15fec91b.db6397","name":"","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"25","extend":false,"units":"min","reset":"","bytopic":"all","outputs":1,"x":730,"y":440,"wires":[["1c358aee.1b61b5","6f673036.57267"]]},{"id":"c97d3836.b72958","type":"api-call-service","z":"15fec91b.db6397","name":"Notify","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"telegram_bot","service":"send_message","entityId":"","data":"{\"message\":\"🌇 Ночной режим включен\",\"disable_notification\":true}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":810,"y":700,"wires":[[]]},{"id":"8ea91173.44f47","type":"inject","z":"aced6319.729be","g":"e4223d52.33399","name":"21:00","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 22 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":80,"wires":[["318a69c8.31b936"]]},{"id":"c47d304b.2a92b","type":"switch","z":"480915c9.c5516c","name":"Has template","property":"condition_template","propertyType":"env","rules":[{"t":"empty"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":160,"wires":[["6de95750.826028"],["5029bff8.9deea"]]},{"id":"5029bff8.9deea","type":"api-render-template","z":"480915c9.c5516c","name":"Condition","server":"9027932f.54cb4","template":"${condition_template}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":480,"y":200,"wires":[["254dd963.0cebe6"]]},{"id":"254dd963.0cebe6","type":"switch","z":"480915c9.c5516c","name":"Condition met","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":640,"y":200,"wires":[["6de95750.826028"]]},{"id":"2f8f19f9.15c396","type":"debug","z":"47da1c69.8f02f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":310,"y":60,"wires":[]},{"id":"10cfb3bc.265eac","type":"api-call-service","z":"a9a4b17b.9f4fa","name":"Включить вытяжку","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"${switch}","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":540,"y":100,"wires":[[]]},{"id":"8741a88d.c867f8","type":"server-state-changed","z":"a9a4b17b.9f4fa","name":"Влажность ","server":"9027932f.54cb4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"${humidity}","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"num","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":90,"y":220,"wires":[["97955200.9e705","b46e6af2.f11258"]]},{"id":"97955200.9e705","type":"function","z":"a9a4b17b.9f4fa","name":"","func":"const humidity = +msg.payload\nconst reference = +global.get('homeassistant').homeAssistant.states['sensor.0xbc33acfffe26dc80_humidity'].state\n\nif (!humidity) {\n    return {}\n}\n\nconst payload = humidity > (reference + 15)\n    ? 'on'\n    : 'off'\n\nreturn {\n    payload,\n    data: {\n        humidity,\n        reference\n    }\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":100,"wires":[["e25be3e.d47432"]]},{"id":"e25be3e.d47432","type":"switch","z":"a9a4b17b.9f4fa","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":100,"wires":[["10cfb3bc.265eac","260dabef.2bae44"],["df00a08d.81003"]]},{"id":"df00a08d.81003","type":"trigger","z":"a9a4b17b.9f4fa","name":"Timer","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"5","extend":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":410,"y":280,"wires":[["f8aae403.567ce8"]]},{"id":"260dabef.2bae44","type":"change","z":"a9a4b17b.9f4fa","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":180,"wires":[["df00a08d.81003"]]},{"id":"f8aae403.567ce8","type":"api-call-service","z":"a9a4b17b.9f4fa","name":"Выключить вытяжку","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"${switch}","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":620,"y":280,"wires":[[]]},{"id":"d460081e.55d218","type":"server-state-changed","z":"a9a4b17b.9f4fa","name":"Switch","server":"9027932f.54cb4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"${switch}","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":280,"wires":[["97955200.9e705","d02ae80c.3d7e08"],["260dabef.2bae44","d02ae80c.3d7e08"]]},{"id":"4b09e6c.a5f6618","type":"template","z":"a9a4b17b.9f4fa","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"str","x":260,"y":520,"wires":[[]]},{"id":"b46e6af2.f11258","type":"change","z":"a9a4b17b.9f4fa","name":"","rules":[{"t":"set","p":"current_humidity","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":380,"wires":[["d8487d24.a6f1a"]]},{"id":"d02ae80c.3d7e08","type":"change","z":"a9a4b17b.9f4fa","name":"","rules":[{"t":"set","p":"current_status","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":420,"wires":[["d8487d24.a6f1a"]]},{"id":"d8487d24.a6f1a","type":"function","z":"a9a4b17b.9f4fa","name":"","func":"const reference = +global.get('homeassistant').homeAssistant.states['sensor.0xbc33acfffe26dc80_humidity'].state\n\nreturn {\n    payload: `${flow.get('current_humidity')} (${flow.get('current_status') || 'off'}) (ref: ${reference})`\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":400,"wires":[["4b09e6c.a5f6618"]]},{"id":"30070dfe.7cc572","type":"comment","z":"15fec91b.db6397","name":"Спальня — кубик","info":"0x00158d0003057c9","x":130,"y":1320,"wires":[]},{"id":"cbd176de.ddb378","type":"server-state-changed","z":"15fec91b.db6397","name":"Flip90","server":"9027932f.54cb4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.0x00158d0002a6f8d7_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"flip90","halt_if_type":"re","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":110,"y":1000,"wires":[["96004a08.8f7e38"],[]]},{"id":"96004a08.8f7e38","type":"api-call-service","z":"15fec91b.db6397","name":"Переключить свет в кабинете","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"switch","service":"toggle","entityId":"switch.0x00158d0002c5e4a2_switch","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":370,"y":1000,"wires":[[]]},{"id":"817f2c7d.ead02","type":"api-call-service","z":"f4a79bd5.d924f8","g":"87974ad1.bd7578","name":"Подсветка вкл.","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.0x588e81fffedb886f_switch","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":600,"y":80,"wires":[[]]},{"id":"561c35e.912bccc","type":"api-call-service","z":"f4a79bd5.d924f8","g":"87974ad1.bd7578","name":"Подсветка выкл.","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.0x588e81fffedb886f_switch","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":330,"y":120,"wires":[[]]},{"id":"d287833a.2d2a2","type":"server-state-changed","z":"f4a79bd5.d924f8","g":"87974ad1.bd7578","name":"Выключатель","server":"9027932f.54cb4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.wall_switch_ln_158d0002c57b8d","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":130,"y":100,"wires":[["1d3f4432.4c900c"],["561c35e.912bccc"]]},{"id":"fee36a5c.deb318","type":"subflow:480915c9.c5516c","z":"f4a79bd5.d924f8","g":"87974ad1.bd7578","name":"Гардеробная — 2 минуты","env":[{"name":"switch_id","value":"switch.wall_switch_ln_158d0002c57b8d","type":"str"},{"name":"sensor_id","value":"binary_sensor.motion_sensor_158d0003202704_2","type":"str"},{"name":"condition_template","value":"{% if is_state('input_boolean.night_mode', 'on') and is_state('group.bedroom_lights', 'off') -%} off {%- else -%} on {%- endif %}","type":"str"},{"name":"mode","value":"basic","type":"str"}],"x":380,"y":200,"wires":[]},{"id":"c9b426b4.7f02f8","type":"subflow:480915c9.c5516c","z":"f4a79bd5.d924f8","g":"311867e6.519fa8","name":"Гардеробная (д) — 2 минуты","env":[{"name":"switch_id","value":"switch.wall_switch_ln_158d0002c5ff27","type":"str"},{"name":"sensor_id","value":"binary_sensor.motion_sensor_158d00047b9ae6","type":"str"},{"name":"mode","value":"basic","type":"str"}],"x":870,"y":380,"wires":[]},{"id":"c2fffcce.a8862","type":"subflow:480915c9.c5516c","z":"f4a79bd5.d924f8","g":"5852faf3.ac4a24","name":"Санузел — свет по движению — 3 минуты","env":[{"name":"switch_id","value":"switch.wall_switch_ln_left_158d0002f9b20a","type":"str"},{"name":"sensor_id","value":"binary_sensor.occupancy_bathroom","type":"str"},{"name":"timeout","value":"3","type":"num"},{"name":"condition_template","value":"{% if is_state('input_boolean.night_mode', 'on') and is_state('group.bedroom_lights', 'off') -%} off {%- else -%} on {%- endif %}","type":"str"},{"name":"mode","value":"basic","type":"str"}],"x":390,"y":340,"wires":[]},{"id":"bb27cb13.9d4398","type":"subflow:a9a4b17b.9f4fa","z":"f4a79bd5.d924f8","g":"5852faf3.ac4a24","name":"Санузел — вытяжка","env":[{"name":"humidity","value":"sensor.0xbc33acfffe26dc7e_humidity","type":"str"},{"name":"switch","value":"switch.wall_switch_ln_right_158d0002f9b20a","type":"str"}],"x":320,"y":480,"wires":[]},{"id":"5d50595d.1a23b8","type":"subflow:480915c9.c5516c","z":"f4a79bd5.d924f8","g":"b26b0907.6eb2f8","name":"Санузел (д) — свет по движению — 3 минуты","env":[{"name":"switch_id","value":"switch.wall_switch_ln_left_158d0002f9b1e5","type":"str"},{"name":"sensor_id","value":"binary_sensor.occupancy_guest_bathroom","type":"str"},{"name":"timeout","value":"3","type":"num"},{"name":"condition_template","value":"{% if is_state('input_boolean.night_mode', 'on') and is_state('group.primary_lights', 'off') -%} off {%- else -%} on {%- endif %}","type":"str"},{"name":"mode","value":"basic","type":"str"}],"x":240,"y":660,"wires":[]},{"id":"dee34ee6.871c6","type":"server-state-changed","z":"f4a79bd5.d924f8","g":"b26b0907.6eb2f8","name":"Включение света","server":"9027932f.54cb4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.wall_switch_ln_left_158d0002f9b1e5","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":150,"y":900,"wires":[["515eb0ed.e8e8f"],["5c0603a8.1b6ebc"]]},{"id":"515eb0ed.e8e8f","type":"api-call-service","z":"f4a79bd5.d924f8","g":"b26b0907.6eb2f8","name":"Включить \"Занято\"","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.gateway_light_50ec50c4e83b","data":"{\"rgb_color\":[255,0,0],\"transition\":5,\"brightness\":120}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":860,"wires":[[]]},{"id":"5c0603a8.1b6ebc","type":"api-call-service","z":"f4a79bd5.d924f8","g":"b26b0907.6eb2f8","name":"Выключить \"Занято\"","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.gateway_light_50ec50c4e83b","data":"{\"transition\":5}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":920,"wires":[[]]},{"id":"60f5d2ad.a2a97c","type":"subflow:a9a4b17b.9f4fa","z":"f4a79bd5.d924f8","g":"b26b0907.6eb2f8","name":"Гостевой санузел — вытяжка","env":[{"name":"humidity","value":"sensor.0xbc33acfffe28b298_humidity","type":"str"},{"name":"switch","value":"switch.wall_switch_ln_right_158d0002f9b1e5","type":"str"}],"x":190,"y":720,"wires":[]},{"id":"2b4f7d73.8e0832","type":"subflow:480915c9.c5516c","z":"9ce55dc8.4adfb","g":"9cbf458f.a88648","name":"Кухня — 2 минуты (днем или при свете)","env":[{"name":"switch_id","value":"switch.wall_switch_ln_158d00041e723f","type":"str"},{"name":"sensor_id","value":"binary_sensor.motion_sensor_158d0004466dfa","type":"str"},{"name":"condition_template","value":"{%    if is_state('input_boolean.night_mode', 'off')   or is_state('group.kitchen_lights', 'on') -%} on {%- else -%} off {%- endif %}","type":"str"},{"name":"mode","value":"always","type":"str"},{"name":"respect_night_mode","value":"false","type":"bool"}],"x":220,"y":80,"wires":[]},{"id":"ffc77d99.5d6bf","type":"server-state-changed","z":"9ce55dc8.4adfb","g":"9cbf458f.a88648","name":"NM","server":"9027932f.54cb4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.night_mode","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":110,"y":240,"wires":[["d2a702b7.94393"],["4d1d965.8c81b68"]]},{"id":"495e566f.004328","type":"api-call-service","z":"9ce55dc8.4adfb","g":"9cbf458f.a88648","name":"Подсветка коридора вкл","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.verkhniaia_podsvetka","data":"{\"brightness\":50,\"rgb_color\":[255,210,175]}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":520,"y":200,"wires":[[]]},{"id":"4d1d965.8c81b68","type":"api-call-service","z":"9ce55dc8.4adfb","g":"9cbf458f.a88648","name":"Подсветка коридора выкл","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.verkhniaia_podsvetka","data":"{\"transition\":600,\"brightness\":0}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":360,"y":280,"wires":[[]]},{"id":"578df5c9.1813bc","type":"comment","z":"86b021b.9886ae","g":"a987e732.bfcca8","name":"Гостиная — кнопка (верх)","info":"0x00158d0003136ee6","x":170,"y":80,"wires":[]},{"id":"49e7b1b4.4be1e","type":"api-call-service","z":"86b021b.9886ae","g":"a987e732.bfcca8","name":"Переключить свет в гостиной","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"switch","service":"toggle","entityId":"switch.wall_switch_ln_left_158d0002f93e70","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":370,"y":120,"wires":[[]]},{"id":"8205d1fb.0c7d9","type":"comment","z":"86b021b.9886ae","g":"a987e732.bfcca8","name":"Гостиная — кнопка (низ)","info":"0x00158d0003057c9","x":170,"y":240,"wires":[]},{"id":"613d8dab.d8f354","type":"api-call-service","z":"86b021b.9886ae","g":"a987e732.bfcca8","name":"Переключить свет в коридоре","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"switch","service":"toggle","entityId":"switch.wall_switch_ln_right_158d0002f9cb46","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":390,"y":300,"wires":[[]]},{"id":"5d33c363.60577c","type":"comment","z":"86b021b.9886ae","g":"a987e732.bfcca8","name":"Гостиная — левая кнопка выключателя","info":"","x":220,"y":420,"wires":[]},{"id":"55dd896.3bc4378","type":"comment","z":"94519236.ee30c","name":"Коридор — правая кнопка выключателя","info":"","x":200,"y":60,"wires":[]},{"id":"a51cdb93.792398","type":"server-state-changed","z":"aced6319.729be","g":"c07e33c2.9498e","name":"NM","server":"9027932f.54cb4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.night_mode","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":110,"y":280,"wires":[["d963418e.4f99c"]]},{"id":"931db777.44e178","type":"api-call-service","z":"aced6319.729be","d":true,"g":"c07e33c2.9498e","name":"Set volume","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"media_player","service":"volume_set","entityId":"media_player.yandex_station_14007894c1205c100650","data":"payload","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":450,"y":300,"wires":[[]]},{"id":"d963418e.4f99c","type":"api-render-template","z":"aced6319.729be","g":"c07e33c2.9498e","name":"Volume","server":"9027932f.54cb4","template":"{% if\n    is_state('input_boolean.night_mode', 'off') or\n    is_state('group.primary_lights', 'on')\n-%}\n    {\"volume_level\":0.8}\n{%- else -%}\n    {\"volume_level\":0.4}\n{%- endif %}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":280,"y":300,"wires":[["931db777.44e178"]]},{"id":"1eb646aa.727469","type":"server-state-changed","z":"aced6319.729be","g":"c07e33c2.9498e","name":"PL","server":"9027932f.54cb4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"group.primary_lights","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":110,"y":340,"wires":[["d963418e.4f99c"]]},{"id":"487b399f.01c468","type":"inject","z":"aced6319.729be","d":true,"g":"b15c90ae.462fc","name":"Check switches","props":[{"p":"payload"}],"repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":520,"wires":[["41b8a18a.e89f8"]]},{"id":"41b8a18a.e89f8","type":"api-call-service","z":"aced6319.729be","g":"b15c90ae.462fc","name":"Turn on","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.0x00158d000344e6c7_switch, switch.0x00158d000391fb26_switch","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":420,"y":520,"wires":[[]]},{"id":"6d0dd9b7.1a3158","type":"comment","z":"aced6319.729be","g":"b15c90ae.462fc","name":"Включение выключателей","info":"Регулярная проверка, что все нужные выключатели включены","x":180,"y":480,"wires":[]},{"id":"1d41d40c.c95afc","type":"subflow:480915c9.c5516c","z":"f4a79bd5.d924f8","g":"9915749b.69e2a8","name":"Балкон — только ночью — 3 минуты","env":[{"name":"switch_id","value":"switch.wall_switch_ln_158d0003455ca6","type":"str"},{"name":"sensor_id","value":"binary_sensor.motion_sensor_158d0004466e9d","type":"str"},{"name":"timeout","value":"3","type":"num"},{"name":"condition_template","value":"{% if is_state('sun.sun', 'below_horizon') -%} on {%- else -%} off {%- endif %}","type":"str"},{"name":"mode","value":"night_only","type":"str"}],"x":890,"y":500,"wires":[]},{"id":"a16e6e80.fcc8d","type":"api-call-service","z":"aced6319.729be","g":"e4223d52.33399","name":"Ночной режим вкл.","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.night_mode","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":840,"y":80,"wires":[[]]},{"id":"6b20e47.394341c","type":"server-state-changed","z":"c3c5d1d4.14f98","d":true,"name":"Входная дверь","server":"9027932f.54cb4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.0x00158d00039ca2f8_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":120,"y":60,"wires":[["1d37f51f.467dab"],[]]},{"id":"bf456d8e.2ecbb","type":"api-call-service","z":"de32d3e9.bd592","name":"Notify","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"telegram_bot","service":"send_message","entityId":"","data":"payload","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":370,"y":80,"wires":[[]]},{"id":"8e508b44.df39c8","type":"subflow:de32d3e9.bd592","z":"c3c5d1d4.14f98","x":690,"y":60,"wires":[[]]},{"id":"dc56ddd9.b4d94","type":"function","z":"de32d3e9.bd592","name":"","func":"return {\n    payload: {\n        \"message\": msg.payload,\n        \"target\": [\n            170320864,\n            303976871\n        ]\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":80,"wires":[["bf456d8e.2ecbb"]]},{"id":"1d37f51f.467dab","type":"api-current-state","z":"c3c5d1d4.14f98","name":"Никого нет дома","server":"9027932f.54cb4","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"group.persons","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":330,"y":60,"wires":[["6302462b.a19898"],[]]},{"id":"6302462b.a19898","type":"function","z":"c3c5d1d4.14f98","name":"","func":"return {\n    payload: 'Входная дверь открыта!'\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":60,"wires":[["8e508b44.df39c8"]]},{"id":"312eb280.0d0cae","type":"server-state-changed","z":"c3c5d1d4.14f98","d":true,"name":"Балконная дверь","server":"9027932f.54cb4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.0x00158d00044d9900_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":130,"y":140,"wires":[["25970ac3.5189c6"],[]]},{"id":"e7d08f04.dc185","type":"subflow:de32d3e9.bd592","z":"c3c5d1d4.14f98","x":690,"y":140,"wires":[[]]},{"id":"53a18d92.17bb14","type":"function","z":"c3c5d1d4.14f98","name":"","func":"return {\n    payload: 'Балконная дверь открыта!'\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":140,"wires":[["e7d08f04.dc185"]]},{"id":"25970ac3.5189c6","type":"api-current-state","z":"c3c5d1d4.14f98","name":"Никого нет дома","server":"9027932f.54cb4","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"group.persons","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":350,"y":140,"wires":[["53a18d92.17bb14"],[]]},{"id":"fe80691c.8344e8","type":"server-state-changed","z":"f4a79bd5.d924f8","g":"b26b0907.6eb2f8","name":"Движение","server":"9027932f.54cb4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.motion_sensor_158d00032027ac","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":820,"wires":[["515eb0ed.e8e8f"],["9322dc87.31854"]]},{"id":"9322dc87.31854","type":"api-current-state","z":"f4a79bd5.d924f8","g":"b26b0907.6eb2f8","name":"Свет выключен","server":"9027932f.54cb4","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.wall_switch_ln_left_158d0002f9b1e5","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":340,"y":800,"wires":[["5c0603a8.1b6ebc"],[]]},{"id":"d8f2d8b5.a4df78","type":"function","z":"47da1c69.8f02f4","name":"Format","func":"return {\n    payload: {\n        \"message\": msg.payload.event.text,\n        \"target\": [\n            +msg.payload.event.request_id\n        ]\n    }\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":320,"wires":[["74d82e1e.a431d"]]},{"id":"74d82e1e.a431d","type":"api-call-service","z":"47da1c69.8f02f4","name":"Notify","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"telegram_bot","service":"send_message","entityId":"","data":"payload","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1130,"y":320,"wires":[[]]},{"id":"50d55b14.65a7e4","type":"trigger","z":"480915c9.c5516c","name":"Counter","op1":"","op2":"","op1type":"date","op2type":"pay","duration":"-1","extend":false,"units":"s","reset":"on","bytopic":"all","topic":"topic","outputs":1,"x":620,"y":420,"wires":[["1b13946a.6b674c"]]},{"id":"1b13946a.6b674c","type":"function","z":"480915c9.c5516c","name":"","func":"const occupancy = flow.get('occupancy');\nconst status = flow.get('current_status');\n\nif (status === 'off') {\n    return {\n        payload: `S: off; M: ${occupancy}`\n    }\n}\n\nif (occupancy === 'on') {\n    return {\n        payload: `S: on; M: on`\n    }\n}\n\nconst timerStarted = Math.floor(msg.payload / 1000);\nconst timer = env.get('timeout') * 60;\nconst now = Math.floor(+(new Date()) / 1000);\nconst timeElapsed = now - timerStarted;\nconst timeLeft = timer - timeElapsed;\n\nreturn {\n    payload: `S: on; M: off; T: ${timeLeft}`\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":540,"wires":[["9a5eea25.ac3258"]]},{"id":"adbe08d6.bedad8","type":"change","z":"480915c9.c5516c","name":"","rules":[{"t":"set","p":"current_status","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":540,"wires":[["1b13946a.6b674c"]]},{"id":"59509bc2.e20e94","type":"change","z":"480915c9.c5516c","name":"","rules":[{"t":"set","p":"occupancy","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":500,"wires":[["1b13946a.6b674c"]]},{"id":"9a5eea25.ac3258","type":"template","z":"480915c9.c5516c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"str","x":480,"y":640,"wires":[[]]},{"id":"b37a7398.f0ba1","type":"inject","z":"ec405824.e94c68","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":160,"wires":[["1674587a.3e6398"]]},{"id":"1674587a.3e6398","type":"function","z":"ec405824.e94c68","name":"get entity","func":"const gHA = global.get('homeassistant');\n\nreturn gHA.homeAssistant.states['switch.0x00158d0002c5e4a2_switch']","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":160,"wires":[["7fb9cfba.711d5"]]},{"id":"7fb9cfba.711d5","type":"debug","z":"ec405824.e94c68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":560,"y":160,"wires":[]},{"id":"67f11a09.7085a4","type":"server-events","z":"47da1c69.8f02f4","name":"","server":"9027932f.54cb4","event_type":"yandex_intent","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"x":140,"y":720,"wires":[["81e13fca.b7538"]]},{"id":"d492818.f7be48","type":"ha-fire-event","z":"47da1c69.8f02f4","name":"","server":"9027932f.54cb4","event":"yandex_intent_response","data":"{\"text\":\"всё пучком\"}","dataType":"json","x":210,"y":500,"wires":[[]]},{"id":"e76d3b80.b25ea8","type":"function","z":"47da1c69.8f02f4","name":"Clear","func":"\nreturn { payload: new Date() }","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":580,"wires":[["d492818.f7be48"]]},{"id":"44dc25d6.ef3c4c","type":"catch","z":"47da1c69.8f02f4","name":"","scope":null,"uncaught":false,"x":110,"y":960,"wires":[["15d18e30.d79662"]]},{"id":"980fbbdb.dc2fe8","type":"api-call-service","z":"6dc0acd0.e979f4","name":"Notify","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"telegram_bot","service":"send_message","entityId":"","data":"payload","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":350,"y":60,"wires":[[]]},{"id":"91b04de4.8b2f9","type":"function","z":"6dc0acd0.e979f4","name":"","func":"return {\n    payload: {\n        message: {\n            payload: typeof msg.payload === 'string'\n                ? msg.payload\n                : JSON.stringify(msg.payload, null, 2),\n            full: JSON.stringify(msg, null, 2)\n        },\n        target: [\n            170320864\n        ]\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":180,"y":60,"wires":[["980fbbdb.dc2fe8"]]},{"id":"15d18e30.d79662","type":"subflow:6dc0acd0.e979f4","z":"47da1c69.8f02f4","name":"","env":[],"x":330,"y":960,"wires":[[]]},{"id":"a353b3eb.a7c7f","type":"server-state-changed","z":"592ad21d.4a9acc","name":"Кнопка","server":"9027932f.54cb4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.0x00158d0002519aa5_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":430,"y":360,"wires":[["d15ddfe7.13f93"]]},{"id":"d15ddfe7.13f93","type":"switch","z":"592ad21d.4a9acc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"},{"t":"eq","v":"triple","vt":"str"},{"t":"eq","v":"quadruple","vt":"str"},{"t":"eq","v":"many","vt":"str"},{"t":"eq","v":"hold","vt":"str"},{"t":"eq","v":"release","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":610,"y":360,"wires":[[],[],[],[],[],[],[]]},{"id":"fa8d5cda.d8275","type":"server-events","z":"6af03be1.264b54","name":"Xiaomi click","server":"9027932f.54cb4","event_type":"xiaomi_aqara.click","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"x":110,"y":140,"wires":[["9ad1512a.f3d89"]]},{"id":"9ad1512a.f3d89","type":"switch","z":"6af03be1.264b54","name":"entity_id","property":"payload.entity_id","propertyType":"jsonata","rules":[{"t":"eq","v":"${entity_id}","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":300,"y":140,"wires":[["f4319cbd.09f5f"]]},{"id":"f4319cbd.09f5f","type":"switch","z":"6af03be1.264b54","name":"","property":"payload.event.click_type","propertyType":"jsonata","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"},{"t":"eq","v":"long","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":470,"y":140,"wires":[[],[],[]]},{"id":"b26f9fd9.599a","type":"comment","z":"94519236.ee30c","name":"!!! СМОТРИ ВНУТРЬ","info":"Интеграция сяоми не работает с decoupled выключателем, поэтому данная автоматизация должна быть настроена через mi home","x":140,"y":100,"wires":[]},{"id":"e68533c3.bed25","type":"comment","z":"86b021b.9886ae","g":"a987e732.bfcca8","name":"!!! СМОТРИ ВНУТРЬ","info":"Интеграция сяоми не работает с decoupled выключателем, поэтому данная автоматизация должна быть настроена через mi home","x":160,"y":460,"wires":[]},{"id":"d024850e.d51a78","type":"subflow:6af03be1.264b54","z":"86b021b.9886ae","g":"a987e732.bfcca8","name":"","env":[{"name":"entity_id","value":"binary_sensor.wall_switch_158d0003055863","type":"str"}],"x":130,"y":160,"wires":[["49e7b1b4.4be1e"],["241836ae.cc063a"],["5f2c7ee9.68412"]]},{"id":"f7493ae6.ba6e08","type":"api-call-service","z":"fab5abda.30a378","name":"turn on","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.verkhniaia_podsvetka","data":"{\"brightness\":255}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":340,"y":260,"wires":[[]]},{"id":"eea15048.d27ce","type":"subflow:6af03be1.264b54","z":"86b021b.9886ae","g":"a987e732.bfcca8","name":"","env":[{"name":"entity_id","value":"binary_sensor.wall_switch_158d0003057c9b","type":"str"}],"x":130,"y":300,"wires":[["613d8dab.d8f354"],["9122f839.514038"],[]]},{"id":"2bf9e3e4.ded6cc","type":"comment","z":"f73184be.b12ee8","g":"147cb230.157ede","name":"!!! СМОТРИ ВНУТРЬ","info":"Интеграция сяоми не работает с decoupled выключателем, поэтому данная автоматизация должна быть настроена через mi home","x":160,"y":120,"wires":[]},{"id":"ac244303.3af2","type":"comment","z":"f73184be.b12ee8","g":"147cb230.157ede","name":"Люстра","info":"0x00158d0003136ee6","x":120,"y":80,"wires":[]},{"id":"adafdcb7.209e","type":"comment","z":"f73184be.b12ee8","g":"147cb230.157ede","name":"Свет в гардеробной","info":"0x00158d0003136ee6","x":160,"y":200,"wires":[]},{"id":"8dccdef5.91ab1","type":"api-call-service","z":"f73184be.b12ee8","g":"147cb230.157ede","name":"Переключить свет в гардеробной","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"switch","service":"toggle","entityId":"switch.wall_switch_ln_158d0002c5ff27","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":500,"y":200,"wires":[[]]},{"id":"455c2280.4ff1ec","type":"subflow:6af03be1.264b54","z":"f73184be.b12ee8","g":"147cb230.157ede","name":"","env":[{"name":"entity_id","value":"binary_sensor.wall_switch_158d0002a8f722","type":"str"}],"x":130,"y":260,"wires":[["8dccdef5.91ab1"],["163e8aa5.6a8cc5"],["dd0eb736.f01d78"]]},{"id":"5b35ab52.f8b6c4","type":"switch","z":"480915c9.c5516c","name":"manual","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":560,"y":80,"wires":[["6de95750.826028"],["c9fb4ebd.9c9b1"]]},{"id":"51e89db4.f37bd4","type":"inject","z":"f4a79bd5.d924f8","g":"87974ad1.bd7578","name":"Вкл","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":150,"y":180,"wires":[["fee36a5c.deb318"]]},{"id":"7473ae1.f28815","type":"inject","z":"f4a79bd5.d924f8","g":"87974ad1.bd7578","name":"Выкл","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":150,"y":220,"wires":[["fee36a5c.deb318"]]},{"id":"ca261d5e.fe60d","type":"server-events","z":"64f2d092.47e8a","name":"Xiaomi click","server":"9027932f.54cb4","event_type":"xiaomi_aqara.cube_action","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"x":130,"y":220,"wires":[["a7eb5212.d7a5b"]]},{"id":"a7eb5212.d7a5b","type":"switch","z":"64f2d092.47e8a","name":"entity_id","property":"payload.entity_id","propertyType":"jsonata","rules":[{"t":"eq","v":"${entity_id}","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":320,"y":220,"wires":[["f2278c6.cee007"]]},{"id":"f2278c6.cee007","type":"switch","z":"64f2d092.47e8a","name":"","property":"payload.event. action_type","propertyType":"jsonata","rules":[{"t":"eq","v":"move","vt":"str"},{"t":"eq","v":"flip90","vt":"str"},{"t":"eq","v":"flip180","vt":"str"},{"t":"eq","v":"shake_air","vt":"str"},{"t":"eq","v":"rotate","vt":"str"},{"t":"eq","v":"tap_twice","vt":"str"},{"t":"eq","v":"free_fall","vt":"str"}],"checkall":"false","repair":false,"outputs":7,"x":490,"y":220,"wires":[[],[],[],[],[],[],[]]},{"id":"8077e42d.1eec28","type":"server-events","z":"71d4838.1d64b7c","name":"","server":"9027932f.54cb4","event_type":"tag_scanned","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"x":130,"y":120,"wires":[["1e430eeb.19aa01"]]},{"id":"1e430eeb.19aa01","type":"switch","z":"71d4838.1d64b7c","name":"Tag ID","property":"payload.event.tag_id","propertyType":"jsonata","rules":[{"t":"eq","v":"${tag_id}","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":120,"wires":[["514bc309.3a39dc"]]},{"id":"514bc309.3a39dc","type":"switch","z":"71d4838.1d64b7c","name":"Has device_id","property":"device_id","propertyType":"env","rules":[{"t":"empty"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":120,"wires":[[],["b89734f8.497df8"]]},{"id":"b89734f8.497df8","type":"switch","z":"71d4838.1d64b7c","name":"","property":"payload.event.device_id","propertyType":"jsonata","rules":[{"t":"eq","v":"${device_id}","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":720,"y":200,"wires":[[]]},{"id":"aece3c9a.880a1","type":"subflow:71d4838.1d64b7c","z":"ec405824.e94c68","name":"","env":[{"name":"tag_id","value":"13bbf430-2c5d-4cad-b5ba-522d23feddfd","type":"str"}],"x":130,"y":300,"wires":[["74ff2777.6504d8"]]},{"id":"74ff2777.6504d8","type":"api-call-service","z":"ec405824.e94c68","name":"Toggle","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"switch","service":"toggle","entityId":"switch.wall_switch_ln_158d0002c5e4a2","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":310,"y":300,"wires":[[]]},{"id":"adcadc35.f64d","type":"inject","z":"aced6319.729be","g":"706830c0.f4c3d","name":"Gateway A","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"gw_mac\":\"7811DCE1F270\"}","payloadType":"json","x":140,"y":640,"wires":[["2794c3f1.227adc"]]},{"id":"2794c3f1.227adc","type":"api-call-service","z":"aced6319.729be","g":"706830c0.f4c3d","name":"Add Device","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"xiaomi_aqara","service":"add_device","entityId":"","data":"payload","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":350,"y":660,"wires":[[]]},{"id":"f4f3489a.6c8658","type":"inject","z":"aced6319.729be","g":"706830c0.f4c3d","name":"Gateway B","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"gw_mac\":\"50ec50c4e83b\"}","payloadType":"json","x":140,"y":680,"wires":[["2794c3f1.227adc"]]},{"id":"d7c81107.fc044","type":"api-call-service","z":"aced6319.729be","g":"706830c0.f4c3d","name":"Permit/true","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"mqtt","service":"publish","entityId":"","data":"{\"topic\":\"zigbee2mqtt/bridge/config/permit_join\",\"payload\":\"true\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":310,"y":740,"wires":[["9aef62f6.d419a"]]},{"id":"b40a1ff0.bf812","type":"inject","z":"aced6319.729be","name":"Z2M Stick","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":740,"wires":[["d7c81107.fc044"]]},{"id":"6ba93f0d.3862c","type":"api-call-service","z":"aced6319.729be","g":"706830c0.f4c3d","name":"Permit/false","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"mqtt","service":"publish","entityId":"","data":"{\"topic\":\"zigbee2mqtt/bridge/config/permit_join\",\"payload\":\"false\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":670,"y":740,"wires":[[]]},{"id":"9aef62f6.d419a","type":"trigger","z":"aced6319.729be","g":"706830c0.f4c3d","name":"","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"2","extend":true,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":490,"y":740,"wires":[["6ba93f0d.3862c"]]},{"id":"81e13fca.b7538","type":"switch","z":"47da1c69.8f02f4","name":"","property":"payload.event.text","propertyType":"jsonata","rules":[{"t":"eq","v":"У нас посторонние","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":720,"wires":[["9a81ba38.e3f578"]]},{"id":"367f523f.7f2f9e","type":"api-call-service","z":"47da1c69.8f02f4","name":"Объявление","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"media_player","service":"play_media","entityId":"media_player.yandex_station_14007894c1205c100650","data":"{\"media_content_id\":\"33273839\",\"media_content_type\":\"track\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":750,"y":680,"wires":[[]]},{"id":"9a81ba38.e3f578","type":"trigger","z":"47da1c69.8f02f4","name":"Timer","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"2500","extend":false,"units":"ms","reset":"on","bytopic":"all","topic":"topic","outputs":1,"x":510,"y":700,"wires":[["367f523f.7f2f9e"]]},{"id":"eb73ab91.cd8998","type":"debug","z":"47da1c69.8f02f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":760,"y":620,"wires":[]},{"id":"172b302e.117b6","type":"api-call-service","z":"47da1c69.8f02f4","name":"Объявление","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"media_player","service":"play_media","entityId":"media_player.yandex_station_14007894c1205c100650","data":"{\"media_content_id\":\"<speaker voice=\\\"omazh\\\" emotion=\\\"evil\\\">Не стоило тебе сюда приходить!\",\"media_content_type\":\"text\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":510,"y":640,"wires":[["eb73ab91.cd8998"]]},{"id":"488c2f5b.b88cf","type":"inject","z":"f4a79bd5.d924f8","g":"5852faf3.ac4a24","name":"Вкл","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":130,"y":340,"wires":[["c2fffcce.a8862"]]},{"id":"30dfd697.2d1e2a","type":"inject","z":"f4a79bd5.d924f8","g":"5852faf3.ac4a24","name":"Выкл","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":130,"y":380,"wires":[["c2fffcce.a8862"]]},{"id":"a7bf28a2.0cb8b8","type":"api-call-service","z":"efc1184c.9b6fb8","g":"1d67f34.aa2b30d","name":"Toggle main light","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"switch","service":"toggle","entityId":"switch.wall_switch_ln_158d0002c5e4a2","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":470,"y":120,"wires":[[]]},{"id":"d19b654a.c7e608","type":"subflow:64f2d092.47e8a","z":"efc1184c.9b6fb8","d":true,"g":"1d67f34.aa2b30d","name":"","env":[{"name":"entity_id","value":"binary_sensor.cube_158d0002a6f8d7","type":"str"}],"x":130,"y":160,"wires":[[],["a7bf28a2.0cb8b8"],["a68a7ac6.3770c8"],["55e5626.cc5219c"],["4d236e7f.bece7"],[],[],[]]},{"id":"a68a7ac6.3770c8","type":"api-call-service","z":"efc1184c.9b6fb8","g":"1d67f34.aa2b30d","name":"Toggle table lamp","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.0x00158d0004249034_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":530,"y":320,"wires":[[]]},{"id":"4d236e7f.bece7","type":"function","z":"efc1184c.9b6fb8","g":"1d67f34.aa2b30d","name":"","func":"const current = global.get('homeassistant').homeAssistant.states['light.0x00158d0004249034_light'].attributes.brightness\nconst rotation = Math.round(msg.payload.event.action_value)\nconst target = Math.max(0, Math.min(255, current + rotation));\n\nnode.status(target)\n\nif (!Number.isFinite(target)) {\n    return\n}\n\nreturn {\n    payload: {\n        brightness: current + rotation,\n        transition: 1\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":220,"wires":[["c0eb3fb.908b3c"]]},{"id":"c0eb3fb.908b3c","type":"api-call-service","z":"efc1184c.9b6fb8","g":"1d67f34.aa2b30d","name":"Adjust brightness table lamp","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.0x00158d0004249034_light","data":"payload","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":700,"y":220,"wires":[[]]},{"id":"dd68b686.106db8","type":"subflow:6af03be1.264b54","z":"f73184be.b12ee8","g":"147cb230.157ede","name":"","env":[{"name":"entity_id","value":"binary_sensor.wall_switch_158d0003136ee6","type":"str"}],"x":130,"y":380,"wires":[["6d8f1eb3.2b474"],["163e8aa5.6a8cc5"],["dd0eb736.f01d78"]]},{"id":"6d8f1eb3.2b474","type":"api-call-service","z":"f73184be.b12ee8","g":"147cb230.157ede","name":"Toggle lamp","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.0x00158d00042a8a7d_light","data":"{\"transition\":0.5}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":490,"y":380,"wires":[[]]},{"id":"dd0eb736.f01d78","type":"api-call-service","z":"f73184be.b12ee8","g":"147cb230.157ede","name":"Переключить люстру","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.liustra_v_detskoi","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":500,"y":300,"wires":[[]]},{"id":"93f4011c.acf7c","type":"server-state-changed","z":"5f6a488d.13c3e8","name":"State change","server":"9027932f.54cb4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"${switch_id}","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":210,"y":80,"wires":[["f6413195.0b512"],["7ca51d4e.4d41d4"]]},{"id":"23af9cf2.563b74","type":"api-call-service","z":"5f6a488d.13c3e8","name":"On","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"${switch_id}","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1010,"y":60,"wires":[[]]},{"id":"45c94577.d5a02c","type":"inject","z":"aced6319.729be","g":"64f7a721.d1ce68","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":960,"wires":[["33542c0e.d977b4","8430d533.4b9818","9515ad8.e88195","b3ac9338.4758e","e95f70d2.85ba1","f8c3943a.e45388","dd8719af.bc51b8","f05d927e.4fba2","4366c8de.3544e8","657a8fad.1d9e7","91fa0570.3aa808","dd258453.6dc458"]]},{"id":"f4b823cf.725cd","type":"server-events","z":"5f6a488d.13c3e8","name":"HA Events","server":"9027932f.54cb4","event_type":"home_assistant_client","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"x":200,"y":220,"wires":[["c0e74092.7c28d"]]},{"id":"c0e74092.7c28d","type":"switch","z":"5f6a488d.13c3e8","name":"Running","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"running","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":360,"y":220,"wires":[["a406099e.a68418"]]},{"id":"f6413195.0b512","type":"api-call-service","z":"5f6a488d.13c3e8","name":"","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"${input_id}","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":60,"wires":[[]]},{"id":"7ca51d4e.4d41d4","type":"api-call-service","z":"5f6a488d.13c3e8","name":"","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"${input_id}","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":100,"wires":[[]]},{"id":"a406099e.a68418","type":"api-current-state","z":"5f6a488d.13c3e8","name":"","server":"9027932f.54cb4","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"${input_id}","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":590,"y":160,"wires":[["13193eb.b9d7ec1"],["469c64ee.b00f4c"]]},{"id":"7da9e995.ee6df8","type":"api-call-service","z":"5f6a488d.13c3e8","name":"Off","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"${switch_id}","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1010,"y":260,"wires":[[]]},{"id":"33542c0e.d977b4","type":"subflow:5f6a488d.13c3e8","z":"aced6319.729be","g":"64f7a721.d1ce68","name":"left_158d0002f93e70","env":[{"name":"switch_id","value":"switch.wall_switch_ln_left_158d0002f93e70","type":"str"},{"name":"input_id","value":"input_boolean.left_158d0002f93e70","type":"str"}],"x":430,"y":860,"wires":[]},{"id":"8430d533.4b9818","type":"subflow:5f6a488d.13c3e8","z":"aced6319.729be","g":"64f7a721.d1ce68","name":"left_158d0002f9cb46","env":[{"name":"switch_id","value":"switch.wall_switch_ln_left_158d0002f9cb46","type":"str"},{"name":"input_id","value":"input_boolean.left_158d0002f9cb46","type":"str"}],"x":430,"y":900,"wires":[]},{"id":"9515ad8.e88195","type":"subflow:5f6a488d.13c3e8","z":"aced6319.729be","g":"64f7a721.d1ce68","name":"left_158d0002f9b743","env":[{"name":"switch_id","value":"switch.wall_switch_ln_left_158d0002f9b743","type":"str"},{"name":"input_id","value":"input_boolean.left_158d0002f9b743","type":"str"}],"x":430,"y":940,"wires":[]},{"id":"b3ac9338.4758e","type":"subflow:5f6a488d.13c3e8","z":"aced6319.729be","g":"64f7a721.d1ce68","name":"left_158d0002f9b20a","env":[{"name":"switch_id","value":"switch.wall_switch_ln_left_158d0002f9b20a","type":"str"},{"name":"input_id","value":"input_boolean.left_158d0002f9b20a","type":"str"}],"x":430,"y":980,"wires":[]},{"id":"e95f70d2.85ba1","type":"subflow:5f6a488d.13c3e8","z":"aced6319.729be","g":"64f7a721.d1ce68","name":"left_158d0002f9b1e5","env":[{"name":"switch_id","value":"switch.wall_switch_ln_left_158d0002f9b1e5","type":"str"},{"name":"input_id","value":"input_boolean.left_158d0002f9b1e5","type":"str"}],"x":430,"y":1020,"wires":[]},{"id":"f8c3943a.e45388","type":"subflow:5f6a488d.13c3e8","z":"aced6319.729be","g":"64f7a721.d1ce68","name":"left_158d0002f9b17b","env":[{"name":"switch_id","value":"switch.wall_switch_ln_left_158d0002f9b17b_2","type":"str"},{"name":"input_id","value":"input_boolean.left_158d0002f9b17b_2","type":"str"}],"x":430,"y":1060,"wires":[]},{"id":"dd8719af.bc51b8","type":"subflow:5f6a488d.13c3e8","z":"aced6319.729be","g":"64f7a721.d1ce68","name":"right_158d0002f93e70","env":[{"name":"switch_id","value":"switch.wall_switch_ln_right_158d0002f93e70","type":"str"},{"name":"input_id","value":"input_boolean.right_158d0002f93e70","type":"str"}],"x":670,"y":860,"wires":[]},{"id":"f05d927e.4fba2","type":"subflow:5f6a488d.13c3e8","z":"aced6319.729be","g":"64f7a721.d1ce68","name":"right_158d0002f9cb46","env":[{"name":"switch_id","value":"switch.wall_switch_ln_right_158d0002f9cb46","type":"str"},{"name":"input_id","value":"input_boolean.right_158d0002f9cb46","type":"str"}],"x":670,"y":900,"wires":[]},{"id":"4366c8de.3544e8","type":"subflow:5f6a488d.13c3e8","z":"aced6319.729be","g":"64f7a721.d1ce68","name":"right_158d0002f9b743","env":[{"name":"switch_id","value":"switch.wall_switch_ln_right_158d0002f9b743","type":"str"},{"name":"input_id","value":"input_boolean.right_158d0002f9b743","type":"str"}],"x":670,"y":940,"wires":[]},{"id":"657a8fad.1d9e7","type":"subflow:5f6a488d.13c3e8","z":"aced6319.729be","g":"64f7a721.d1ce68","name":"right_158d0002f9b20a","env":[{"name":"switch_id","value":"switch.wall_switch_ln_right_158d0002f9b20a","type":"str"},{"name":"input_id","value":"input_boolean.right_158d0002f9b20a","type":"str"}],"x":670,"y":980,"wires":[]},{"id":"91fa0570.3aa808","type":"subflow:5f6a488d.13c3e8","z":"aced6319.729be","g":"64f7a721.d1ce68","name":"right_158d0002f9b1e5","env":[{"name":"switch_id","value":"switch.wall_switch_ln_right_158d0002f9b1e5","type":"str"},{"name":"input_id","value":"input_boolean.right_158d0002f9b1e5","type":"str"}],"x":670,"y":1020,"wires":[]},{"id":"dd258453.6dc458","type":"subflow:5f6a488d.13c3e8","z":"aced6319.729be","g":"64f7a721.d1ce68","name":"right_158d0002f9b17b","env":[{"name":"switch_id","value":"switch.wall_switch_ln_right_158d0002f9b17b_2","type":"str"},{"name":"input_id","value":"input_boolean.right_158d0002f9b17b_2","type":"str"}],"x":670,"y":1060,"wires":[]},{"id":"13193eb.b9d7ec1","type":"api-current-state","z":"5f6a488d.13c3e8","name":"","server":"9027932f.54cb4","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"${switch_id}","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":780,"y":60,"wires":[["23af9cf2.563b74"],[]]},{"id":"469c64ee.b00f4c","type":"api-current-state","z":"5f6a488d.13c3e8","name":"","server":"9027932f.54cb4","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"${switch_id}","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":780,"y":260,"wires":[["7da9e995.ee6df8"],[]]},{"id":"8ab6c4a1.9b4d18","type":"subflow:480915c9.c5516c","z":"9ce55dc8.4adfb","g":"9cbf458f.a88648","name":"Кухня — 15 секунд (ночью)","env":[{"name":"switch_id","value":"switch.wall_switch_ln_158d00041e723f","type":"str"},{"name":"sensor_id","value":"binary_sensor.motion_sensor_158d0004466dfa","type":"str"},{"name":"timeout","value":"0.25","type":"num"},{"name":"condition_template","value":"{%    if is_state('input.night_mode', 'on')   and is_state('group.kitchen_lights', 'off') -%} on {%- else -%} off {%- endif %}","type":"str"},{"name":"mode","value":"always","type":"str"},{"name":"respect_night_mode","value":"false","type":"bool"}],"x":180,"y":140,"wires":[]},{"id":"a1628f5.a19a67","type":"server-state-changed","z":"efc1184c.9b6fb8","d":true,"name":"Camera is on","server":"9027932f.54cb4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.macbook_d_a_korolev_hd_kamera_facetime_vstroennaia","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":110,"y":800,"wires":[["c2ceef9d.feb8e"],["806f2d2d.25cd9"]]},{"id":"d00c1d4.05a14e","type":"api-call-service","z":"efc1184c.9b6fb8","name":"Turn lamp on","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.0x00158d0004249034_light","data":"payload","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":630,"y":760,"wires":[[]]},{"id":"c2ceef9d.feb8e","type":"function","z":"efc1184c.9b6fb8","name":"Save prev state","func":"const { attributes, state } = global.get('homeassistant').homeAssistant.states['light.0x00158d0004249034_light'];\n\nconst oldState = {\n    state: state,\n    brightness: attributes.brightness,\n    color_temp: attributes.color_temp\n};\n\nnode.status(JSON.stringify(oldState))\n\nflow.set('table_lamp_prev_state', JSON.stringify(oldState));\n\nreturn {\n    payload: {\n        brightness:90,\n        color_temp:190,\n        transition: 1\n    }\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":760,"wires":[["d00c1d4.05a14e"]]},{"id":"806f2d2d.25cd9","type":"function","z":"efc1184c.9b6fb8","name":"Restore prev state","func":"const { attributes, state } = global.get('homeassistant').homeAssistant.states['light.0x00158d0004249034_light'];\n\nlet oldState = flow.get('table_lamp_prev_state');\n\ntry {\n    oldState = JSON.parse(oldState);\n} catch (e) {\n    oldState = {\n        state: 'off'\n    }\n}\n\nflow.set('table_lamp_prev_state', '')\n\nnode.status(JSON.stringify(oldState))\n\nswitch (true) {\n    case oldState.state === 'on':\n        return [{\n            payload: {\n                brightness: oldState.brightness,\n                color_temp: oldState.color_temp,\n                transition: 1\n            }\n        }]\n    case oldState.state === 'off':\n        return [null, {}]\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":350,"y":820,"wires":[["d00c1d4.05a14e"],["67c676e0.71d688"]]},{"id":"67c676e0.71d688","type":"api-call-service","z":"efc1184c.9b6fb8","name":"Turn lamp off","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.0x00158d0004249034_light","data":"{\"transition\":1}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":630,"y":820,"wires":[[]]},{"id":"199a2821.595488","type":"server-state-changed","z":"efc1184c.9b6fb8","d":true,"name":"Occupancy","server":"","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.motion_sensor_158d0002480e96","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":640,"wires":[["b785e4c4.ee53c8","7252a1f7.6673f"],["473fcd99.52dee4"]]},{"id":"92e8af7d.13d2a","type":"api-call-service","z":"efc1184c.9b6fb8","d":true,"name":"Turn on","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.yeelight_stripe_0x0000000007c186dc","data":"{\"brightness\":100,\"rgb_color\":[255,226,145]}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":740,"y":640,"wires":[[]]},{"id":"473fcd99.52dee4","type":"trigger","z":"efc1184c.9b6fb8","d":true,"name":"Timer","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"5","extend":false,"units":"min","reset":"on","bytopic":"all","topic":"topic","outputs":1,"x":530,"y":680,"wires":[["75edc50b.393a7c"]]},{"id":"b785e4c4.ee53c8","type":"change","z":"efc1184c.9b6fb8","d":true,"name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":660,"wires":[["473fcd99.52dee4"]]},{"id":"75edc50b.393a7c","type":"api-call-service","z":"efc1184c.9b6fb8","d":true,"name":"Turn off","server":"","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.yeelight_stripe_0x0000000007c186dc","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":740,"y":680,"wires":[[]]},{"id":"7511f96f.7e6118","type":"server-state-changed","z":"efc1184c.9b6fb8","d":true,"name":"Strip","server":"","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.yeelight_stripe_0x0000000007c186dc","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":680,"wires":[["a2a92f45.077d5"],["b785e4c4.ee53c8"]]},{"id":"a2a92f45.077d5","type":"api-current-state","z":"efc1184c.9b6fb8","d":true,"name":"Occupancy off","server":"","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.motion_sensor_158d0002480e96","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":320,"y":700,"wires":[["473fcd99.52dee4"],[]]},{"id":"7252a1f7.6673f","type":"api-current-state","z":"efc1184c.9b6fb8","d":true,"name":"","server":"9027932f.54cb4","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.wall_switch_ln_158d0002c5e4a2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":440,"y":620,"wires":[["92e8af7d.13d2a"],[]]},{"id":"3c35cfa3.f6f17","type":"server-state-changed","z":"efc1184c.9b6fb8","d":true,"name":"Wall switch","server":"","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.wall_switch_ln_158d0002c5e4a2","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":740,"wires":[["b785e4c4.ee53c8","75edc50b.393a7c"],["92e8af7d.13d2a"]]},{"id":"23066cd8.ee4574","type":"function","z":"aced6319.729be","g":"e4223d52.33399","name":"Check time > 21:00","func":"const time = new Date();\n\nif (time.getHours() < 21) {\n    return;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":100,"wires":[["318a69c8.31b936"]]},{"id":"d2a702b7.94393","type":"api-current-state","z":"9ce55dc8.4adfb","g":"9cbf458f.a88648","name":"Is off","server":"9027932f.54cb4","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.verkhniaia_podsvetka","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":290,"y":200,"wires":[["495e566f.004328"],[]]},{"id":"608a2890.57ae68","type":"server-state-changed","z":"592ad21d.4a9acc","name":"NM","server":"9027932f.54cb4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.night_mode","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":450,"y":540,"wires":[["66650c9c.195424"],["26ea297.9f253d6"]]},{"id":"29b46780.7c4b98","type":"api-call-service","z":"592ad21d.4a9acc","name":"Настольная лампа вкл","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.0x00158d0004248f9c_light","data":"{\"brightness\":100,\"rgb_color\":[255,210,175]}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":810,"y":500,"wires":[[]]},{"id":"26ea297.9f253d6","type":"api-call-service","z":"592ad21d.4a9acc","name":"Настольная лампа выкл","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.0x00158d0004248f9c_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":670,"y":580,"wires":[[]]},{"id":"66650c9c.195424","type":"api-current-state","z":"592ad21d.4a9acc","name":"Is off","server":"9027932f.54cb4","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.verkhniaia_podsvetka","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":610,"y":500,"wires":[["29b46780.7c4b98"],[]]},{"id":"391b1e5.9cf1ce2","type":"inject","z":"c3c5d1d4.14f98","name":"click","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":240,"wires":[["79a602b2.dd8a6c"]]},{"id":"231c3b23.b25cc4","type":"function","z":"c3c5d1d4.14f98","name":"prep msg","func":"msg.filename = '/config/www/snapshots/snap.jpg';\nmsg.payload = { \n data: {\n type: 'photo',\n file: '/config/www/snap.jpg',\n chatId: 170320864,\n caption: 'Snapshot from camera.' }\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":300,"wires":[["8655cb8a.0f03a8"]]},{"id":"79a602b2.dd8a6c","type":"api-call-service","z":"c3c5d1d4.14f98","name":"Create snapshot","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"camera","service":"snapshot","entityId":"camera.cameraguestroommain","data":"{\"filename\":\"/config/www/snap.jpg\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":180,"y":300,"wires":[["231c3b23.b25cc4"]]},{"id":"8655cb8a.0f03a8","type":"api-call-service","z":"c3c5d1d4.14f98","name":"Send photo","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"telegram_bot","service":"send_photo","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":550,"y":300,"wires":[[]]},{"id":"a0f52bdd.bd6f38","type":"json","z":"15fec91b.db6397","name":"","property":"payload","action":"","pretty":false,"x":670,"y":1040,"wires":[["91c0c29a.a6e06"]]},{"id":"de4eaae.e23c558","type":"file in","z":"15fec91b.db6397","name":"","filename":"/config/.shopping_list.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":700,"y":920,"wires":[["a0f52bdd.bd6f38"]]},{"id":"d13816f8.81c9e8","type":"inject","z":"15fec91b.db6397","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":630,"y":820,"wires":[["de4eaae.e23c558"]]},{"id":"91c0c29a.a6e06","type":"debug","z":"15fec91b.db6397","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":880,"y":1100,"wires":[]},{"id":"9122f839.514038","type":"api-call-service","z":"86b021b.9886ae","name":"Переключить свет в коридоре","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"switch","service":"toggle","entityId":"switch.0x00158d0003c73bdb_switch","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":390,"y":340,"wires":[[]]},{"id":"241836ae.cc063a","type":"subflow:fab5abda.30a378","z":"86b021b.9886ae","g":"a987e732.bfcca8","name":"","env":[],"x":370,"y":160,"wires":[]},{"id":"77433c98.8e68f4","type":"change","z":"fab5abda.30a378","name":"save old state","rules":[{"t":"set","p":"oldBrightness","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":260,"wires":[["f7493ae6.ba6e08"]]},{"id":"78ce2aa2.41cfc4","type":"function","z":"ec405824.e94c68","name":"","func":"const reference = global.get('homeassistant').homeAssistant.states['light.verkhniaia_podsvetka'].attributes.brightness\n\n\nreturn {\n    reference\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":480,"wires":[["71de5129.aa2f2"]]},{"id":"9d9e0fbe.3cbce","type":"inject","z":"ec405824.e94c68","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":540,"wires":[["78ce2aa2.41cfc4"]]},{"id":"71de5129.aa2f2","type":"debug","z":"ec405824.e94c68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":450,"y":480,"wires":[]},{"id":"96db12e6.76d3f","type":"function","z":"fab5abda.30a378","name":"current brightness","func":"const brightness = global.get('homeassistant').homeAssistant.states['light.verkhniaia_podsvetka'].attributes.brightness\n\n\nreturn {\n    payload: brightness\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":80,"wires":[["2d72354b.69c29a"]]},{"id":"2d72354b.69c29a","type":"switch","z":"fab5abda.30a378","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"255","vt":"str"},{"t":"lt","v":"255","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":150,"y":160,"wires":[["5855e0c.69e532"],["77433c98.8e68f4"]]},{"id":"5855e0c.69e532","type":"change","z":"fab5abda.30a378","name":"restore old state","rules":[{"t":"set","p":"payload","pt":"msg","to":"oldBrightness","tot":"flow"},{"t":"delete","p":"oldBrightness","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":140,"wires":[["bee45e96.9afae"]]},{"id":"bf3a0e7c.6f656","type":"api-call-service","z":"fab5abda.30a378","name":"turn on","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.verkhniaia_podsvetka","data":"payload","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":720,"y":140,"wires":[[]]},{"id":"bee45e96.9afae","type":"function","z":"fab5abda.30a378","name":"","func":"return {\n    payload: {\n        brightness: msg.payload || 0\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":140,"wires":[["bf3a0e7c.6f656"]]},{"id":"5f2c7ee9.68412","type":"api-call-service","z":"86b021b.9886ae","g":"a987e732.bfcca8","name":"Переключить подсветку","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.verkhniaia_podsvetka","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":350,"y":200,"wires":[[]]},{"id":"163e8aa5.6a8cc5","type":"api-call-service","z":"f73184be.b12ee8","g":"147cb230.157ede","name":"Переключить ночник","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.liustra_v_detskoi_nightlight","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":500,"y":260,"wires":[[]]},{"id":"4b5cc0fa.544e8","type":"api-call-service","z":"137e3cae.a97503","name":"Кухня выкл","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.0x00158d000247702c_switch","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":330,"y":260,"wires":[[]]},{"id":"fc8df1d8.60b93","type":"server-state-changed","z":"137e3cae.a97503","name":"НГ режим","server":"9027932f.54cb4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.new_year_lights","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":120,"y":220,"wires":[["37bdf6a.51ef50a","7be7e63d.6ae828","185bc470.1a130c","9266c0fa.f7cdd"],["4b5cc0fa.544e8","f7c4ae10.6e3a","8b7bcd27.5be65","9cdebcf5.878e1"]]},{"id":"37bdf6a.51ef50a","type":"api-call-service","z":"137e3cae.a97503","name":"Кухня вкл","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.0x00158d000247702c_switch","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":330,"y":60,"wires":[[]]},{"id":"f7c4ae10.6e3a","type":"api-call-service","z":"137e3cae.a97503","name":"Детская выкл","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.0x00158d0003c73bdb_switch","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":340,"y":300,"wires":[[]]},{"id":"7be7e63d.6ae828","type":"api-call-service","z":"137e3cae.a97503","name":"Детская вкл","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.0x00158d0003c73bdb_switch","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":330,"y":100,"wires":[[]]},{"id":"185bc470.1a130c","type":"api-call-service","z":"137e3cae.a97503","name":"Гостиная вкл","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.0x588e81fffedbceec","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":340,"y":140,"wires":[[]]},{"id":"8b7bcd27.5be65","type":"api-call-service","z":"137e3cae.a97503","name":"Гостиная выкл","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.0x588e81fffedbceec","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":340,"y":340,"wires":[[]]},{"id":"9266c0fa.f7cdd","type":"api-call-service","z":"137e3cae.a97503","name":"Кабинет вкл","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.yeelight_stripe_0x0000000007c186dc","data":"{\"effect\":\"slowdown\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":330,"y":180,"wires":[[]]},{"id":"9cdebcf5.878e1","type":"api-call-service","z":"137e3cae.a97503","name":"Кабинет выкл","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.yeelight_stripe_0x0000000007c186dc","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":340,"y":380,"wires":[[]]},{"id":"555c2e46.4b88c","type":"switch","z":"aced6319.729be","g":"9fe93e6f.73b3d","name":"sunset / sunrise","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":1220,"wires":[["75273ba2.c2beb4"],["de4edec7.11a06"]]},{"id":"de4edec7.11a06","type":"api-call-service","z":"aced6319.729be","g":"9fe93e6f.73b3d","name":"НГ режим выкл.","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.new_year_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":530,"y":1260,"wires":[[]]},{"id":"a36ed157.26fe4","type":"sunrise","z":"aced6319.729be","g":"9fe93e6f.73b3d","name":"","lat":"55.879283","lon":"37.540680","start":"sunrise","end":"sunsetStart","soff":0,"eoff":0,"x":130,"y":1220,"wires":[[],["555c2e46.4b88c"]]},{"id":"75273ba2.c2beb4","type":"api-call-service","z":"aced6319.729be","g":"9fe93e6f.73b3d","name":"НГ режим вкл.","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.new_year_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":520,"y":1180,"wires":[[]]},{"id":"c1765640.6be158","type":"ha-entity","z":"aced6319.729be","name":"Occupancy Cabinet","server":"9027932f.54cb4","version":1,"debugenabled":false,"outputs":1,"entityType":"binary_sensor","config":[{"property":"name","value":"occupancy_cabinet"},{"property":"device_class","value":"occupancy"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":400,"y":1400,"wires":[[]]},{"id":"39572961.d8de56","type":"inject","z":"aced6319.729be","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":170,"y":1380,"wires":[["c1765640.6be158"]]},{"id":"6ca55dbc.4c41f4","type":"inject","z":"aced6319.729be","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":170,"y":1420,"wires":[["c1765640.6be158"]]},{"id":"e393cac9.8404a8","type":"subflow:c41e5f67.fefa3","z":"aced6319.729be","d":true,"name":"","env":[{"name":"name","value":"Occupancy Cabinet","type":"str"}],"x":190,"y":1500,"wires":[[]]},{"id":"9d8c8c23.328d5","type":"server-state-changed","z":"c41e5f67.fefa3","name":"Motion","server":"9027932f.54cb4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"${motion_sensor_id}","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":90,"y":100,"wires":[["8a29a7b2.e2cfc8","e4c45756.9386c8","4c9a4c4f.e5d524"],["8a29a7b2.e2cfc8","7ba672c9.8f1b2c"]]},{"id":"58b36d68.207794","type":"server-state-changed","z":"c41e5f67.fefa3","name":"Door","server":"9027932f.54cb4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"${door_sensor_id}","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":90,"y":320,"wires":[["76098881.14efc8","2beda524.2bffea"],["76098881.14efc8"]],"outputLabels":["открыта","закрыта"]},{"id":"7051d2a8.7de51c","type":"server-state-changed","z":"592ad21d.4a9acc","name":"doors","server":"9027932f.54cb4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.door_window_sensor_158d0004597041, binary_sensor.door_window_sensor_158d00039cd34a","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":140,"y":540,"wires":[["a21bb28f.4123"]]},{"id":"a21bb28f.4123","type":"debug","z":"592ad21d.4a9acc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":240,"y":640,"wires":[]},{"id":"8a29a7b2.e2cfc8","type":"change","z":"c41e5f67.fefa3","name":"motion","rules":[{"t":"set","p":"motion","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":40,"wires":[["cb5e7285.d8eb4"]]},{"id":"76098881.14efc8","type":"change","z":"c41e5f67.fefa3","name":"door","rules":[{"t":"set","p":"door","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":400,"wires":[["cb5e7285.d8eb4"]]},{"id":"7ba672c9.8f1b2c","type":"switch","z":"c41e5f67.fefa3","name":"door","property":"door","propertyType":"flow","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":180,"wires":[["4c9a4c4f.e5d524"],["4eef5499.8d485c"]],"outputLabels":["открыта","закрыта"]},{"id":"4eef5499.8d485c","type":"trigger","z":"c41e5f67.fefa3","name":"Timer","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"10","extend":false,"overrideDelay":false,"units":"min","reset":"on","bytopic":"all","topic":"topic","outputs":1,"x":410,"y":200,"wires":[["4c9a4c4f.e5d524"]]},{"id":"e4c45756.9386c8","type":"change","z":"c41e5f67.fefa3","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":120,"wires":[["4eef5499.8d485c"]]},{"id":"2beda524.2bffea","type":"switch","z":"c41e5f67.fefa3","name":"motion","property":"motion","propertyType":"flow","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":260,"wires":[[],["4eef5499.8d485c"]],"outputLabels":["движение есть","движения нет"]},{"id":"da77a462.ab31f8","type":"subflow:c41e5f67.fefa3","z":"f4a79bd5.d924f8","g":"5852faf3.ac4a24","name":"occupancy_bathroom","env":[{"name":"motion_sensor_id","value":"binary_sensor.motion_sensor_158d00047b87f4","type":"str"},{"name":"door_sensor_id","value":"binary_sensor.door_window_sensor_158d00044d9c48","type":"str"},{"name":"name","value":"bathroom_occupancy","type":"str"}],"x":320,"y":400,"wires":[["be0a83d5.ae1a2"]]},{"id":"c8bda321.12d57","type":"template","z":"c41e5f67.fefa3","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"str","x":620,"y":440,"wires":[[]]},{"id":"cb5e7285.d8eb4","type":"function","z":"c41e5f67.fefa3","name":"","func":"const status = flow.get('status');\nconst door = flow.get('door');\nconst motion = flow.get('motion');\n\nreturn {\n    payload: `S: ${status}; M: ${motion}; D: ${door}`\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":300,"wires":[["c8bda321.12d57"]]},{"id":"4c9a4c4f.e5d524","type":"change","z":"c41e5f67.fefa3","name":"status","rules":[{"t":"set","p":"status","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":180,"wires":[["cb5e7285.d8eb4"]]},{"id":"be0a83d5.ae1a2","type":"ha-entity","z":"f4a79bd5.d924f8","g":"5852faf3.ac4a24","name":"occupancy_bathroom","server":"9027932f.54cb4","version":1,"debugenabled":false,"outputs":1,"entityType":"binary_sensor","config":[{"property":"name","value":"occupancy_bathroom"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"","outputPayloadType":"str","x":540,"y":400,"wires":[[]]},{"id":"db9ca933.21e338","type":"switch","z":"a9a4b17b.9f4fa","name":"manual","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":260,"y":40,"wires":[["10cfb3bc.265eac"],["f8aae403.567ce8"]]},{"id":"7fa95eaf.020b8","type":"inject","z":"f4a79bd5.d924f8","g":"5852faf3.ac4a24","name":"Вкл","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":130,"y":440,"wires":[["bb27cb13.9d4398"]]},{"id":"4db4c5da.f875dc","type":"inject","z":"f4a79bd5.d924f8","g":"5852faf3.ac4a24","name":"Выкл","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":130,"y":480,"wires":[["bb27cb13.9d4398"]]},{"id":"8adc9f55.224df","type":"server-state-changed","z":"9ce55dc8.4adfb","g":"ced6d35c.62e6","name":"Дверь холодильника","server":"9027932f.54cb4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.door_window_sensor_158d000231ced3","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":160,"y":440,"wires":[["d7fa3d28.08abd"],["7a55b84f.6c1378"]]},{"id":"d7fa3d28.08abd","type":"trigger","z":"9ce55dc8.4adfb","g":"ced6d35c.62e6","name":"Timer 60s","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"60","extend":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":360,"y":400,"wires":[["9d8e33b0.9f76"]]},{"id":"7a55b84f.6c1378","type":"change","z":"9ce55dc8.4adfb","g":"ced6d35c.62e6","name":"Reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":480,"wires":[["d7fa3d28.08abd","9d8e33b0.9f76"]]},{"id":"3fc52b25.962bd4","type":"api-call-service","z":"9ce55dc8.4adfb","g":"ced6d35c.62e6","name":"Объявление","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"media_player","service":"play_media","entityId":"media_player.yandex_station_14007894c1205c100650","data":"{\"media_content_id\":\"Внимание, холодильник открыт!\",\"media_content_type\":\"text\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":710,"y":440,"wires":[[]]},{"id":"9d8e33b0.9f76","type":"trigger","z":"9ce55dc8.4adfb","g":"ced6d35c.62e6","name":"Repeat 15s","op1":"","op2":"","op1type":"date","op2type":"pay","duration":"-15","extend":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":530,"y":440,"wires":[["3fc52b25.962bd4"]]},{"id":"7f1911e1.b6e4b","type":"inject","z":"9ce55dc8.4adfb","g":"ced6d35c.62e6","name":"Каждый час днем","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"0 12-20 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":580,"wires":[["30e4fa32.71ed06"]]},{"id":"a80926f6.255c18","type":"api-call-service","z":"9ce55dc8.4adfb","g":"ced6d35c.62e6","name":"Объявление","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"media_player","service":"play_media","entityId":"media_player.yandex_station_14007894c1205c100650","data":"{\"media_content_id\":\"Пора бы убрать за котом\",\"media_content_type\":\"text\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":710,"y":580,"wires":[[]]},{"id":"59b320b8.2d8b4","type":"api-call-service","z":"efc1184c.9b6fb8","g":"1d67f34.aa2b30d","name":"Save time","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"input_datetime","service":"set_datetime","entityId":"input_datetime.cat_cleanup","data":"payload","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":720,"y":440,"wires":[["4392cf21.36c1c"]]},{"id":"55e5626.cc5219c","type":"function","z":"efc1184c.9b6fb8","g":"1d67f34.aa2b30d","name":"","func":"const d = new Date();\nconst YYYY = d.getFullYear()\nconst MM = `${d.getMonth() + 1}`.padStart(2, '0')\nconst DD = d.getDate()\nconst HH = d.getHours()\nconst mm = d.getMinutes()\n\nconst formatted = `${YYYY}-${MM}-${DD} ${HH}:${mm}`\n\nreturn {\n    payload: {\n        datetime: formatted\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":440,"wires":[["59b320b8.2d8b4"]]},{"id":"30e4fa32.71ed06","type":"api-current-state","z":"9ce55dc8.4adfb","g":"ced6d35c.62e6","name":"Время уборки","server":"9027932f.54cb4","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_datetime.cat_cleanup","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":380,"y":580,"wires":[["27befb9a.b46e04"]]},{"id":"27befb9a.b46e04","type":"function","z":"9ce55dc8.4adfb","g":"ced6d35c.62e6","name":"","func":"const TWO_DAYS = 48 * 60 * 60 * 1000\n\nconst last = new Date(msg.payload)\nconst now = new Date()\n\nif (now - last > TWO_DAYS) {\n    return {\n        payload: true\n    }\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":580,"wires":[["a80926f6.255c18","148f3b55.c6e265","9ad6c7a4.46a9e8"]]},{"id":"148f3b55.c6e265","type":"api-call-service","z":"9ce55dc8.4adfb","name":"Объявление","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"media_player","service":"play_media","entityId":"media_player.yandex_station_ff98f029499def9d4e5eb925","data":"{\"media_content_id\":\"Пора бы убрать за котом\",\"media_content_type\":\"text\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":710,"y":540,"wires":[[]]},{"id":"9ad6c7a4.46a9e8","type":"api-call-service","z":"9ce55dc8.4adfb","g":"ced6d35c.62e6","name":"Уведомление","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"telegram_bot","service":"send_message","entityId":"","data":"{\"message\":\"Пора прибрать за котом\",\"target\":[170320864]}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":720,"y":620,"wires":[[]]},{"id":"1d3f4432.4c900c","type":"api-current-state","z":"f4a79bd5.d924f8","g":"87974ad1.bd7578","name":"Ночной режим выкл","server":"9027932f.54cb4","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.night_mode","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":360,"y":80,"wires":[["817f2c7d.ead02"],[]]},{"id":"bd82eeea.15fc1","type":"inject","z":"efc1184c.9b6fb8","g":"1d67f34.aa2b30d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":280,"wires":[["55e5626.cc5219c"]]},{"id":"b229cea2.47323","type":"server-state-changed","z":"9d05a166.13cc4","name":"Remote","server":"9027932f.54cb4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"${entity_id}","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":110,"y":160,"wires":[["275bd65f.53cf3a"]]},{"id":"aef9e040.f6eca","type":"subflow:9d05a166.13cc4","z":"efc1184c.9b6fb8","g":"1d67f34.aa2b30d","name":"Remote 1","env":[{"name":"entity_id","value":"sensor.0x5c0272fffeda7067_action","type":"str"},{"name":"button_no","value":"1","type":"str"}],"x":120,"y":360,"wires":[["a7bf28a2.0cb8b8"],["a68a7ac6.3770c8"],[]]},{"id":"275bd65f.53cf3a","type":"function","z":"9d05a166.13cc4","name":"","func":"const action = msg.payload\n\nif (!action || action[0] !== env.get('button_no')) {\n    return\n}\n\nconst actionName = action.slice(2)\n\nconst message = {\n    payload: actionName\n}\n\nreturn [\n    actionName === 'single' ? message : undefined,\n    actionName === 'double' ? message : undefined,\n    actionName === 'hold' ? message : undefined\n]","outputs":3,"noerr":0,"initialize":"","finalize":"","x":300,"y":160,"wires":[[],[],[]]},{"id":"53169fcc.c9057","type":"subflow:9d05a166.13cc4","z":"efc1184c.9b6fb8","g":"1d67f34.aa2b30d","name":"Remote 3","env":[{"name":"entity_id","value":"sensor.0x5c0272fffeda7067_action","type":"str"},{"name":"button_no","value":"3","type":"str"}],"x":120,"y":440,"wires":[[],["55e5626.cc5219c"],[]]},{"id":"3866ee92.f45e22","type":"ha-entity","z":"f4a79bd5.d924f8","g":"b26b0907.6eb2f8","name":"occupancy_guest_bathroom","server":"9027932f.54cb4","version":1,"debugenabled":false,"outputs":1,"entityType":"binary_sensor","config":[{"property":"name","value":"occupancy_guest_bathroom"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"","outputPayloadType":"str","x":500,"y":1020,"wires":[[]]},{"id":"8987d1fc.7d334","type":"subflow:c41e5f67.fefa3","z":"f4a79bd5.d924f8","g":"b26b0907.6eb2f8","name":"occupancy_guest_bathroom","env":[{"name":"motion_sensor_id","value":"binary_sensor.motion_sensor_158d00032027ac","type":"str"},{"name":"door_sensor_id","value":"binary_sensor.door_window_sensor_158d00039cf9b9","type":"str"},{"name":"name","value":"bathroom_occupancy","type":"str"}],"x":180,"y":1020,"wires":[["3866ee92.f45e22"]]},{"id":"7d1c8cfe.77bed4","type":"subflow:9d05a166.13cc4","z":"592ad21d.4a9acc","name":"Remote 1","env":[{"name":"entity_id","value":"sensor.0x5c0272fffec9c16a_action","type":"str"},{"name":"button_no","value":"1","type":"str"}],"x":80,"y":140,"wires":[["8219784b.1acf58"],["12c3dd59.3956a3"],[]]},{"id":"15a333c6.d91cfc","type":"api-call-service","z":"592ad21d.4a9acc","name":"Настольная лампа вкл","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.0x00158d0004248f9c_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":370,"y":240,"wires":[[]]},{"id":"cf39c065.99515","type":"subflow:9d05a166.13cc4","z":"592ad21d.4a9acc","name":"Remote 2","env":[{"name":"entity_id","value":"sensor.0x5c0272fffec9c16a_action","type":"str"},{"name":"button_no","value":"2","type":"str"}],"x":80,"y":240,"wires":[["15a333c6.d91cfc"],[],[]]},{"id":"8219784b.1acf58","type":"api-call-service","z":"592ad21d.4a9acc","name":"Люстра","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"switch","service":"toggle","entityId":"switch.wall_switch_ln_left_158d0002f9b17b_2","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":300,"y":100,"wires":[[]]},{"id":"12c3dd59.3956a3","type":"api-call-service","z":"592ad21d.4a9acc","name":"Свет у окна","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"switch","service":"toggle","entityId":"switch.wall_switch_ln_right_158d0002f9b17b_2","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":310,"y":140,"wires":[[]]},{"id":"4392cf21.36c1c","type":"api-call-service","z":"efc1184c.9b6fb8","g":"1d67f34.aa2b30d","name":"Уведомление","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"telegram_bot","service":"send_message","entityId":"","data":"{\"message\":\"Время уборки сохранено\",\"target\":[170320864]}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":920,"y":440,"wires":[[]]}]