node-red/flows.json
[{"id":"47da1c69.8f02f4","type":"tab","label":"Алиса/телеграм","disabled":false,"info":""},{"id":"f4a79bd5.d924f8","type":"tab","label":"Нежилые","disabled":false,"info":""},{"id":"9ce55dc8.4adfb","type":"tab","label":"Кухня","disabled":false,"info":""},{"id":"f73184be.b12ee8","type":"tab","label":"Детская","disabled":false,"info":""},{"id":"86b021b.9886ae","type":"tab","label":"Гостиная","disabled":false,"info":""},{"id":"94519236.ee30c","type":"tab","label":"Коридор","disabled":false,"info":""},{"id":"aced6319.729be","type":"tab","label":"System","disabled":false,"info":""},{"id":"c3c5d1d4.14f98","type":"tab","label":"Уведомления","disabled":false,"info":""},{"id":"15fec91b.db6397","type":"tab","label":"Experiments","disabled":true,"info":""},{"id":"ec405824.e94c68","type":"tab","label":"test","disabled":false,"info":""},{"id":"efc1184c.9b6fb8","type":"tab","label":"Кабинет","disabled":false,"info":""},{"id":"b8798a24.fa3388","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"480915c9.c5516c","type":"subflow","name":"Motion light","info":"condition_template — дополнительное условие, по которому должен включаться свет (например, только ночью)\nшаблон должен возвращать on, если свет нужно включать и off, если не нужно","category":"","in":[{"x":60,"y":140,"wires":[{"id":"c47d304b.2a92b"}]}],"out":[],"env":[{"name":"switch_id","type":"str","value":""},{"name":"sensor_id","type":"str","value":""},{"name":"timeout","type":"num","value":"2"},{"name":"condition_template","type":"str","value":""}],"color":"#87A980","icon":"font-awesome/fa-lightbulb-o","status":{"x":540,"y":600,"wires":[{"id":"9a5eea25.ac3258","port":0}]}},{"id":"a9a4b17b.9f4fa","type":"subflow","name":"Extractor","info":"","category":"","in":[],"out":[],"env":[{"name":"humidity","type":"str","value":""},{"name":"switch","type":"str","value":""}],"color":"#3FADB5","icon":"font-awesome/fa-shower","status":{"x":400,"y":520,"wires":[{"id":"4b09e6c.a5f6618","port":0}]}},{"id":"de32d3e9.bd592","type":"subflow","name":"Notify both","info":"","category":"Telegram","in":[{"x":60,"y":80,"wires":[{"id":"dc56ddd9.b4d94"}]}],"out":[{"x":500,"y":80,"wires":[{"id":"bf456d8e.2ecbb","port":0}]}],"env":[],"color":"#00AAFF","icon":"font-awesome/fa-bullhorn"},{"id":"87974ad1.bd7578","type":"group","z":"f4a79bd5.d924f8","name":"Гардеробная","style":{"label":true},"nodes":["817f2c7d.ead02","561c35e.912bccc","d287833a.2d2a2","fee36a5c.deb318"],"x":34,"y":39},{"id":"311867e6.519fa8","type":"group","z":"f4a79bd5.d924f8","name":"Гардеробная (д)","style":{"label":true},"nodes":["c9b426b4.7f02f8"],"x":494,"y":39},{"id":"9915749b.69e2a8","type":"group","z":"f4a79bd5.d924f8","name":"Балкон","style":{"label":true},"nodes":["1d41d40c.c95afc"],"x":494,"y":159},{"id":"5852faf3.ac4a24","type":"group","z":"f4a79bd5.d924f8","name":"Санузел","style":{"label":true},"nodes":["bb27cb13.9d4398","c2fffcce.a8862"],"x":34,"y":259},{"id":"b26b0907.6eb2f8","type":"group","z":"f4a79bd5.d924f8","name":"Санузел гостевой","style":{"label":true},"nodes":["5d50595d.1a23b8","dee34ee6.871c6","515eb0ed.e8e8f","5c0603a8.1b6ebc","60f5d2ad.a2a97c","fe80691c.8344e8","9322dc87.31854"],"x":34,"y":439},{"id":"9cbf458f.a88648","type":"group","z":"9ce55dc8.4adfb","name":"Свет","style":{"label":true},"nodes":["2b4f7d73.8e0832","ffc77d99.5d6bf","495e566f.004328","4d1d965.8c81b68"],"x":34,"y":39},{"id":"147cb230.157ede","type":"group","z":"f73184be.b12ee8","name":"Свет","style":{"label":true},"nodes":["b5bf9cc2.126aa","d5db3ead.f6e6e","c2acdb45.cde578","effb05f1.29dc18","ac244303.3af2","5aecc233.0c5d3c","adafdcb7.209e","8dccdef5.91ab1","bb2bfd2a.12ab"],"x":34,"y":39},{"id":"a987e732.bfcca8","type":"group","z":"86b021b.9886ae","name":"Свет","style":{"label":true},"nodes":["c7a0e8b1.950778","578df5c9.1813bc","49e7b1b4.4be1e","36a51e52.6804f2","8205d1fb.0c7d9","613d8dab.d8f354","5d33c363.60577c","7937aae8.94eb94","9878ff79.6090d"],"x":34,"y":39},{"id":"3fd724b3.de3b5c","type":"group","z":"86b021b.9886ae","name":"Алиса","style":{"label":true},"nodes":["1cf952f5.87b5ed","11915d21.067963","96c3a937.c07cf8","34e6c168.34072e","b76a642a.e75058"],"x":34,"y":459},{"id":"e4223d52.33399","type":"group","z":"aced6319.729be","name":"Ночной режим — вкл/выкл","style":{"label":true},"nodes":["4655d7c4.c7da18","c9d08c3b.411a3","fb312ce9.6d309","515d5662.326af8","318a69c8.31b936","a1f13b99.1dbbf8","8ea91173.44f47","a16e6e80.fcc8d"],"x":34,"y":39},{"id":"c07e33c2.9498e","type":"group","z":"aced6319.729be","name":"Ночной режим — автогромкость Алисы","style":{"label":true},"nodes":["a51cdb93.792398","931db777.44e178","d963418e.4f99c","1eb646aa.727469"],"x":34,"y":239},{"id":"b15c90ae.462fc","type":"group","z":"aced6319.729be","name":"Регулярные проверки","style":{"label":true},"nodes":["487b399f.01c468","41b8a18a.e89f8","6d0dd9b7.1a3158"],"x":34,"y":439},{"id":"9027932f.54cb4","type":"server","z":"","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"2f85ac72.940ba4","type":"server","z":"","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"2076e519.9c44aa","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"88472a58.6a7638","type":"switch","z":"15fec91b.db6397","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"flip90","vt":"str"},{"t":"eq","v":"flip180","vt":"str"},{"t":"eq","v":"shake","vt":"str"},{"t":"eq","v":"slide","vt":"str"},{"t":"eq","v":"fall","vt":"str"},{"t":"eq","v":"rotate_left","vt":"str"},{"t":"eq","v":"rotate_right","vt":"str"},{"t":"eq","v":"tap","vt":"str"}],"checkall":"true","repair":false,"outputs":8,"x":290,"y":1100,"wires":[["e3025a46.9adae8"],["e3025a46.9adae8"],["e3025a46.9adae8"],["e3025a46.9adae8"],["e3025a46.9adae8"],["e3025a46.9adae8"],["e3025a46.9adae8"],[]]},{"id":"487bfebc.f0704","type":"server-state-changed","z":"15fec91b.db6397","name":"Кубик","server":"2f85ac72.940ba4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.0x00158d00029bf51f_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is_not","outputs":1,"output_only_on_state_change":true,"x":90,"y":1100,"wires":[["88472a58.6a7638","3df53d2d.dba362"]]},{"id":"e3025a46.9adae8","type":"debug","z":"15fec91b.db6397","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":1180,"wires":[]},{"id":"3df53d2d.dba362","type":"debug","z":"15fec91b.db6397","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":320,"y":1240,"wires":[]},{"id":"3652d694.966bda","type":"server-state-changed","z":"15fec91b.db6397","name":"Tap","server":"2f85ac72.940ba4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.0x00158d00029bf51f_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"tap","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":900,"wires":[["920044a6.381d48"],[]]},{"id":"920044a6.381d48","type":"api-call-service","z":"15fec91b.db6397","name":"Рекуператор","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"remote","service":"send_command","entityId":"remote.spalnia_pult","data":"{\"command\":[\"raw:nMwmEwlk0mk4mEsmoAZzQAMpuAGU1mEsmwDBTWZADyAv4A/gPoB+0xm02BQUAhAITmM2AaMBFwGvAa4GYwTnBe8IbwD3AXsFFAWvAI8AjwkPARKYQAA=\"]}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":320,"y":920,"wires":[[]]},{"id":"4655d7c4.c7da18","type":"inject","z":"aced6319.729be","g":"e4223d52.33399","name":"07:00","repeat":"","crontab":"00 07 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":160,"wires":[["515d5662.326af8"]]},{"id":"c9d08c3b.411a3","type":"switch","z":"aced6319.729be","g":"e4223d52.33399","name":"sunset / sunrise","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":120,"wires":[["318a69c8.31b936"],["515d5662.326af8"]]},{"id":"fb312ce9.6d309","type":"api-call-service","z":"aced6319.729be","g":"e4223d52.33399","name":"Ночной режим выкл.","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.night_mode","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":160,"wires":[[]]},{"id":"4e8aff68.b98b7","type":"server-state-changed","z":"480915c9.c5516c","name":"Occupancy","server":"2f85ac72.940ba4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"${sensor_id}","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":220,"wires":[["51e611f5.f0b3b","c47d304b.2a92b","59509bc2.e20e94"],["c6ae5fcb.d51e2","50d55b14.65a7e4","59509bc2.e20e94"]]},{"id":"6de95750.826028","type":"api-call-service","z":"480915c9.c5516c","name":"Turn on","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"${switch_id}","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":820,"y":140,"wires":[[]]},{"id":"c6ae5fcb.d51e2","type":"trigger","z":"480915c9.c5516c","name":"Timer","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"${timeout}","extend":false,"units":"min","reset":"on","bytopic":"all","topic":"topic","outputs":1,"x":610,"y":340,"wires":[["c9fb4ebd.9c9b1"]]},{"id":"51e611f5.f0b3b","type":"change","z":"480915c9.c5516c","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":300,"wires":[["c6ae5fcb.d51e2","50d55b14.65a7e4"]]},{"id":"c9fb4ebd.9c9b1","type":"api-call-service","z":"480915c9.c5516c","name":"Turn off","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"${switch_id}","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":780,"y":340,"wires":[[]]},{"id":"bbba6047.932c","type":"server-state-changed","z":"480915c9.c5516c","name":"Switch","server":"2f85ac72.940ba4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"${switch_id}","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":320,"wires":[["59d9ef0.b37491","adbe08d6.bedad8"],["51e611f5.f0b3b","adbe08d6.bedad8"]]},{"id":"59d9ef0.b37491","type":"api-current-state","z":"480915c9.c5516c","name":"Occupancy off","server":"2f85ac72.940ba4","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"${sensor_id}","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":360,"y":380,"wires":[["c6ae5fcb.d51e2","50d55b14.65a7e4"],[]]},{"id":"515d5662.326af8","type":"api-current-state","z":"aced6319.729be","g":"e4223d52.33399","name":"Is on","server":"2f85ac72.940ba4","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.night_mode","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":490,"y":160,"wires":[["fb312ce9.6d309"],[]]},{"id":"318a69c8.31b936","type":"api-current-state","z":"aced6319.729be","g":"e4223d52.33399","name":"Is off","server":"2f85ac72.940ba4","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.night_mode","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":490,"y":80,"wires":[["a16e6e80.fcc8d"],[]]},{"id":"a1f13b99.1dbbf8","type":"sunrise","z":"aced6319.729be","g":"e4223d52.33399","name":"","lat":"55.879283","lon":"37.540680","start":"sunrise","end":"sunsetStart","soff":0,"eoff":0,"x":130,"y":120,"wires":[[],["c9d08c3b.411a3"]]},{"id":"3ec15262.e7c3ae","type":"server-events","z":"47da1c69.8f02f4","name":"Telegram text","server":"2f85ac72.940ba4","event_type":"telegram_text","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":110,"y":60,"wires":[["244a8377.d0ffac","2f8f19f9.15c396"]]},{"id":"244a8377.d0ffac","type":"function","z":"47da1c69.8f02f4","name":"Parse category","func":"if (!msg.payload.event.text) {\n    return\n}\n\nconst text = msg.payload.event.text.toLowerCase()\nmsg.payload.event.text = text\n\nmsg.topic = 'unknown'\n\n\n\nswitch (true) {\n}\n\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":160,"wires":[["c82ebda5.82953","5ea46f66.21aaf"]]},{"id":"c82ebda5.82953","type":"switch","z":"47da1c69.8f02f4","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"night_mode","vt":"str"},{"t":"eq","v":"unknown","vt":"str"},{"t":"eq","v":"lights","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":330,"y":160,"wires":[["42cd89b.96a8378"],["f986bec3.4cd0b"],["90857341.f100f"]]},{"id":"5ea46f66.21aaf","type":"debug","z":"47da1c69.8f02f4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":130,"y":260,"wires":[]},{"id":"b31ec048.aa85b","type":"switch","z":"47da1c69.8f02f4","name":"","property":"service","propertyType":"msg","rules":[{"t":"eq","v":"turn_on","vt":"str"},{"t":"eq","v":"turn_off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":770,"y":80,"wires":[["c3718974.331448"],["8a101ff5.74cd7"]]},{"id":"c3718974.331448","type":"api-call-service","z":"47da1c69.8f02f4","name":"Ночной режим вкл.","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.night_mode","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1040,"y":40,"wires":[[]]},{"id":"8a101ff5.74cd7","type":"api-call-service","z":"47da1c69.8f02f4","name":"Ночной режим выкл","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.night_mode","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1040,"y":100,"wires":[[]]},{"id":"42cd89b.96a8378","type":"function","z":"47da1c69.8f02f4","name":"Format","func":"const { user_id, chat_id, text } = msg.payload.event\nconst service = text.includes('включ') ? 'turn_on' : 'turn_off'\n\nconst replies = {\n    turn_on: 'Включаю ночной режим',\n    turn_off: 'Выключаю ночной режим'\n}\n\n\nconst message = {\n    service,\n    reply: {\n        message: replies[service],\n        user_id,\n        chat_id\n    }\n}\n\nreturn message","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":140,"wires":[["b31ec048.aa85b","ab397186.333da"]]},{"id":"325af495.960e4c","type":"api-call-service","z":"47da1c69.8f02f4","name":"Вопрос Алисе","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"media_player","service":"play_media","entityId":"media_player.yandex_station_14007894c1205c100650","data":"payload","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":780,"y":260,"wires":[[]]},{"id":"f986bec3.4cd0b","type":"function","z":"47da1c69.8f02f4","name":"Format","func":"return {\n    payload: {\n        media_content_id: msg.payload.event.text,\n        media_content_type: 'question:' + msg.payload.event.chat_id\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":260,"wires":[["325af495.960e4c"]]},{"id":"972b46ba.57a728","type":"server-events","z":"47da1c69.8f02f4","name":"Ответ Алисы","server":"2f85ac72.940ba4","event_type":"yandex_station_response","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":770,"y":320,"wires":[["d8f2d8b5.a4df78"]]},{"id":"ab397186.333da","type":"api-call-service","z":"47da1c69.8f02f4","name":"Notify","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"telegram_bot","service":"send_message","entityId":"","data":"reply","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":790,"y":140,"wires":[[]]},{"id":"90857341.f100f","type":"function","z":"47da1c69.8f02f4","name":"Format","func":"// Constants\nconst roomTexts = {\n    cabinet: 'в кабинете'\n}\n\nconst roomIds = {\n    cabinet: \"switch.0x00158d0002c5e4a2_switch\"\n}\n\nconst replies = {\n    turn_on: 'Включаю свет',\n    turn_off: 'Выключаю свет'\n}\n\n\n// Message data\nconst { user_id, chat_id, text } = msg.payload.event\nconst service = text.includes('включи') ? 'turn_on' : 'turn_off'\nlet room;\n\nswitch (true) {\n    case (text.includes('кабинет')):\n        room = 'cabinet'\n        break;\n}\n\n\nconst message = {\n    service,\n    service_data: {\n        entity_id: roomIds[room]\n    },\n    reply: {\n        message: `${replies[service]} ${roomTexts[room]}`,\n        user_id,\n        chat_id\n    }\n}\n\nreturn message","outputs":1,"noerr":0,"x":560,"y":460,"wires":[["8b4677.6e274988","4da883bc.00548c"]]},{"id":"8b4677.6e274988","type":"api-call-service","z":"47da1c69.8f02f4","name":"Notify","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"telegram_bot","service":"send_message","entityId":"","data":"reply","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":750,"y":540,"wires":[[]]},{"id":"4da883bc.00548c","type":"switch","z":"47da1c69.8f02f4","name":"","property":"service","propertyType":"msg","rules":[{"t":"eq","v":"turn_on","vt":"str"},{"t":"eq","v":"turn_off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":460,"wires":[["c782c715.7ac5e8"],["b53e103.e86d2f"]]},{"id":"c782c715.7ac5e8","type":"api-call-service","z":"47da1c69.8f02f4","name":"Switch on","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"","data":"service_data","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":980,"y":420,"wires":[[]]},{"id":"b53e103.e86d2f","type":"api-call-service","z":"47da1c69.8f02f4","name":"Switch off","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"","data":"service_data","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":980,"y":480,"wires":[[]]},{"id":"33c667fe.fa8898","type":"comment","z":"47da1c69.8f02f4","name":"Ночной режим","info":"","x":580,"y":100,"wires":[]},{"id":"c3d53ff6.bd755","type":"comment","z":"47da1c69.8f02f4","name":"Всё неизвестное — Алисе","info":"","x":620,"y":220,"wires":[]},{"id":"4911c972.bcc0b8","type":"comment","z":"47da1c69.8f02f4","name":"Управление светом","info":"","x":590,"y":420,"wires":[]},{"id":"1c67e7f2.29ca18","type":"switch","z":"15fec91b.db6397","name":"sunset","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":230,"y":180,"wires":[["252c1aa4.abfef6"]]},{"id":"8c1ca958.0acc18","type":"inject","z":"15fec91b.db6397","name":"07:00","repeat":"","crontab":"00 07 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":700,"wires":[["4f826eb6.ae1c6"]]},{"id":"e33ad0e6.a071e","type":"switch","z":"15fec91b.db6397","name":"sunriseEnd","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":660,"wires":[["4f826eb6.ae1c6"]]},{"id":"2e3a7083.0a42c","type":"api-call-service","z":"15fec91b.db6397","name":"Ночной режим выкл.","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.night_mode","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":600,"y":700,"wires":[["c97d3836.b72958"]]},{"id":"3b46dbed.50f324","type":"comment","z":"15fec91b.db6397","name":"Night mode","info":"","x":90,"y":60,"wires":[]},{"id":"4f826eb6.ae1c6","type":"api-current-state","z":"15fec91b.db6397","name":"Is on","server":"2f85ac72.940ba4","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.night_mode","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":410,"y":700,"wires":[["2e3a7083.0a42c"],[]]},{"id":"252c1aa4.abfef6","type":"api-current-state","z":"15fec91b.db6397","name":"Is off","server":"2f85ac72.940ba4","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.night_mode","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":350,"y":180,"wires":[["1c358aee.1b61b5","6f673036.57267"],[]]},{"id":"1c358aee.1b61b5","type":"trigger","z":"15fec91b.db6397","name":"","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"5","extend":false,"units":"min","reset":"","bytopic":"all","outputs":1,"x":590,"y":180,"wires":[["47d012fe.4b6c5c"]]},{"id":"47d012fe.4b6c5c","type":"api-call-service","z":"15fec91b.db6397","name":"Ночной режим вкл.","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.night_mode","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":800,"y":180,"wires":[["32545ed4.3181e2"]]},{"id":"32545ed4.3181e2","type":"api-call-service","z":"15fec91b.db6397","name":"Notify","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"telegram_bot","service":"send_message","entityId":"","data":"{\"message\":\"🌃 Ночной режим включен\",\"disable_notification\":true}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1030,"y":180,"wires":[[]]},{"id":"6f673036.57267","type":"api-call-service","z":"15fec91b.db6397","name":"Notify","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"telegram_bot","service":"send_message","entityId":"","data":"{\"message\":\"🌃 Ночной режим включится через *5 минут*\",\"inline_keyboard\":[\"OK:/nm_ok,Отключить:/nm_disable\",\"Отложить на 15 минут:/nm_delay_15\",\"Отложить на 30 минут:/nm_delay_30\"]}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1030,"y":300,"wires":[[]]},{"id":"d2d12a1.2f786d8","type":"sunrise","z":"15fec91b.db6397","name":"","lat":"55.879283","lon":"37.540680","start":"sunriseEnd","end":"sunsetStart","soff":0,"eoff":0,"x":70,"y":180,"wires":[[],["1c67e7f2.29ca18"]]},{"id":"ee3f0918.fbf648","type":"sunrise","z":"15fec91b.db6397","name":"","lat":"55.879283","lon":"37.540680","start":"sunriseEnd","end":"sunsetStart","soff":0,"eoff":0,"x":90,"y":640,"wires":[[],["e33ad0e6.a071e"]]},{"id":"df941de.c85e5e","type":"server-events","z":"15fec91b.db6397","name":"","server":"2f85ac72.940ba4","event_type":"telegram_callback","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":130,"y":400,"wires":[["79146936.2b8bb8"]]},{"id":"79146936.2b8bb8","type":"function","z":"15fec91b.db6397","name":"Filter NM","func":"if (typeof msg.payload.event.command !== 'string') {\n    return\n}\n\n\nif (!msg.payload.event.command.startsWith('/nm_')) {\n    return\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":400,"wires":[["539d844f.8d900c","7f4544ac.1a33bc"]]},{"id":"539d844f.8d900c","type":"switch","z":"15fec91b.db6397","name":"","property":"payload.event.command","propertyType":"jsonata","rules":[{"t":"eq","v":"/nm_delay_15","vt":"str"},{"t":"eq","v":"/nm_delay_30","vt":"str"},{"t":"eq","v":"/nm_disable","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":510,"y":400,"wires":[["f85a7eaa.3d605","2c80fe0e.91c792"],["f85a7eaa.3d605","febdfc54.cf6f2"],["f85a7eaa.3d605"]]},{"id":"7f4544ac.1a33bc","type":"function","z":"15fec91b.db6397","name":"Format","func":"const count = (m) => {\n    const currentTime = new Date()\n    currentTime.setMinutes(currentTime.getMinutes() + m)\n    return currentTime.toTimeString().substr(0, 5)\n}\n\nconst message = {\n    '/nm_delay_15': () => `Ночной режим будет включен в ${count(15)}`,\n    '/nm_delay_30': () => `Ночной режим будет включен в ${count(30)}`,\n    '/nm_disable': () => \"Включение ночного режима отложено до завтра\",\n    '/nm_ok': () => \"🌃 Ночной режим включится через 5 минут\"\n}\n\nconst payload = {\n    message_id: msg.payload.event.message.message_id,\n    chat_id: msg.payload.event.chat_id,\n    message: message[msg.payload.event.command](),\n    inline_keyboard: []\n}\n\nreturn {\n    payload\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":520,"wires":[["d205b1fd.e8c92"]]},{"id":"d205b1fd.e8c92","type":"api-call-service","z":"15fec91b.db6397","name":"Reply","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"telegram_bot","service":"edit_message","entityId":"","data":"payload","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":510,"y":520,"wires":[[]]},{"id":"f85a7eaa.3d605","type":"change","z":"15fec91b.db6397","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":280,"wires":[["1c358aee.1b61b5"]]},{"id":"2c80fe0e.91c792","type":"trigger","z":"15fec91b.db6397","name":"","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"10","extend":false,"units":"min","reset":"","bytopic":"all","outputs":1,"x":730,"y":360,"wires":[["1c358aee.1b61b5","6f673036.57267"]]},{"id":"febdfc54.cf6f2","type":"trigger","z":"15fec91b.db6397","name":"","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"25","extend":false,"units":"min","reset":"","bytopic":"all","outputs":1,"x":730,"y":440,"wires":[["1c358aee.1b61b5","6f673036.57267"]]},{"id":"c97d3836.b72958","type":"api-call-service","z":"15fec91b.db6397","name":"Notify","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"telegram_bot","service":"send_message","entityId":"","data":"{\"message\":\"🌇 Ночной режим включен\",\"disable_notification\":true}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":810,"y":700,"wires":[[]]},{"id":"8ea91173.44f47","type":"inject","z":"aced6319.729be","g":"e4223d52.33399","name":"21:00","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 22 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":80,"wires":[["318a69c8.31b936"]]},{"id":"c47d304b.2a92b","type":"switch","z":"480915c9.c5516c","name":"Has template","property":"condition_template","propertyType":"env","rules":[{"t":"empty"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":160,"wires":[["6de95750.826028"],["5029bff8.9deea"]]},{"id":"5029bff8.9deea","type":"api-render-template","z":"480915c9.c5516c","name":"Condition","server":"2f85ac72.940ba4","template":"${condition_template}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":480,"y":200,"wires":[["254dd963.0cebe6"]]},{"id":"254dd963.0cebe6","type":"switch","z":"480915c9.c5516c","name":"Condition met","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":640,"y":200,"wires":[["6de95750.826028"]]},{"id":"2f8f19f9.15c396","type":"debug","z":"47da1c69.8f02f4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":310,"y":60,"wires":[]},{"id":"10cfb3bc.265eac","type":"api-call-service","z":"a9a4b17b.9f4fa","name":"Включить вытяжку","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"${switch}","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":540,"y":100,"wires":[[]]},{"id":"8741a88d.c867f8","type":"server-state-changed","z":"a9a4b17b.9f4fa","name":"Влажность ","server":"2f85ac72.940ba4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"${humidity}","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"num","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":90,"y":220,"wires":[["97955200.9e705","b46e6af2.f11258"]]},{"id":"97955200.9e705","type":"function","z":"a9a4b17b.9f4fa","name":"","func":"const humidity = +msg.payload\nconst reference = +global.get('homeassistant').homeAssistant.states['sensor.0xbc33acfffe26dc80_humidity'].state\n\nif (!humidity) {\n    return {}\n}\n\nconst payload = humidity > (reference + 10)\n    ? 'on'\n    : 'off'\n\nreturn {\n    payload,\n    data: {\n        humidity,\n        reference\n    }\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":100,"wires":[["e25be3e.d47432"]]},{"id":"e25be3e.d47432","type":"switch","z":"a9a4b17b.9f4fa","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":100,"wires":[["10cfb3bc.265eac","260dabef.2bae44"],["df00a08d.81003"]]},{"id":"df00a08d.81003","type":"trigger","z":"a9a4b17b.9f4fa","name":"Timer","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"5","extend":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":410,"y":280,"wires":[["f8aae403.567ce8"]]},{"id":"260dabef.2bae44","type":"change","z":"a9a4b17b.9f4fa","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":180,"wires":[["df00a08d.81003"]]},{"id":"f8aae403.567ce8","type":"api-call-service","z":"a9a4b17b.9f4fa","name":"Выключить вытяжку","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"${switch}","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":620,"y":280,"wires":[[]]},{"id":"d460081e.55d218","type":"server-state-changed","z":"a9a4b17b.9f4fa","name":"Switch","server":"9027932f.54cb4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"${switch}","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":280,"wires":[["97955200.9e705","d02ae80c.3d7e08"],["260dabef.2bae44","d02ae80c.3d7e08"]]},{"id":"4b09e6c.a5f6618","type":"template","z":"a9a4b17b.9f4fa","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"str","x":260,"y":520,"wires":[[]]},{"id":"b46e6af2.f11258","type":"change","z":"a9a4b17b.9f4fa","name":"","rules":[{"t":"set","p":"current_humidity","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":380,"wires":[["d8487d24.a6f1a"]]},{"id":"d02ae80c.3d7e08","type":"change","z":"a9a4b17b.9f4fa","name":"","rules":[{"t":"set","p":"current_status","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":420,"wires":[["d8487d24.a6f1a"]]},{"id":"d8487d24.a6f1a","type":"function","z":"a9a4b17b.9f4fa","name":"","func":"\nreturn {\n    payload: `${flow.get('current_humidity')} (${flow.get('current_status') || 'off'})`\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":400,"wires":[["4b09e6c.a5f6618"]]},{"id":"e5a9de0b.9ca24","type":"server-state-changed","z":"15fec91b.db6397","name":"Flip90","server":"2f85ac72.940ba4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.0x00158d00029bf51f_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"flip90","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":1380,"wires":[["d5fc0a59.68a478"],[]]},{"id":"1ccaf8a3.5b9237","type":"api-call-service","z":"15fec91b.db6397","name":"Включить люстру","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.0x00158d0002f9b17b_switch_left","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":670,"y":1360,"wires":[[]]},{"id":"d5fc0a59.68a478","type":"api-current-state","z":"15fec91b.db6397","name":"Люстра выключена","server":"2f85ac72.940ba4","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.0x00158d0002f9b17b_switch_left","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":300,"y":1380,"wires":[["1ccaf8a3.5b9237","f4184d49.e80f5"],["850a7c98.f4cb1","2c48e0bb.898ad"]]},{"id":"850a7c98.f4cb1","type":"api-call-service","z":"15fec91b.db6397","name":"Выключить люстру","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.0x00158d0002f9b17b_switch_left","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":1480,"wires":[[]]},{"id":"f4184d49.e80f5","type":"api-call-service","z":"15fec91b.db6397","name":"Включить группу","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.0x00158d0002f9b17b_switch_right","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":670,"y":1400,"wires":[[]]},{"id":"2c48e0bb.898ad","type":"api-call-service","z":"15fec91b.db6397","name":"Выключить группу","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.0x00158d0002f9b17b_switch_right","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":670,"y":1440,"wires":[[]]},{"id":"3e6093cd.22439c","type":"server-state-changed","z":"15fec91b.db6397","name":"Shake","server":"2f85ac72.940ba4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.0x00158d00029bf51f_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"shake","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":1460,"wires":[["57ee488c.347778"],[]]},{"id":"57ee488c.347778","type":"api-call-service","z":"15fec91b.db6397","name":"Лампа Димы — вкл/выкл","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.0x00158d0004248f9c_light","data":"{\"brightness_pct\":50}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":320,"y":1460,"wires":[[]]},{"id":"fad6a326.b5c2c","type":"server-state-changed","z":"15fec91b.db6397","name":"Rotate Left","server":"2f85ac72.940ba4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.0x00158d00029bf51f_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"rotate_left","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":1560,"wires":[["217e7a5f.1fa226"],[]]},{"id":"c8d414cc.107f68","type":"api-call-service","z":"15fec91b.db6397","name":"Уменьшить яркость","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.0x00158d0004248f9c_light","data":"{\"brightness_step_pct\":-10,\"transition\":0.5}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":540,"y":1560,"wires":[[]]},{"id":"6b21beb2.daff1","type":"state-machine","z":"15fec91b.db6397","d":true,"name":"Температура","triggerProperty":"payload","triggerPropertyType":"msg","stateProperty":"payload","statePropertyType":"msg","outputStateChangeOnly":false,"throwException":false,"states":["153","268","383","500"],"transitions":[{"name":"on","from":"153","to":"268"},{"name":"on","from":"268","to":"383"},{"name":"on","from":"383","to":"500"},{"name":"on","from":"500","to":"153"}],"x":480,"y":1760,"wires":[["3faf6c2d.f69f44"]]},{"id":"657f538d.afd0cc","type":"server-state-changed","z":"15fec91b.db6397","name":"Slide","server":"2f85ac72.940ba4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.0x00158d00029bf51f_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"slide","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":1760,"wires":[["b4daab74.d7fdb8"],[]]},{"id":"217e7a5f.1fa226","type":"api-current-state","z":"15fec91b.db6397","name":"Лампа включена?","server":"2f85ac72.940ba4","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.0x00158d0004248f9c_light","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":310,"y":1560,"wires":[["c8d414cc.107f68"],[]]},{"id":"5c21ca30.e56204","type":"server-state-changed","z":"15fec91b.db6397","name":"Rotate Right","server":"2f85ac72.940ba4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.0x00158d00029bf51f_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"rotate_right","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":1640,"wires":[["974e92f4.2829e"],[]]},{"id":"b2b093a0.2b8a","type":"api-call-service","z":"15fec91b.db6397","name":"Увеличить яркость","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.0x00158d0004248f9c_light","data":"{\"brightness_step_pct\":10,\"transition\":0.5}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":540,"y":1640,"wires":[[]]},{"id":"974e92f4.2829e","type":"api-current-state","z":"15fec91b.db6397","name":"Лампа включена?","server":"2f85ac72.940ba4","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.0x00158d0004248f9c_light","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":310,"y":1640,"wires":[["b2b093a0.2b8a"],[]]},{"id":"be7acd37.4b423","type":"api-call-service","z":"15fec91b.db6397","name":"153","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.0x00158d0004248f9c_light","data":"{\"color_temp\":153,\"transition\":0.5}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":1640,"wires":[[]]},{"id":"3faf6c2d.f69f44","type":"switch","z":"15fec91b.db6397","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"153","vt":"str"},{"t":"eq","v":"268","vt":"str"},{"t":"eq","v":"383","vt":"str"},{"t":"eq","v":"500","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":650,"y":1760,"wires":[["be7acd37.4b423"],["aa498846.ae0ba8"],["b6ca8a6e.880c98"],["52936c9c.ce2e44"]]},{"id":"b6ca8a6e.880c98","type":"api-call-service","z":"15fec91b.db6397","name":"383","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.0x00158d0004248f9c_light","data":"{\"color_temp\":383,\"transition\":0.5}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":1760,"wires":[[]]},{"id":"aa498846.ae0ba8","type":"api-call-service","z":"15fec91b.db6397","name":"268","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.0x00158d0004248f9c_light","data":"{\"color_temp\":268,\"transition\":0.5}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":1700,"wires":[[]]},{"id":"52936c9c.ce2e44","type":"api-call-service","z":"15fec91b.db6397","name":"500","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.0x00158d0004248f9c_light","data":"{\"color_temp\":500,\"transition\":0.5}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":1820,"wires":[[]]},{"id":"3063d792.423a88","type":"server-state-changed","z":"15fec91b.db6397","name":"Flip180","server":"2f85ac72.940ba4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.0x00158d00029bf51f_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"flip180","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":1860,"wires":[["f04ac125.844bf","3e9bcdfe.26daf2"],[]]},{"id":"f04ac125.844bf","type":"api-call-service","z":"15fec91b.db6397","name":"Выключить свет в гардеробе","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.0x00158d0002c57b8d_switch","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":310,"y":1840,"wires":[[]]},{"id":"3e9bcdfe.26daf2","type":"api-call-service","z":"15fec91b.db6397","name":"Выключить свет в санузле","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.0x00158d0002f9b20a_switch_left","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":300,"y":1880,"wires":[[]]},{"id":"30070dfe.7cc572","type":"comment","z":"15fec91b.db6397","name":"Спальня — кубик","info":"0x00158d0003057c9","x":130,"y":1320,"wires":[]},{"id":"b4daab74.d7fdb8","type":"api-current-state","z":"15fec91b.db6397","name":"Лампа включена?","server":"2f85ac72.940ba4","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.0x00158d0004248f9c_light","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":270,"y":1760,"wires":[["6b21beb2.daff1"],[]]},{"id":"cbd176de.ddb378","type":"server-state-changed","z":"15fec91b.db6397","name":"Flip90","server":"2f85ac72.940ba4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.0x00158d0002a6f8d7_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"flip90","halt_if_type":"re","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":1000,"wires":[["96004a08.8f7e38"],[]]},{"id":"96004a08.8f7e38","type":"api-call-service","z":"15fec91b.db6397","name":"Переключить свет в кабинете","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"switch","service":"toggle","entityId":"switch.0x00158d0002c5e4a2_switch","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":370,"y":1000,"wires":[[]]},{"id":"817f2c7d.ead02","type":"api-call-service","z":"f4a79bd5.d924f8","g":"87974ad1.bd7578","name":"Подсветка вкл.","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.0x00158d0003536e36_switch","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":320,"y":80,"wires":[[]]},{"id":"561c35e.912bccc","type":"api-call-service","z":"f4a79bd5.d924f8","g":"87974ad1.bd7578","name":"Подсветка выкл.","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.0x00158d0003536e36_switch","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":330,"y":120,"wires":[[]]},{"id":"d287833a.2d2a2","type":"server-state-changed","z":"f4a79bd5.d924f8","g":"87974ad1.bd7578","name":"Выключатель","server":"2f85ac72.940ba4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.0x00158d0002c57b8d_switch","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":130,"y":100,"wires":[["817f2c7d.ead02"],["561c35e.912bccc"]]},{"id":"fee36a5c.deb318","type":"subflow:480915c9.c5516c","z":"f4a79bd5.d924f8","g":"87974ad1.bd7578","name":"Гардеробная — свет по движению — 2 минуты","env":[{"name":"switch_id","value":"switch.0x00158d0002c57b8d_switch","type":"str"},{"name":"sensor_id","value":"binary_sensor.0x00158d0003202704_occupancy","type":"str"},{"name":"condition_template","value":"{% if is_state('input_boolean.night_mode', 'on') and is_state('group.bedroom_lights', 'off') -%} off {%- else -%} on {%- endif %}","type":"str"},{"name":"mode","value":"basic","type":"str"}],"x":250,"y":180,"wires":[]},{"id":"c9b426b4.7f02f8","type":"subflow:480915c9.c5516c","z":"f4a79bd5.d924f8","g":"311867e6.519fa8","name":"Гардеробная (д) — 2 минуты","env":[{"name":"switch_id","value":"switch.0x00158d0002c5ff27_switch","type":"str"},{"name":"sensor_id","value":"binary_sensor.0x00158d00047b9ae6_occupancy","type":"str"},{"name":"mode","value":"basic","type":"str"}],"x":650,"y":80,"wires":[]},{"id":"c2fffcce.a8862","type":"subflow:480915c9.c5516c","z":"f4a79bd5.d924f8","g":"5852faf3.ac4a24","name":"Санузел — свет по движению — 3 минуты","env":[{"name":"switch_id","value":"switch.0x00158d0002f9b20a_switch_left","type":"str"},{"name":"sensor_id","value":"binary_sensor.0x00158d00047b87f4_occupancy","type":"str"},{"name":"timeout","value":"3","type":"num"},{"name":"condition_template","value":"{% if is_state('input_boolean.night_mode', 'on') and is_state('group.bedroom_lights', 'off') -%} off {%- else -%} on {%- endif %}","type":"str"},{"name":"mode","value":"basic","type":"str"}],"x":230,"y":300,"wires":[]},{"id":"bb27cb13.9d4398","type":"subflow:a9a4b17b.9f4fa","z":"f4a79bd5.d924f8","g":"5852faf3.ac4a24","name":"Санузел — вытяжка","env":[{"name":"humidity","value":"sensor.0xbc33acfffe26dc7e_humidity","type":"str"},{"name":"switch","value":"switch.0x00158d0002f9b20a_switch_right","type":"str"}],"x":160,"y":360,"wires":[]},{"id":"5d50595d.1a23b8","type":"subflow:480915c9.c5516c","z":"f4a79bd5.d924f8","g":"b26b0907.6eb2f8","name":"Санузел (д) — свет по движению — 3 минуты","env":[{"name":"switch_id","value":"switch.0x00158d0002f9b1e5_switch_left","type":"str"},{"name":"sensor_id","value":"binary_sensor.0x00158d00032027ac_occupancy","type":"str"},{"name":"timeout","value":"3","type":"num"},{"name":"condition_template","value":"{% if is_state('input_boolean.night_mode', 'on') and is_state('group.primary_lights', 'off') -%} off {%- else -%} on {%- endif %}","type":"str"},{"name":"mode","value":"basic","type":"str"}],"x":240,"y":480,"wires":[]},{"id":"dee34ee6.871c6","type":"server-state-changed","z":"f4a79bd5.d924f8","g":"b26b0907.6eb2f8","name":"Включение света","server":"9027932f.54cb4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.0x00158d0002f9b1e5_switch_left","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":150,"y":720,"wires":[["515eb0ed.e8e8f"],["5c0603a8.1b6ebc"]]},{"id":"515eb0ed.e8e8f","type":"api-call-service","z":"f4a79bd5.d924f8","g":"b26b0907.6eb2f8","name":"Включить \"Занято\"","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.gateway_light_50ec50c4e83b","data":"{\"rgb_color\":[255,0,0],\"transition\":5,\"brightness\":120}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":680,"wires":[[]]},{"id":"5c0603a8.1b6ebc","type":"api-call-service","z":"f4a79bd5.d924f8","g":"b26b0907.6eb2f8","name":"Выключить \"Занято\"","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.gateway_light_50ec50c4e83b","data":"{\"transition\":5}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":740,"wires":[[]]},{"id":"60f5d2ad.a2a97c","type":"subflow:a9a4b17b.9f4fa","z":"f4a79bd5.d924f8","g":"b26b0907.6eb2f8","name":"Гостевой санузел — вытяжка","env":[{"name":"humidity","value":"sensor.0xbc33acfffe28b298_humidity","type":"str"},{"name":"switch","value":"switch.0x00158d0002f9b1e5_switch_right","type":"str"}],"x":190,"y":540,"wires":[]},{"id":"2b4f7d73.8e0832","type":"subflow:480915c9.c5516c","z":"9ce55dc8.4adfb","g":"9cbf458f.a88648","name":"Кухня — подсветка по движению — 1 минута","env":[{"name":"switch_id","value":"switch.0x00158d00041e723f_switch","type":"str"},{"name":"sensor_id","value":"binary_sensor.0x00158d0004466dfa_occupancy","type":"str"},{"name":"timeout","value":"1","type":"num"},{"name":"mode","value":"always","type":"str"},{"name":"respect_night_mode","value":"false","type":"bool"}],"x":240,"y":80,"wires":[]},{"id":"ffc77d99.5d6bf","type":"server-state-changed","z":"9ce55dc8.4adfb","g":"9cbf458f.a88648","name":"NM","server":"2f85ac72.940ba4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.night_mode","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":180,"wires":[["495e566f.004328"],["4d1d965.8c81b68"]]},{"id":"495e566f.004328","type":"api-call-service","z":"9ce55dc8.4adfb","g":"9cbf458f.a88648","name":"Подсветка коридора вкл","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.verkhniaia_podsvetka","data":"{\"transition\":7200,\"brightness\":150,\"rgb_color\":[36,36,255]}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":360,"y":140,"wires":[[]]},{"id":"4d1d965.8c81b68","type":"api-call-service","z":"9ce55dc8.4adfb","g":"9cbf458f.a88648","name":"Подсветка коридора выкл","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.verkhniaia_podsvetka","data":"{\"transition\":1800,\"brightness\":0}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":360,"y":220,"wires":[[]]},{"id":"b5bf9cc2.126aa","type":"server-state-changed","z":"f73184be.b12ee8","g":"147cb230.157ede","name":"Click","server":"2f85ac72.940ba4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.0x00158d000344e6c7_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"single","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":120,"wires":[["d5db3ead.f6e6e","bb2bfd2a.12ab"],[]]},{"id":"d5db3ead.f6e6e","type":"api-call-service","z":"f73184be.b12ee8","g":"147cb230.157ede","name":"Люстра вкл/выкл","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.liustra_v_detskoi","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":310,"y":120,"wires":[[]]},{"id":"c2acdb45.cde578","type":"server-state-changed","z":"f73184be.b12ee8","g":"147cb230.157ede","name":"Dbl click","server":"2f85ac72.940ba4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.0x00158d000344e6c7_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"double","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":180,"wires":[["effb05f1.29dc18","bb2bfd2a.12ab"],[]]},{"id":"effb05f1.29dc18","type":"api-call-service","z":"f73184be.b12ee8","g":"147cb230.157ede","name":"Ambilight вкл/выкл","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.liustra_v_detskoi_ambilight","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":310,"y":180,"wires":[[]]},{"id":"ac244303.3af2","type":"comment","z":"f73184be.b12ee8","g":"147cb230.157ede","name":"Люстра","info":"0x00158d0003136ee6","x":120,"y":80,"wires":[]},{"id":"5aecc233.0c5d3c","type":"server-state-changed","z":"f73184be.b12ee8","g":"147cb230.157ede","name":"Click","server":"2f85ac72.940ba4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.0x00158d0002a8f722_click","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"single","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":320,"wires":[["8dccdef5.91ab1"],[]]},{"id":"adafdcb7.209e","type":"comment","z":"f73184be.b12ee8","g":"147cb230.157ede","name":"Свет в гардеробной","info":"0x00158d0003136ee6","x":160,"y":280,"wires":[]},{"id":"8dccdef5.91ab1","type":"api-call-service","z":"f73184be.b12ee8","g":"147cb230.157ede","name":"Переключить свет в гардеробной","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"switch","service":"toggle","entityId":"switch.0x00158d0002c5ff27_switch","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":360,"y":320,"wires":[[]]},{"id":"c7a0e8b1.950778","type":"server-state-changed","z":"86b021b.9886ae","g":"a987e732.bfcca8","name":"Click","server":"2f85ac72.940ba4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.0x00158d0003055863_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"single","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":120,"wires":[["49e7b1b4.4be1e"],[]]},{"id":"578df5c9.1813bc","type":"comment","z":"86b021b.9886ae","g":"a987e732.bfcca8","name":"Гостиная — кнопка (верх)","info":"0x00158d0003136ee6","x":170,"y":80,"wires":[]},{"id":"49e7b1b4.4be1e","type":"api-call-service","z":"86b021b.9886ae","g":"a987e732.bfcca8","name":"Переключить свет в гостиной","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"switch","service":"toggle","entityId":"switch.0x00158d0002f93e70_switch_left","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":350,"y":120,"wires":[[]]},{"id":"36a51e52.6804f2","type":"server-state-changed","z":"86b021b.9886ae","g":"a987e732.bfcca8","name":"Click","server":"2f85ac72.940ba4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.0x00158d0003057c9b_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"single","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":240,"wires":[["613d8dab.d8f354"],[]]},{"id":"8205d1fb.0c7d9","type":"comment","z":"86b021b.9886ae","g":"a987e732.bfcca8","name":"Гостиная — кнопка (низ)","info":"0x00158d0003057c9","x":170,"y":200,"wires":[]},{"id":"613d8dab.d8f354","type":"api-call-service","z":"86b021b.9886ae","g":"a987e732.bfcca8","name":"Переключить свет в коридоре","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"switch","service":"toggle","entityId":"switch.0x00158d0002f9cb46_switch_right","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":350,"y":240,"wires":[[]]},{"id":"1cf952f5.87b5ed","type":"server-state-changed","z":"86b021b.9886ae","d":true,"g":"3fd724b3.de3b5c","name":"Дверь холодильника","server":"2f85ac72.940ba4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.0x00158d000231ced3_contact","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":160,"y":540,"wires":[["11915d21.067963"],["96c3a937.c07cf8"]]},{"id":"11915d21.067963","type":"trigger","z":"86b021b.9886ae","g":"3fd724b3.de3b5c","name":"Timer 60s","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"60","extend":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":380,"y":500,"wires":[["b76a642a.e75058"]]},{"id":"96c3a937.c07cf8","type":"change","z":"86b021b.9886ae","g":"3fd724b3.de3b5c","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":580,"wires":[["11915d21.067963","b76a642a.e75058"]]},{"id":"34e6c168.34072e","type":"api-call-service","z":"86b021b.9886ae","g":"3fd724b3.de3b5c","name":"Объявление","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"media_player","service":"play_media","entityId":"media_player.yandex_station_14007894c1205c100650","data":"{\"media_content_id\":\"Внимание, sil <[300]> холодильник открыт!\",\"media_content_type\":\"text\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":770,"y":540,"wires":[[]]},{"id":"b76a642a.e75058","type":"trigger","z":"86b021b.9886ae","g":"3fd724b3.de3b5c","name":"Repeat 15s","op1":"","op2":"","op1type":"date","op2type":"pay","duration":"-15","extend":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":590,"y":540,"wires":[["34e6c168.34072e"]]},{"id":"5d33c363.60577c","type":"comment","z":"86b021b.9886ae","g":"a987e732.bfcca8","name":"Гостиная — левая кнопка выключателя","info":"","x":220,"y":320,"wires":[]},{"id":"7937aae8.94eb94","type":"server-state-changed","z":"86b021b.9886ae","g":"a987e732.bfcca8","name":"Click","server":"2f85ac72.940ba4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.0x00158d0002f93e70_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"single_right","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":360,"wires":[["9878ff79.6090d"],[]]},{"id":"9878ff79.6090d","type":"api-call-service","z":"86b021b.9886ae","g":"a987e732.bfcca8","name":"Переключить свет в коридоре","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"switch","service":"toggle","entityId":"switch.0x00158d0002f9cb46_switch_right","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":350,"y":360,"wires":[[]]},{"id":"55dd896.3bc4378","type":"comment","z":"94519236.ee30c","name":"Коридор — правая кнопка выключателя","info":"","x":200,"y":60,"wires":[]},{"id":"47b28ba8.9e24d4","type":"server-state-changed","z":"94519236.ee30c","name":"Click","server":"2f85ac72.940ba4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.0x00158d0002f9cb46_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"single_left","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":100,"wires":[["13d10ca3.692cd3"],[]]},{"id":"13d10ca3.692cd3","type":"api-call-service","z":"94519236.ee30c","name":"Переключить свет в гостиной","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"switch","service":"toggle","entityId":"switch.0x00158d0002f93e70_switch_left","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":310,"y":100,"wires":[[]]},{"id":"a51cdb93.792398","type":"server-state-changed","z":"aced6319.729be","g":"c07e33c2.9498e","name":"NM","server":"2f85ac72.940ba4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.night_mode","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":110,"y":280,"wires":[["d963418e.4f99c"]]},{"id":"931db777.44e178","type":"api-call-service","z":"aced6319.729be","d":true,"g":"c07e33c2.9498e","name":"Set volume","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"media_player","service":"volume_set","entityId":"media_player.yandex_station_14007894c1205c100650","data":"payload","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":450,"y":300,"wires":[[]]},{"id":"d963418e.4f99c","type":"api-render-template","z":"aced6319.729be","g":"c07e33c2.9498e","name":"Volume","server":"2f85ac72.940ba4","template":"{% if\n    is_state('input_boolean.night_mode', 'off') or\n    is_state('group.primary_lights', 'on')\n-%}\n    {\"volume_level\":0.8}\n{%- else -%}\n    {\"volume_level\":0.4}\n{%- endif %}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":280,"y":300,"wires":[["931db777.44e178"]]},{"id":"1eb646aa.727469","type":"server-state-changed","z":"aced6319.729be","g":"c07e33c2.9498e","name":"PL","server":"2f85ac72.940ba4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"group.primary_lights","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":110,"y":340,"wires":[["d963418e.4f99c"]]},{"id":"68759b8d.4d43c4","type":"server-events","z":"15fec91b.db6397","d":true,"name":"","server":"2f85ac72.940ba4","event_type":"yandex_intent","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"x":140,"y":2020,"wires":[["8d64f114.28c1c","80dc84cc.1a5d68"]]},{"id":"8d64f114.28c1c","type":"debug","z":"15fec91b.db6397","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":2060,"wires":[]},{"id":"80dc84cc.1a5d68","type":"ha-fire-event","z":"15fec91b.db6397","name":"yandex_intent_response","server":"2f85ac72.940ba4","event":"yandex_intent_response","data":"{\"event_data_template\":{\"text\":\"{{ ['оки-доки']|random }}\"}}","dataType":"json","x":440,"y":2000,"wires":[[]]},{"id":"487b399f.01c468","type":"inject","z":"aced6319.729be","d":true,"g":"b15c90ae.462fc","name":"Check switches","props":[{"p":"payload"}],"repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":520,"wires":[["41b8a18a.e89f8"]]},{"id":"41b8a18a.e89f8","type":"api-call-service","z":"aced6319.729be","g":"b15c90ae.462fc","name":"Turn on","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.0x00158d000344e6c7_switch, switch.0x00158d000391fb26_switch","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":420,"y":520,"wires":[[]]},{"id":"6d0dd9b7.1a3158","type":"comment","z":"aced6319.729be","g":"b15c90ae.462fc","name":"Включение выключателей","info":"Регулярная проверка, что все нужные выключатели включены","x":180,"y":480,"wires":[]},{"id":"1d41d40c.c95afc","type":"subflow:480915c9.c5516c","z":"f4a79bd5.d924f8","g":"9915749b.69e2a8","name":"Балкон — только ночью — 3 минуты","env":[{"name":"switch_id","value":"switch.0x00158d0003455ca6_switch","type":"str"},{"name":"sensor_id","value":"binary_sensor.0x00158d0004466e9d_occupancy","type":"str"},{"name":"timeout","value":"3","type":"num"},{"name":"condition_template","value":"{% if is_state('input_boolean.night_mode', 'on') -%} on {%- else -%} off {%- endif %}","type":"str"},{"name":"mode","value":"night_only","type":"str"}],"x":670,"y":200,"wires":[]},{"id":"a16e6e80.fcc8d","type":"api-call-service","z":"aced6319.729be","g":"e4223d52.33399","name":"Ночной режим вкл.","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.night_mode","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":80,"wires":[[]]},{"id":"6b20e47.394341c","type":"server-state-changed","z":"c3c5d1d4.14f98","name":"Входная дверь","server":"2f85ac72.940ba4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.0x00158d00039ca2f8_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":60,"wires":[["1d37f51f.467dab"],[]]},{"id":"bf456d8e.2ecbb","type":"api-call-service","z":"de32d3e9.bd592","name":"Notify","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"telegram_bot","service":"send_message","entityId":"","data":"payload","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":370,"y":80,"wires":[[]]},{"id":"8e508b44.df39c8","type":"subflow:de32d3e9.bd592","z":"c3c5d1d4.14f98","x":690,"y":60,"wires":[[]]},{"id":"dc56ddd9.b4d94","type":"function","z":"de32d3e9.bd592","name":"","func":"return {\n    payload: {\n        \"message\": msg.payload,\n        \"target\": [\n            170320864,\n            303976871\n        ]\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":80,"wires":[["bf456d8e.2ecbb"]]},{"id":"1d37f51f.467dab","type":"api-current-state","z":"c3c5d1d4.14f98","name":"Никого нет дома","server":"9027932f.54cb4","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"group.persons","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":330,"y":60,"wires":[["6302462b.a19898"],[]]},{"id":"6302462b.a19898","type":"function","z":"c3c5d1d4.14f98","name":"","func":"return {\n    payload: 'Входная дверь открыта!'\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":60,"wires":[["8e508b44.df39c8"]]},{"id":"312eb280.0d0cae","type":"server-state-changed","z":"c3c5d1d4.14f98","name":"Балконная дверь","server":"2f85ac72.940ba4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.0x00158d00044d9900_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":130,"y":140,"wires":[["25970ac3.5189c6"],[]]},{"id":"e7d08f04.dc185","type":"subflow:de32d3e9.bd592","z":"c3c5d1d4.14f98","x":690,"y":140,"wires":[[]]},{"id":"53a18d92.17bb14","type":"function","z":"c3c5d1d4.14f98","name":"","func":"return {\n    payload: 'Балконная дверь открыта!'\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":140,"wires":[["e7d08f04.dc185"]]},{"id":"25970ac3.5189c6","type":"api-current-state","z":"c3c5d1d4.14f98","name":"Никого нет дома","server":"9027932f.54cb4","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"group.persons","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":350,"y":140,"wires":[["53a18d92.17bb14"],[]]},{"id":"fe80691c.8344e8","type":"server-state-changed","z":"f4a79bd5.d924f8","g":"b26b0907.6eb2f8","name":"Движение","server":"9027932f.54cb4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.0x00158d00032027ac_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":620,"wires":[["515eb0ed.e8e8f"],["9322dc87.31854"]]},{"id":"9322dc87.31854","type":"api-current-state","z":"f4a79bd5.d924f8","g":"b26b0907.6eb2f8","name":"Свет выключен","server":"9027932f.54cb4","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.0x00158d0002f9b1e5_switch_left","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":340,"y":620,"wires":[["5c0603a8.1b6ebc"],[]]},{"id":"81c1ffa1.a9d69","type":"json","z":"ec405824.e94c68","name":"","property":"payload","action":"","pretty":false,"x":150,"y":280,"wires":[["f3a32dfc.9aeee"]]},{"id":"ea16cfb0.98925","type":"file in","z":"ec405824.e94c68","name":"","filename":"/config/.shopping_list.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":180,"y":160,"wires":[["81c1ffa1.a9d69"]]},{"id":"55a050fc.2658c","type":"inject","z":"ec405824.e94c68","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":60,"wires":[["ea16cfb0.98925"]]},{"id":"f3a32dfc.9aeee","type":"debug","z":"ec405824.e94c68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":360,"y":340,"wires":[]},{"id":"bb2bfd2a.12ab","type":"debug","z":"f73184be.b12ee8","g":"147cb230.157ede","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":290,"y":80,"wires":[]},{"id":"b56faa94.caf078","type":"server-events","z":"47da1c69.8f02f4","name":"","server":"9027932f.54cb4","event_type":"yandex_intent","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":false,"x":140,"y":620,"wires":[["46d35cdc.c260a4"]]},{"id":"46d35cdc.c260a4","type":"debug","z":"47da1c69.8f02f4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":360,"y":620,"wires":[]},{"id":"d8f2d8b5.a4df78","type":"function","z":"47da1c69.8f02f4","name":"Format","func":"return {\n    payload: {\n        \"message\": msg.payload.event.text,\n        \"target\": [\n            +msg.payload.event.request_id\n        ]\n    }\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":320,"wires":[["74d82e1e.a431d"]]},{"id":"74d82e1e.a431d","type":"api-call-service","z":"47da1c69.8f02f4","name":"Notify","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"telegram_bot","service":"send_message","entityId":"","data":"payload","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1130,"y":320,"wires":[[]]},{"id":"16fc7db8.a0aa22","type":"server-state-changed","z":"efc1184c.9b6fb8","name":"Кнопка","server":"9027932f.54cb4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.0x00158d0002519aa5_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"single","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":60,"wires":[["ab1b51fb.b98c4"],[]]},{"id":"ab1b51fb.b98c4","type":"api-call-service","z":"efc1184c.9b6fb8","name":"Выключатель","server":"9027932f.54cb4","version":1,"debugenabled":false,"service_domain":"switch","service":"toggle","entityId":"switch.0x00158d0002c5e4a2_switch","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":280,"y":60,"wires":[[]]},{"id":"c0961db4.f3a4e","type":"trigger","z":"b8798a24.fa3388","name":"Repeat 15s","op1":"","op2":"","op1type":"date","op2type":"pay","duration":"-1","extend":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":210,"y":200,"wires":[["c7bb217b.9373e"]]},{"id":"49f3dd75.b7ebe4","type":"inject","z":"b8798a24.fa3388","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":140,"wires":[["c0961db4.f3a4e"]]},{"id":"c7bb217b.9373e","type":"debug","z":"b8798a24.fa3388","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":400,"y":240,"wires":[]},{"id":"50d55b14.65a7e4","type":"trigger","z":"480915c9.c5516c","name":"Counter","op1":"","op2":"","op1type":"date","op2type":"pay","duration":"-1","extend":false,"units":"s","reset":"on","bytopic":"all","topic":"topic","outputs":1,"x":620,"y":420,"wires":[["1b13946a.6b674c"]]},{"id":"1b13946a.6b674c","type":"function","z":"480915c9.c5516c","name":"","func":"const occupancy = flow.get('occupancy');\nconst status = flow.get('current_status');\n\nif (status === 'off') {\n    return {\n        payload: `S: off; M: ${occupancy}`\n    }\n}\n\nif (occupancy === 'on') {\n    return {\n        payload: `S: on; M: on`\n    }\n}\n\nconst timerStarted = Math.floor(msg.payload / 1000);\nconst timer = env.get('timeout') * 60;\nconst now = Math.floor(+(new Date()) / 1000);\nconst timeElapsed = now - timerStarted;\nconst timeLeft = timer - timeElapsed;\n\nreturn {\n    payload: `S: on; M: off; T: ${timeLeft}`\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":500,"wires":[["9a5eea25.ac3258"]]},{"id":"adbe08d6.bedad8","type":"change","z":"480915c9.c5516c","name":"","rules":[{"t":"set","p":"current_status","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":500,"wires":[["1b13946a.6b674c"]]},{"id":"59509bc2.e20e94","type":"change","z":"480915c9.c5516c","name":"","rules":[{"t":"set","p":"occupancy","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":460,"wires":[["1b13946a.6b674c"]]},{"id":"9a5eea25.ac3258","type":"template","z":"480915c9.c5516c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"str","x":380,"y":600,"wires":[[]]}]