node-red/flows.json
[{"id":"f9029196.f71a4","type":"tab","label":"Lights","disabled":false,"info":""},{"id":"df5c2813.57d0c8","type":"tab","label":"Вытяжки в санузлах","disabled":false,"info":""},{"id":"aced6319.729be","type":"tab","label":"Night mode","disabled":false,"info":""},{"id":"47da1c69.8f02f4","type":"tab","label":"Telegram","disabled":true,"info":""},{"id":"2675cd73.bc5b22","type":"tab","label":"Алерты","disabled":false,"info":""},{"id":"5a4801aa.f16b8","type":"tab","label":"Алиса","disabled":false,"info":""},{"id":"15fec91b.db6397","type":"tab","label":"Experiments","disabled":true,"info":""},{"id":"8afa23b2.32c58","type":"tab","label":"Regular checks","disabled":true,"info":""},{"id":"480915c9.c5516c","type":"subflow","name":"Motion light","info":"condition_template — дополнительное условие, по которому должен включаться свет (например, только ночью)\nшаблон должен возвращать on, если свет нужно включать и off, если не нужно","category":"","in":[{"x":60,"y":140,"wires":[{"id":"c47d304b.2a92b"}]}],"out":[],"env":[{"name":"switch_id","type":"str","value":""},{"name":"sensor_id","type":"str","value":""},{"name":"timeout","type":"num","value":"2"},{"name":"condition_template","type":"str","value":""}],"color":"#87A980","icon":"font-awesome/fa-lightbulb-o","status":{"x":200,"y":400,"wires":[{"id":"bbba6047.932c","port":0},{"id":"bbba6047.932c","port":1}]}},{"id":"a9a4b17b.9f4fa","type":"subflow","name":"Extractor","info":"","category":"","in":[],"out":[],"env":[{"name":"humidity","type":"str","value":""},{"name":"switch","type":"str","value":""}],"color":"#3FADB5","icon":"font-awesome/fa-shower","status":{"x":400,"y":520,"wires":[{"id":"4b09e6c.a5f6618","port":0}]}},{"id":"9027932f.54cb4","type":"server","z":"","name":"Home Assistant","addon":true},{"id":"2f85ac72.940ba4","type":"server","z":"","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"2076e519.9c44aa","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"88472a58.6a7638","type":"switch","z":"15fec91b.db6397","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"flip90","vt":"str"},{"t":"eq","v":"flip180","vt":"str"},{"t":"eq","v":"shake","vt":"str"},{"t":"eq","v":"slide","vt":"str"},{"t":"eq","v":"fall","vt":"str"},{"t":"eq","v":"rotate_left","vt":"str"},{"t":"eq","v":"rotate_right","vt":"str"},{"t":"eq","v":"tap","vt":"str"}],"checkall":"true","repair":false,"outputs":8,"x":290,"y":1100,"wires":[["e3025a46.9adae8"],["e3025a46.9adae8"],["e3025a46.9adae8"],["e3025a46.9adae8"],["e3025a46.9adae8"],["e3025a46.9adae8"],["e3025a46.9adae8"],[]]},{"id":"487bfebc.f0704","type":"server-state-changed","z":"15fec91b.db6397","name":"Кубик","server":"2f85ac72.940ba4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.0x00158d00029bf51f_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is_not","outputs":1,"output_only_on_state_change":true,"x":90,"y":1100,"wires":[["88472a58.6a7638","3df53d2d.dba362"]]},{"id":"e3025a46.9adae8","type":"debug","z":"15fec91b.db6397","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":1180,"wires":[]},{"id":"3df53d2d.dba362","type":"debug","z":"15fec91b.db6397","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":320,"y":1240,"wires":[]},{"id":"3652d694.966bda","type":"server-state-changed","z":"15fec91b.db6397","name":"Tap","server":"2f85ac72.940ba4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.0x00158d00029bf51f_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"tap","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":900,"wires":[["920044a6.381d48"],[]]},{"id":"920044a6.381d48","type":"api-call-service","z":"15fec91b.db6397","name":"Рекуператор","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"remote","service":"send_command","entityId":"remote.spalnia_pult","data":"{\"command\":[\"raw:nMwmEwlk0mk4mEsmoAZzQAMpuAGU1mEsmwDBTWZADyAv4A/gPoB+0xm02BQUAhAITmM2AaMBFwGvAa4GYwTnBe8IbwD3AXsFFAWvAI8AjwkPARKYQAA=\"]}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":320,"y":920,"wires":[[]]},{"id":"4655d7c4.c7da18","type":"inject","z":"aced6319.729be","name":"07:00","repeat":"","crontab":"00 07 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":320,"wires":[["515d5662.326af8"]]},{"id":"c9d08c3b.411a3","type":"switch","z":"aced6319.729be","name":"sunset / sunriseEnd","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":220,"wires":[["318a69c8.31b936"],["515d5662.326af8"]]},{"id":"fb312ce9.6d309","type":"api-call-service","z":"aced6319.729be","name":"Ночной режим выкл.","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.night_mode","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":640,"y":320,"wires":[["c99436be.73ca18"]]},{"id":"849be9fc.5a8858","type":"comment","z":"aced6319.729be","name":"Night mode","info":"","x":110,"y":60,"wires":[]},{"id":"4e8aff68.b98b7","type":"server-state-changed","z":"480915c9.c5516c","name":"Occupancy","server":"2f85ac72.940ba4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"${sensor_id}","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":220,"wires":[["51e611f5.f0b3b","c47d304b.2a92b"],["c6ae5fcb.d51e2"]]},{"id":"6de95750.826028","type":"api-call-service","z":"480915c9.c5516c","name":"Включить","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"${switch_id}","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":140,"wires":[[]]},{"id":"c6ae5fcb.d51e2","type":"trigger","z":"480915c9.c5516c","name":"Timer","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"${timeout}","extend":false,"units":"min","reset":"on","bytopic":"all","topic":"topic","outputs":1,"x":610,"y":340,"wires":[["c9fb4ebd.9c9b1"]]},{"id":"51e611f5.f0b3b","type":"change","z":"480915c9.c5516c","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":300,"wires":[["c6ae5fcb.d51e2"]]},{"id":"c9fb4ebd.9c9b1","type":"api-call-service","z":"480915c9.c5516c","name":"Выключить","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"${switch_id}","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":790,"y":340,"wires":[[]]},{"id":"bbba6047.932c","type":"server-state-changed","z":"480915c9.c5516c","name":"Switch","server":"2f85ac72.940ba4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"${switch_id}","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":320,"wires":[["59d9ef0.b37491"],["51e611f5.f0b3b"]]},{"id":"59d9ef0.b37491","type":"api-current-state","z":"480915c9.c5516c","name":"Датчик выключен","server":"2f85ac72.940ba4","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"${sensor_id}","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":370,"y":380,"wires":[["c6ae5fcb.d51e2"],[]]},{"id":"515d5662.326af8","type":"api-current-state","z":"aced6319.729be","name":"Is on","server":"2f85ac72.940ba4","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.night_mode","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":450,"y":320,"wires":[["fb312ce9.6d309"],[]]},{"id":"318a69c8.31b936","type":"api-current-state","z":"aced6319.729be","name":"Is off","server":"2f85ac72.940ba4","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.night_mode","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":450,"y":120,"wires":[["c38df746.f26308"],[]]},{"id":"c38df746.f26308","type":"api-call-service","z":"aced6319.729be","name":"Ночной режим вкл.","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.night_mode","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":640,"y":120,"wires":[["ae232cb8.9b72e"]]},{"id":"ae232cb8.9b72e","type":"api-call-service","z":"aced6319.729be","name":"Notify","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"telegram_bot","service":"send_message","entityId":"","data":"{\"message\":\"🌃 Ночной режим включен\",\"disable_notification\":true}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":120,"wires":[[]]},{"id":"a1f13b99.1dbbf8","type":"sunrise","z":"aced6319.729be","name":"","lat":"55.879283","lon":"37.540680","start":"sunriseEnd","end":"sunsetStart","soff":0,"eoff":0,"x":90,"y":220,"wires":[[],["c9d08c3b.411a3"]]},{"id":"3ec15262.e7c3ae","type":"server-events","z":"47da1c69.8f02f4","name":"Telegram text","server":"2f85ac72.940ba4","event_type":"telegram_text","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":110,"y":60,"wires":[["244a8377.d0ffac","2f8f19f9.15c396"]]},{"id":"244a8377.d0ffac","type":"function","z":"47da1c69.8f02f4","name":"Parse category","func":"if (!msg.payload.event.text) {\n    return\n}\n\nconst text = msg.payload.event.text.toLowerCase()\nmsg.payload.event.text = text\n\nmsg.topic = 'unknown'\n\nswitch (true) {\n}\n\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":160,"wires":[["c82ebda5.82953","5ea46f66.21aaf"]]},{"id":"c82ebda5.82953","type":"switch","z":"47da1c69.8f02f4","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"night_mode","vt":"str"},{"t":"eq","v":"unknown","vt":"str"},{"t":"eq","v":"lights","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":330,"y":160,"wires":[["42cd89b.96a8378"],["f986bec3.4cd0b"],["90857341.f100f"]]},{"id":"5ea46f66.21aaf","type":"debug","z":"47da1c69.8f02f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":130,"y":260,"wires":[]},{"id":"c99436be.73ca18","type":"api-call-service","z":"aced6319.729be","name":"Notify","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"telegram_bot","service":"send_message","entityId":"","data":"{\"message\":\"🌇 Ночной режим выключен\",\"disable_notification\":true}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":320,"wires":[[]]},{"id":"b31ec048.aa85b","type":"switch","z":"47da1c69.8f02f4","name":"","property":"service","propertyType":"msg","rules":[{"t":"eq","v":"turn_on","vt":"str"},{"t":"eq","v":"turn_off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":770,"y":80,"wires":[["c3718974.331448"],["8a101ff5.74cd7"]]},{"id":"c3718974.331448","type":"api-call-service","z":"47da1c69.8f02f4","name":"Ночной режим вкл.","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.night_mode","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1040,"y":40,"wires":[[]]},{"id":"8a101ff5.74cd7","type":"api-call-service","z":"47da1c69.8f02f4","name":"Ночной режим выкл","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.night_mode","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1040,"y":100,"wires":[[]]},{"id":"42cd89b.96a8378","type":"function","z":"47da1c69.8f02f4","name":"Format","func":"const { user_id, chat_id, text } = msg.payload.event\nconst service = text.includes('включ') ? 'turn_on' : 'turn_off'\n\nconst replies = {\n    turn_on: 'Включаю ночной режим',\n    turn_off: 'Выключаю ночной режим'\n}\n\n\nconst message = {\n    service,\n    reply: {\n        message: replies[service],\n        user_id,\n        chat_id\n    }\n}\n\nreturn message","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":140,"wires":[["b31ec048.aa85b","ab397186.333da"]]},{"id":"391d036f.09e92c","type":"inject","z":"8afa23b2.32c58","name":"Check switches","props":[{"p":"payload"}],"repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":160,"wires":[["3d3e5400.e1e46c","73294786.295578"]]},{"id":"3d3e5400.e1e46c","type":"api-call-service","z":"8afa23b2.32c58","name":"","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.0x00158d000344e6c7_switch","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":120,"wires":[[]]},{"id":"325af495.960e4c","type":"api-call-service","z":"47da1c69.8f02f4","name":"Вопрос Алисе","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"media_player","service":"play_media","entityId":"media_player.yandex_station_14007894c1205c100650","data":"payload","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":780,"y":260,"wires":[[]]},{"id":"f986bec3.4cd0b","type":"function","z":"47da1c69.8f02f4","name":"Format","func":"return {\n    payload: {\n        media_content_id: msg.payload.event.text,\n        media_content_type: 'question'\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":260,"wires":[["325af495.960e4c"]]},{"id":"972b46ba.57a728","type":"server-events","z":"47da1c69.8f02f4","name":"Ответ Алисы","server":"2f85ac72.940ba4","event_type":"yandex_station_response","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":770,"y":320,"wires":[["f2aaa738.1c25b8"]]},{"id":"f2aaa738.1c25b8","type":"function","z":"47da1c69.8f02f4","name":"Format","func":"return {\n    reply: {\n        message: msg.payload.event.text\n    }\n}","outputs":1,"noerr":0,"x":980,"y":300,"wires":[["9b7cd9fe.5e9828"]]},{"id":"9b7cd9fe.5e9828","type":"api-call-service","z":"47da1c69.8f02f4","name":"Notify","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"telegram_bot","service":"send_message","entityId":"","data":"reply","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1170,"y":300,"wires":[[]]},{"id":"ab397186.333da","type":"api-call-service","z":"47da1c69.8f02f4","name":"Notify","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"telegram_bot","service":"send_message","entityId":"","data":"reply","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":790,"y":140,"wires":[[]]},{"id":"90857341.f100f","type":"function","z":"47da1c69.8f02f4","name":"Format","func":"// Constants\nconst roomTexts = {\n    cabinet: 'в кабинете'\n}\n\nconst roomIds = {\n    cabinet: \"switch.0x00158d0002c5e4a2_switch\"\n}\n\nconst replies = {\n    turn_on: 'Включаю свет',\n    turn_off: 'Выключаю свет'\n}\n\n\n// Message data\nconst { user_id, chat_id, text } = msg.payload.event\nconst service = text.includes('включи') ? 'turn_on' : 'turn_off'\nlet room;\n\nswitch (true) {\n    case (text.includes('кабинет')):\n        room = 'cabinet'\n        break;\n}\n\n\nconst message = {\n    service,\n    service_data: {\n        entity_id: roomIds[room]\n    },\n    reply: {\n        message: `${replies[service]} ${roomTexts[room]}`,\n        user_id,\n        chat_id\n    }\n}\n\nreturn message","outputs":1,"noerr":0,"x":560,"y":460,"wires":[["8b4677.6e274988","4da883bc.00548c"]]},{"id":"8b4677.6e274988","type":"api-call-service","z":"47da1c69.8f02f4","name":"Notify","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"telegram_bot","service":"send_message","entityId":"","data":"reply","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":750,"y":540,"wires":[[]]},{"id":"4da883bc.00548c","type":"switch","z":"47da1c69.8f02f4","name":"","property":"service","propertyType":"msg","rules":[{"t":"eq","v":"turn_on","vt":"str"},{"t":"eq","v":"turn_off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":460,"wires":[["c782c715.7ac5e8"],["b53e103.e86d2f"]]},{"id":"c782c715.7ac5e8","type":"api-call-service","z":"47da1c69.8f02f4","name":"Switch on","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"","data":"service_data","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":980,"y":420,"wires":[[]]},{"id":"b53e103.e86d2f","type":"api-call-service","z":"47da1c69.8f02f4","name":"Switch off","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"","data":"service_data","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":980,"y":480,"wires":[[]]},{"id":"33c667fe.fa8898","type":"comment","z":"47da1c69.8f02f4","name":"Ночной режим","info":"","x":580,"y":100,"wires":[]},{"id":"c3d53ff6.bd755","type":"comment","z":"47da1c69.8f02f4","name":"Всё неизвестное — Алисе","info":"","x":620,"y":220,"wires":[]},{"id":"4911c972.bcc0b8","type":"comment","z":"47da1c69.8f02f4","name":"Управление светом","info":"","x":590,"y":420,"wires":[]},{"id":"73294786.295578","type":"api-call-service","z":"8afa23b2.32c58","name":"","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.0x00158d000391fb26_switch","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":180,"wires":[[]]},{"id":"1c67e7f2.29ca18","type":"switch","z":"15fec91b.db6397","name":"sunset","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":230,"y":180,"wires":[["252c1aa4.abfef6"]]},{"id":"8c1ca958.0acc18","type":"inject","z":"15fec91b.db6397","name":"07:00","repeat":"","crontab":"00 07 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":700,"wires":[["4f826eb6.ae1c6"]]},{"id":"e33ad0e6.a071e","type":"switch","z":"15fec91b.db6397","name":"sunriseEnd","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":660,"wires":[["4f826eb6.ae1c6"]]},{"id":"2e3a7083.0a42c","type":"api-call-service","z":"15fec91b.db6397","name":"Ночной режим выкл.","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.night_mode","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":600,"y":700,"wires":[["c97d3836.b72958"]]},{"id":"3b46dbed.50f324","type":"comment","z":"15fec91b.db6397","name":"Night mode","info":"","x":90,"y":60,"wires":[]},{"id":"4f826eb6.ae1c6","type":"api-current-state","z":"15fec91b.db6397","name":"Is on","server":"2f85ac72.940ba4","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.night_mode","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":410,"y":700,"wires":[["2e3a7083.0a42c"],[]]},{"id":"252c1aa4.abfef6","type":"api-current-state","z":"15fec91b.db6397","name":"Is off","server":"2f85ac72.940ba4","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.night_mode","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":350,"y":180,"wires":[["1c358aee.1b61b5","6f673036.57267"],[]]},{"id":"1c358aee.1b61b5","type":"trigger","z":"15fec91b.db6397","name":"","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"5","extend":false,"units":"min","reset":"","bytopic":"all","outputs":1,"x":590,"y":180,"wires":[["47d012fe.4b6c5c"]]},{"id":"47d012fe.4b6c5c","type":"api-call-service","z":"15fec91b.db6397","name":"Ночной режим вкл.","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.night_mode","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":800,"y":180,"wires":[["32545ed4.3181e2"]]},{"id":"32545ed4.3181e2","type":"api-call-service","z":"15fec91b.db6397","name":"Notify","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"telegram_bot","service":"send_message","entityId":"","data":"{\"message\":\"🌃 Ночной режим включен\",\"disable_notification\":true}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1030,"y":180,"wires":[[]]},{"id":"6f673036.57267","type":"api-call-service","z":"15fec91b.db6397","name":"Notify","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"telegram_bot","service":"send_message","entityId":"","data":"{\"message\":\"🌃 Ночной режим включится через *5 минут*\",\"inline_keyboard\":[\"OK:/nm_ok,Отключить:/nm_disable\",\"Отложить на 15 минут:/nm_delay_15\",\"Отложить на 30 минут:/nm_delay_30\"]}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1030,"y":300,"wires":[[]]},{"id":"d2d12a1.2f786d8","type":"sunrise","z":"15fec91b.db6397","name":"","lat":"55.879283","lon":"37.540680","start":"sunriseEnd","end":"sunsetStart","soff":0,"eoff":0,"x":70,"y":180,"wires":[[],["1c67e7f2.29ca18"]]},{"id":"ee3f0918.fbf648","type":"sunrise","z":"15fec91b.db6397","name":"","lat":"55.879283","lon":"37.540680","start":"sunriseEnd","end":"sunsetStart","soff":0,"eoff":0,"x":90,"y":640,"wires":[[],["e33ad0e6.a071e"]]},{"id":"df941de.c85e5e","type":"server-events","z":"15fec91b.db6397","name":"","server":"2f85ac72.940ba4","event_type":"telegram_callback","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":130,"y":400,"wires":[["79146936.2b8bb8"]]},{"id":"79146936.2b8bb8","type":"function","z":"15fec91b.db6397","name":"Filter NM","func":"if (typeof msg.payload.event.command !== 'string') {\n    return\n}\n\n\nif (!msg.payload.event.command.startsWith('/nm_')) {\n    return\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":400,"wires":[["539d844f.8d900c","7f4544ac.1a33bc"]]},{"id":"539d844f.8d900c","type":"switch","z":"15fec91b.db6397","name":"","property":"payload.event.command","propertyType":"jsonata","rules":[{"t":"eq","v":"/nm_delay_15","vt":"str"},{"t":"eq","v":"/nm_delay_30","vt":"str"},{"t":"eq","v":"/nm_disable","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":510,"y":400,"wires":[["f85a7eaa.3d605","2c80fe0e.91c792"],["f85a7eaa.3d605","febdfc54.cf6f2"],["f85a7eaa.3d605"]]},{"id":"7f4544ac.1a33bc","type":"function","z":"15fec91b.db6397","name":"Format","func":"const count = (m) => {\n    const currentTime = new Date()\n    currentTime.setMinutes(currentTime.getMinutes() + m)\n    return currentTime.toTimeString().substr(0, 5)\n}\n\nconst message = {\n    '/nm_delay_15': () => `Ночной режим будет включен в ${count(15)}`,\n    '/nm_delay_30': () => `Ночной режим будет включен в ${count(30)}`,\n    '/nm_disable': () => \"Включение ночного режима отложено до завтра\",\n    '/nm_ok': () => \"🌃 Ночной режим включится через 5 минут\"\n}\n\nconst payload = {\n    message_id: msg.payload.event.message.message_id,\n    chat_id: msg.payload.event.chat_id,\n    message: message[msg.payload.event.command](),\n    inline_keyboard: []\n}\n\nreturn {\n    payload\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":520,"wires":[["d205b1fd.e8c92"]]},{"id":"d205b1fd.e8c92","type":"api-call-service","z":"15fec91b.db6397","name":"Reply","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"telegram_bot","service":"edit_message","entityId":"","data":"payload","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":510,"y":520,"wires":[[]]},{"id":"f85a7eaa.3d605","type":"change","z":"15fec91b.db6397","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":280,"wires":[["1c358aee.1b61b5"]]},{"id":"2c80fe0e.91c792","type":"trigger","z":"15fec91b.db6397","name":"","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"10","extend":false,"units":"min","reset":"","bytopic":"all","outputs":1,"x":730,"y":360,"wires":[["1c358aee.1b61b5","6f673036.57267"]]},{"id":"febdfc54.cf6f2","type":"trigger","z":"15fec91b.db6397","name":"","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"25","extend":false,"units":"min","reset":"","bytopic":"all","outputs":1,"x":730,"y":440,"wires":[["1c358aee.1b61b5","6f673036.57267"]]},{"id":"c97d3836.b72958","type":"api-call-service","z":"15fec91b.db6397","name":"Notify","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"telegram_bot","service":"send_message","entityId":"","data":"{\"message\":\"🌇 Ночной режим включен\",\"disable_notification\":true}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":810,"y":700,"wires":[[]]},{"id":"8ea91173.44f47","type":"inject","z":"aced6319.729be","name":"22:00","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 22 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":120,"wires":[["318a69c8.31b936"]]},{"id":"c47d304b.2a92b","type":"switch","z":"480915c9.c5516c","name":"Has template","property":"condition_template","propertyType":"env","rules":[{"t":"empty"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":160,"wires":[["6de95750.826028"],["5029bff8.9deea"]]},{"id":"5029bff8.9deea","type":"api-render-template","z":"480915c9.c5516c","name":"Condition","server":"2f85ac72.940ba4","template":"${condition_template}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":480,"y":200,"wires":[["254dd963.0cebe6"]]},{"id":"254dd963.0cebe6","type":"switch","z":"480915c9.c5516c","name":"Condition met","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":640,"y":200,"wires":[["6de95750.826028"]]},{"id":"f9c72476.eb8648","type":"server-state-changed","z":"2675cd73.bc5b22","name":"Входная дверь","server":"2f85ac72.940ba4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.0x00158d00039ca2f8_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":140,"wires":[["693ac25a.c2ec8c"],["117c1103.f2027f"]]},{"id":"693ac25a.c2ec8c","type":"api-call-service","z":"2675cd73.bc5b22","name":"Notify","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"telegram_bot","service":"send_message","entityId":"","data":"{\"message\":\"Входная дверь открыта!\",\"target\":[170320864,303976871]}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":330,"y":100,"wires":[[]]},{"id":"117c1103.f2027f","type":"api-call-service","z":"2675cd73.bc5b22","name":"Notify","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"telegram_bot","service":"send_message","entityId":"","data":"{\"message\":\"Входная дверь закрыта\",\"target\":[170320864,303976871]}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":330,"y":180,"wires":[[]]},{"id":"2f8f19f9.15c396","type":"debug","z":"47da1c69.8f02f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":310,"y":60,"wires":[]},{"id":"dcf46faa.d3134","type":"server-state-changed","z":"5a4801aa.f16b8","name":"Дверь холодильника","server":"2f85ac72.940ba4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.0x00158d000231ced3_contact","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":140,"y":120,"wires":[["5fd82de3.47f914"],["38351f76.fa045"]]},{"id":"5fd82de3.47f914","type":"trigger","z":"5a4801aa.f16b8","name":"Timer 60s","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"60","extend":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":420,"y":80,"wires":[["bdebd7af.fb6fb8"]]},{"id":"38351f76.fa045","type":"change","z":"5a4801aa.f16b8","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":140,"wires":[["5fd82de3.47f914","bdebd7af.fb6fb8"]]},{"id":"aa3b8d9c.02de5","type":"api-call-service","z":"5a4801aa.f16b8","name":"Объявление","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"media_player","service":"play_media","entityId":"media_player.yandex_station_14007894c1205c100650","data":"{\"media_content_id\":\"Внимание, sil <[300]> холодильник открыт!\",\"media_content_type\":\"text\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":120,"wires":[[]]},{"id":"803dca24.e5e5f8","type":"server-state-changed","z":"5a4801aa.f16b8","name":"NM","server":"2f85ac72.940ba4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.night_mode","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":90,"y":400,"wires":[["49463c78.fb7a64"]]},{"id":"d241d1f0.bcc5","type":"comment","z":"5a4801aa.f16b8","name":"Ночной режим громкости Алисы","info":"0x00158d0003136ee6","x":180,"y":320,"wires":[]},{"id":"aa7f2df0.5bbf2","type":"api-call-service","z":"5a4801aa.f16b8","name":"Set volume","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"media_player","service":"volume_set","entityId":"media_player.yandex_station_14007894c1205c100650","data":"payload","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":420,"wires":[[]]},{"id":"df74a5b7.1d03e8","type":"server-events","z":"5a4801aa.f16b8","d":true,"name":"","server":"2f85ac72.940ba4","event_type":"yandex_intent","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"x":140,"y":560,"wires":[["3bb02930.9f89d6","15697b74.b2f9c5"]]},{"id":"3bb02930.9f89d6","type":"debug","z":"5a4801aa.f16b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":600,"wires":[]},{"id":"49463c78.fb7a64","type":"api-render-template","z":"5a4801aa.f16b8","name":"Volume","server":"2f85ac72.940ba4","template":"{% if\n    is_state('input_boolean.night_mode', 'on') and\n    is_state('sensor.primary_lights', 'off')\n-%}\n    {\"volume_level\":0.4}\n{%- else -%}\n    {\"volume_level\":0.8}\n{%- endif %}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":260,"y":420,"wires":[["aa7f2df0.5bbf2"]]},{"id":"cf69eb46.f506a8","type":"server-state-changed","z":"5a4801aa.f16b8","name":"PL","server":"2f85ac72.940ba4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.primary_lights","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":90,"y":460,"wires":[["49463c78.fb7a64"]]},{"id":"15697b74.b2f9c5","type":"ha-fire-event","z":"5a4801aa.f16b8","name":"yandex_intent_response","server":"2f85ac72.940ba4","event":"yandex_intent_response","data":"{\"event_data_template\":{\"text\":\"{{ ['оки-доки']|random }}\"}}","dataType":"json","x":440,"y":540,"wires":[[]]},{"id":"bdebd7af.fb6fb8","type":"trigger","z":"5a4801aa.f16b8","name":"Repeat 15s","op1":"","op2":"","op1type":"date","op2type":"pay","duration":"-15","extend":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":630,"y":120,"wires":[["aa3b8d9c.02de5"]]},{"id":"7dcdd3e7.d8a0ac","type":"subflow:480915c9.c5516c","z":"f9029196.f71a4","name":"Кухня — подсветка по движению — 1 минута","env":[{"name":"switch_id","value":"switch.0x00158d00041e723f_switch","type":"str"},{"name":"sensor_id","value":"binary_sensor.0x00158d0004466dfa_occupancy","type":"str"},{"name":"timeout","value":"1","type":"num"},{"name":"mode","value":"always","type":"str"},{"name":"respect_night_mode","value":"false","type":"bool"}],"x":220,"y":60,"wires":[]},{"id":"3d7a1d4c.ec5e32","type":"subflow:480915c9.c5516c","z":"f9029196.f71a4","name":"Гардеробная — свет по движению — 3 минуты","env":[{"name":"switch_id","value":"switch.0x00158d0002c57b8d_switch","type":"str"},{"name":"sensor_id","value":"binary_sensor.0x00158d0003202704_occupancy","type":"str"},{"name":"timeout","value":"3","type":"num"},{"name":"condition_template","value":"{% if is_state('input_boolean.night_mode', 'on') and is_state('sensor.bedroom_lights', 'off') -%} off {%- else -%} on {%- endif %}","type":"str"},{"name":"mode","value":"basic","type":"str"}],"x":230,"y":120,"wires":[]},{"id":"a74249d0.440c18","type":"subflow:480915c9.c5516c","z":"f9029196.f71a4","name":"Гардеробная (д) — 2 минуты","env":[{"name":"switch_id","value":"switch.0x00158d0002c5ff27_switch","type":"str"},{"name":"sensor_id","value":"binary_sensor.0x00158d00047b9ae6_occupancy","type":"str"},{"name":"mode","value":"basic","type":"str"}],"x":170,"y":180,"wires":[]},{"id":"51c72224.44cc8c","type":"subflow:480915c9.c5516c","z":"f9029196.f71a4","name":"Санузел — свет по движению — 3 минуты","env":[{"name":"switch_id","value":"switch.0x00158d0002f9b20a_switch_left","type":"str"},{"name":"sensor_id","value":"binary_sensor.0x00158d00047b87f4_occupancy","type":"str"},{"name":"timeout","value":"3","type":"num"},{"name":"condition_template","value":"{% if is_state('input_boolean.night_mode', 'on') and is_state('sensor.bedroom_lights', 'off') -%} off {%- else -%} on {%- endif %}","type":"str"},{"name":"mode","value":"basic","type":"str"}],"x":210,"y":240,"wires":[]},{"id":"f606c8c8.5ddc88","type":"subflow:480915c9.c5516c","z":"f9029196.f71a4","name":"Санузел (д) — свет по движению — 3 минуты","env":[{"name":"switch_id","value":"switch.0x00158d0002f9b1e5_switch_left","type":"str"},{"name":"sensor_id","value":"binary_sensor.0x00158d00032027ac_occupancy","type":"str"},{"name":"timeout","value":"3","type":"num"},{"name":"condition_template","value":"{% if is_state('input_boolean.night_mode', 'on') and is_state('sensor.primary_lights', 'off') -%} off {%- else -%} on {%- endif %}","type":"str"},{"name":"mode","value":"basic","type":"str"}],"x":220,"y":300,"wires":[]},{"id":"8f9d58bb.179ac8","type":"subflow:480915c9.c5516c","z":"f9029196.f71a4","name":"Балкон — только ночью","env":[{"name":"switch_id","value":"switch.0x00158d0003455ca6_switch","type":"str"},{"name":"sensor_id","value":"binary_sensor.0x00158d0004466e9d_occupancy","type":"str"},{"name":"timeout","value":"3","type":"num"},{"name":"condition_template","value":"{% if is_state('input_boolean.night_mode', 'on') -%} on {%- else -%} off {%- endif %}","type":"str"},{"name":"mode","value":"night_only","type":"str"}],"x":150,"y":360,"wires":[]},{"id":"8c530766.b834d8","type":"api-call-service","z":"f9029196.f71a4","name":"Включить","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.0x00158d0003536e36_switch","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":290,"y":500,"wires":[[]]},{"id":"b4ed1953.dc20a8","type":"api-call-service","z":"f9029196.f71a4","name":"Выключить","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.0x00158d0003536e36_switch","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":290,"y":540,"wires":[[]]},{"id":"faac3584.29c348","type":"comment","z":"f9029196.f71a4","name":"Гардеробная — допсвет","info":"Прямая связь выключателя света в гардеробной и подсветки","x":150,"y":460,"wires":[]},{"id":"53a38e3c.71685","type":"server-state-changed","z":"f9029196.f71a4","name":"Switch","server":"2f85ac72.940ba4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.0x00158d0002c57b8d_switch","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":520,"wires":[["8c530766.b834d8"],["b4ed1953.dc20a8"]]},{"id":"bec53dbb.4fc17","type":"server-state-changed","z":"f9029196.f71a4","name":"Click","server":"2f85ac72.940ba4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.0x00158d0003055863_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"single","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":610,"y":120,"wires":[["d1f164a4.8096b8"],[]]},{"id":"3d1d5cee.f5e534","type":"comment","z":"f9029196.f71a4","name":"Гостиная — кнопка (верх)","info":"0x00158d0003136ee6","x":670,"y":60,"wires":[]},{"id":"d1f164a4.8096b8","type":"api-call-service","z":"f9029196.f71a4","name":"Переключить свет в гостиной","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"switch","service":"toggle","entityId":"switch.0x00158d0002f93e70_switch_left","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":870,"y":120,"wires":[[]]},{"id":"bcc65cf.348b1a","type":"server-state-changed","z":"f9029196.f71a4","name":"Click","server":"2f85ac72.940ba4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.0x00158d0003057c9b_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"single","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":610,"y":260,"wires":[["c868e6bd.48cc68"],[]]},{"id":"9d2c528e.8551a","type":"comment","z":"f9029196.f71a4","name":"Гостиная — кнопка (низ)","info":"0x00158d0003057c9","x":670,"y":200,"wires":[]},{"id":"c868e6bd.48cc68","type":"api-call-service","z":"f9029196.f71a4","name":"Переключить свет в коридоре","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"switch","service":"toggle","entityId":"switch.0x00158d0002f9cb46_switch_right","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":870,"y":260,"wires":[[]]},{"id":"1150229c.4c678d","type":"server-state-changed","z":"f9029196.f71a4","name":"Click","server":"2f85ac72.940ba4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.0x00158d000344e6c7_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"single","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":700,"wires":[["a315bead.2aca7"],[]]},{"id":"a315bead.2aca7","type":"api-call-service","z":"f9029196.f71a4","name":"Люстра вкл/выкл","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.liustra_v_detskoi","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":290,"y":700,"wires":[[]]},{"id":"f3bec25f.a27cf","type":"server-state-changed","z":"f9029196.f71a4","name":"Dbl click","server":"2f85ac72.940ba4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.0x00158d000344e6c7_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"double","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":760,"wires":[["2e0d54d5.49280c"],[]]},{"id":"2e0d54d5.49280c","type":"api-call-service","z":"f9029196.f71a4","name":"Ambilight вкл/выкл","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.liustra_v_detskoi_ambilight","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":290,"y":760,"wires":[[]]},{"id":"385b83cc.989b9c","type":"comment","z":"f9029196.f71a4","name":"Детская — управление люстрой","info":"0x00158d0003136ee6","x":180,"y":640,"wires":[]},{"id":"8e332fa0.e7d96","type":"server-state-changed","z":"f9029196.f71a4","name":"Click","server":"2f85ac72.940ba4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.0x00158d0002a8f722_click","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"single","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":920,"wires":[["bec9d26d.f9bc9"],[]]},{"id":"626faf5.5b74e5","type":"comment","z":"f9029196.f71a4","name":"Детская — свет в гардеробной","info":"0x00158d0003136ee6","x":170,"y":860,"wires":[]},{"id":"bec9d26d.f9bc9","type":"api-call-service","z":"f9029196.f71a4","name":"Переключить свет в гардеробной","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"switch","service":"toggle","entityId":"switch.0x00158d0002c5ff27_switch","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":340,"y":920,"wires":[[]]},{"id":"10cfb3bc.265eac","type":"api-call-service","z":"a9a4b17b.9f4fa","name":"Включить вытяжку","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"${switch}","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":540,"y":100,"wires":[[]]},{"id":"8741a88d.c867f8","type":"server-state-changed","z":"a9a4b17b.9f4fa","name":"Влажность ","server":"2f85ac72.940ba4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"${humidity}","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"num","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":90,"y":220,"wires":[["97955200.9e705","b46e6af2.f11258"]]},{"id":"97955200.9e705","type":"function","z":"a9a4b17b.9f4fa","name":"","func":"const humidity = +msg.payload\nconst reference = +global.get('homeassistant').homeAssistant.states['sensor.0xbc33acfffe26dc80_humidity'].state\n\nif (!humidity) {\n    return {}\n}\n\nconst payload = humidity > (reference + 10)\n    ? 'on'\n    : 'off'\n\nreturn {\n    payload,\n    data: {\n        humidity,\n        reference\n    }\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":100,"wires":[["e25be3e.d47432"]]},{"id":"e25be3e.d47432","type":"switch","z":"a9a4b17b.9f4fa","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":100,"wires":[["10cfb3bc.265eac","260dabef.2bae44"],["df00a08d.81003"]]},{"id":"df00a08d.81003","type":"trigger","z":"a9a4b17b.9f4fa","name":"Timer","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"5","extend":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":410,"y":280,"wires":[["f8aae403.567ce8"]]},{"id":"260dabef.2bae44","type":"change","z":"a9a4b17b.9f4fa","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":180,"wires":[["df00a08d.81003"]]},{"id":"f8aae403.567ce8","type":"api-call-service","z":"a9a4b17b.9f4fa","name":"Выключить вытяжку","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"${switch}","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":620,"y":280,"wires":[[]]},{"id":"d460081e.55d218","type":"server-state-changed","z":"a9a4b17b.9f4fa","name":"Switch","server":"9027932f.54cb4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"${switch}","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":280,"wires":[["97955200.9e705","d02ae80c.3d7e08"],["260dabef.2bae44","d02ae80c.3d7e08"]]},{"id":"ea92b169.c325a","type":"subflow:a9a4b17b.9f4fa","z":"df5c2813.57d0c8","name":"Санузел — вытяжка","env":[{"name":"humidity","value":"sensor.0xbc33acfffe26dc7e_humidity","type":"str"},{"name":"switch","value":"switch.0x00158d0002f9b20a_switch_right","type":"str"}],"x":140,"y":60,"wires":[]},{"id":"6cf272a2.d0bdcc","type":"subflow:a9a4b17b.9f4fa","z":"df5c2813.57d0c8","name":"Гостевой санузел — вытяжка","env":[{"name":"humidity","value":"sensor.0xbc33acfffe28b298_humidity","type":"str"},{"name":"switch","value":"switch.0x00158d0002f9b1e5_switch_right","type":"str"}],"x":170,"y":120,"wires":[]},{"id":"4b09e6c.a5f6618","type":"template","z":"a9a4b17b.9f4fa","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"str","x":260,"y":520,"wires":[[]]},{"id":"b46e6af2.f11258","type":"change","z":"a9a4b17b.9f4fa","name":"","rules":[{"t":"set","p":"current_humidity","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":380,"wires":[["d8487d24.a6f1a"]]},{"id":"d02ae80c.3d7e08","type":"change","z":"a9a4b17b.9f4fa","name":"","rules":[{"t":"set","p":"current_status","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":420,"wires":[["d8487d24.a6f1a"]]},{"id":"d8487d24.a6f1a","type":"function","z":"a9a4b17b.9f4fa","name":"","func":"\nreturn {\n    payload: `${flow.get('current_humidity')} (${flow.get('current_status') || 'off'})`\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":400,"wires":[["4b09e6c.a5f6618"]]},{"id":"e5a9de0b.9ca24","type":"server-state-changed","z":"15fec91b.db6397","name":"Flip90","server":"2f85ac72.940ba4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.0x00158d00029bf51f_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"flip90","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":1380,"wires":[["d5fc0a59.68a478"],[]]},{"id":"1ccaf8a3.5b9237","type":"api-call-service","z":"15fec91b.db6397","name":"Включить люстру","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.0x00158d0002f9b17b_switch_left","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":670,"y":1360,"wires":[[]]},{"id":"d5fc0a59.68a478","type":"api-current-state","z":"15fec91b.db6397","name":"Люстра выключена","server":"2f85ac72.940ba4","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.0x00158d0002f9b17b_switch_left","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":300,"y":1380,"wires":[["1ccaf8a3.5b9237","f4184d49.e80f5"],["850a7c98.f4cb1","2c48e0bb.898ad"]]},{"id":"850a7c98.f4cb1","type":"api-call-service","z":"15fec91b.db6397","name":"Выключить люстру","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.0x00158d0002f9b17b_switch_left","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":1480,"wires":[[]]},{"id":"f4184d49.e80f5","type":"api-call-service","z":"15fec91b.db6397","name":"Включить группу","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.0x00158d0002f9b17b_switch_right","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":670,"y":1400,"wires":[[]]},{"id":"2c48e0bb.898ad","type":"api-call-service","z":"15fec91b.db6397","name":"Выключить группу","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.0x00158d0002f9b17b_switch_right","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":670,"y":1440,"wires":[[]]},{"id":"3e6093cd.22439c","type":"server-state-changed","z":"15fec91b.db6397","name":"Shake","server":"2f85ac72.940ba4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.0x00158d00029bf51f_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"shake","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":1460,"wires":[["57ee488c.347778"],[]]},{"id":"57ee488c.347778","type":"api-call-service","z":"15fec91b.db6397","name":"Лампа Димы — вкл/выкл","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.0x00158d0004248f9c_light","data":"{\"brightness_pct\":50}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":320,"y":1460,"wires":[[]]},{"id":"fad6a326.b5c2c","type":"server-state-changed","z":"15fec91b.db6397","name":"Rotate Left","server":"2f85ac72.940ba4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.0x00158d00029bf51f_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"rotate_left","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":1560,"wires":[["217e7a5f.1fa226"],[]]},{"id":"c8d414cc.107f68","type":"api-call-service","z":"15fec91b.db6397","name":"Уменьшить яркость","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.0x00158d0004248f9c_light","data":"{\"brightness_step_pct\":-10,\"transition\":0.5}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":540,"y":1560,"wires":[[]]},{"id":"6b21beb2.daff1","type":"state-machine","z":"15fec91b.db6397","d":true,"name":"Температура","triggerProperty":"payload","triggerPropertyType":"msg","stateProperty":"payload","statePropertyType":"msg","outputStateChangeOnly":false,"throwException":false,"states":["153","268","383","500"],"transitions":[{"name":"on","from":"153","to":"268"},{"name":"on","from":"268","to":"383"},{"name":"on","from":"383","to":"500"},{"name":"on","from":"500","to":"153"}],"x":480,"y":1760,"wires":[["3faf6c2d.f69f44"]]},{"id":"657f538d.afd0cc","type":"server-state-changed","z":"15fec91b.db6397","name":"Slide","server":"2f85ac72.940ba4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.0x00158d00029bf51f_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"slide","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":1760,"wires":[["b4daab74.d7fdb8"],[]]},{"id":"217e7a5f.1fa226","type":"api-current-state","z":"15fec91b.db6397","name":"Лампа включена?","server":"2f85ac72.940ba4","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.0x00158d0004248f9c_light","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":310,"y":1560,"wires":[["c8d414cc.107f68"],[]]},{"id":"5c21ca30.e56204","type":"server-state-changed","z":"15fec91b.db6397","name":"Rotate Right","server":"2f85ac72.940ba4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.0x00158d00029bf51f_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"rotate_right","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":1640,"wires":[["974e92f4.2829e"],[]]},{"id":"b2b093a0.2b8a","type":"api-call-service","z":"15fec91b.db6397","name":"Увеличить яркость","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.0x00158d0004248f9c_light","data":"{\"brightness_step_pct\":10,\"transition\":0.5}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":540,"y":1640,"wires":[[]]},{"id":"974e92f4.2829e","type":"api-current-state","z":"15fec91b.db6397","name":"Лампа включена?","server":"2f85ac72.940ba4","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.0x00158d0004248f9c_light","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":310,"y":1640,"wires":[["b2b093a0.2b8a"],[]]},{"id":"be7acd37.4b423","type":"api-call-service","z":"15fec91b.db6397","name":"153","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.0x00158d0004248f9c_light","data":"{\"color_temp\":153,\"transition\":0.5}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":1640,"wires":[[]]},{"id":"3faf6c2d.f69f44","type":"switch","z":"15fec91b.db6397","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"153","vt":"str"},{"t":"eq","v":"268","vt":"str"},{"t":"eq","v":"383","vt":"str"},{"t":"eq","v":"500","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":650,"y":1760,"wires":[["be7acd37.4b423"],["aa498846.ae0ba8"],["b6ca8a6e.880c98"],["52936c9c.ce2e44"]]},{"id":"b6ca8a6e.880c98","type":"api-call-service","z":"15fec91b.db6397","name":"383","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.0x00158d0004248f9c_light","data":"{\"color_temp\":383,\"transition\":0.5}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":1760,"wires":[[]]},{"id":"aa498846.ae0ba8","type":"api-call-service","z":"15fec91b.db6397","name":"268","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.0x00158d0004248f9c_light","data":"{\"color_temp\":268,\"transition\":0.5}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":1700,"wires":[[]]},{"id":"52936c9c.ce2e44","type":"api-call-service","z":"15fec91b.db6397","name":"500","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.0x00158d0004248f9c_light","data":"{\"color_temp\":500,\"transition\":0.5}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":1820,"wires":[[]]},{"id":"3063d792.423a88","type":"server-state-changed","z":"15fec91b.db6397","name":"Flip180","server":"2f85ac72.940ba4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.0x00158d00029bf51f_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"flip180","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":1860,"wires":[["f04ac125.844bf","3e9bcdfe.26daf2"],[]]},{"id":"f04ac125.844bf","type":"api-call-service","z":"15fec91b.db6397","name":"Выключить свет в гардеробе","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.0x00158d0002c57b8d_switch","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":310,"y":1840,"wires":[[]]},{"id":"3e9bcdfe.26daf2","type":"api-call-service","z":"15fec91b.db6397","name":"Выключить свет в санузле","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.0x00158d0002f9b20a_switch_left","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":300,"y":1880,"wires":[[]]},{"id":"30070dfe.7cc572","type":"comment","z":"15fec91b.db6397","name":"Спальня — кубик","info":"0x00158d0003057c9","x":130,"y":1320,"wires":[]},{"id":"b4daab74.d7fdb8","type":"api-current-state","z":"15fec91b.db6397","name":"Лампа включена?","server":"2f85ac72.940ba4","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.0x00158d0004248f9c_light","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":270,"y":1760,"wires":[["6b21beb2.daff1"],[]]},{"id":"cbd176de.ddb378","type":"server-state-changed","z":"15fec91b.db6397","name":"Flip90","server":"2f85ac72.940ba4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.0x00158d0002a6f8d7_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"flip90","halt_if_type":"re","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":1000,"wires":[["96004a08.8f7e38"],[]]},{"id":"96004a08.8f7e38","type":"api-call-service","z":"15fec91b.db6397","name":"Переключить свет в кабинете","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"switch","service":"toggle","entityId":"switch.0x00158d0002c5e4a2_switch","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":370,"y":1000,"wires":[[]]},{"id":"ab4277ac.758688","type":"server-state-changed","z":"aced6319.729be","name":"NM","server":"2f85ac72.940ba4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.night_mode","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":560,"wires":[["9d79159b.978198"],["b968411e.ed07e"]]},{"id":"9d79159b.978198","type":"api-call-service","z":"aced6319.729be","name":"Подсветка коридора вкл","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.verkhniaia_podsvetka","data":"{\"transition\":60,\"brightness\":100,\"rgb_color\":[36,36,255]}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":340,"y":500,"wires":[[]]},{"id":"b968411e.ed07e","type":"api-call-service","z":"aced6319.729be","name":"Подсветка коридора выкл","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.verkhniaia_podsvetka","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":340,"y":580,"wires":[[]]},{"id":"ac622311.3a694","type":"comment","z":"aced6319.729be","name":"Ночная подсветка коридора, гостиной и кухни","info":"0x00158d0003136ee6","x":220,"y":440,"wires":[]},{"id":"a5565942.246d58","type":"comment","z":"f9029196.f71a4","name":"Гостиная — левая кнопка выключателя","info":"","x":720,"y":360,"wires":[]},{"id":"4713b295.a3858c","type":"server-state-changed","z":"f9029196.f71a4","name":"Click","server":"2f85ac72.940ba4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.0x00158d0002f93e70_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"single_right","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":610,"y":420,"wires":[["f7cf7ac.31afe88"],[]]},{"id":"f7cf7ac.31afe88","type":"api-call-service","z":"f9029196.f71a4","name":"Переключить свет в коридоре","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"switch","service":"toggle","entityId":"switch.0x00158d0002f9cb46_switch_right","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":870,"y":420,"wires":[[]]},{"id":"f88ad238.434f","type":"comment","z":"f9029196.f71a4","name":"Коридор — правая кнопка выключателя","info":"","x":720,"y":520,"wires":[]},{"id":"74b540d0.338ba","type":"server-state-changed","z":"f9029196.f71a4","name":"Click","server":"2f85ac72.940ba4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.0x00158d0002f9cb46_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"single_left","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":610,"y":580,"wires":[["5ba05e2a.f63a1"],[]]},{"id":"5ba05e2a.f63a1","type":"api-call-service","z":"f9029196.f71a4","name":"Переключить свет в гостиной","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"switch","service":"toggle","entityId":"switch.0x00158d0002f93e70_switch_left","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":870,"y":580,"wires":[[]]},{"id":"f81a51a7.98bc2","type":"server-state-changed","z":"2675cd73.bc5b22","name":"Балконная дверь","server":"2f85ac72.940ba4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.0x00158d00044d9900_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":130,"y":320,"wires":[["709f77c5.4d1008"],["eb82e9d.b675218"]]},{"id":"709f77c5.4d1008","type":"api-call-service","z":"2675cd73.bc5b22","name":"Notify","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"telegram_bot","service":"send_message","entityId":"","data":"{\"message\":\"Дверь на балкон открыта!\",\"target\":[170320864,303976871]}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":330,"y":280,"wires":[[]]},{"id":"eb82e9d.b675218","type":"api-call-service","z":"2675cd73.bc5b22","d":true,"name":"Notify","server":"2f85ac72.940ba4","version":1,"debugenabled":false,"service_domain":"telegram_bot","service":"send_message","entityId":"","data":"{\"message\":\"Дверь на балкон закрыта\",\"target\":[170320864,303976871]}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":330,"y":360,"wires":[[]]}]